---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset 'utf-8';

@import 'https://fonts.googleapis.com/css?family=Playfair+Display:400,700';

// Our variables.
$base-font-family: 'Helvetica Neue', Helvetica, sans-serif;
$brand-font-family: 'Playfair Display', 'Times New Roman', 'Times Roman', Times, serif;
$heading-font-family: 'Playfair Display', 'Times New Roman', 'Times Roman', Times, serif;
$mono-font-family: Menlo, Consolas, monospace;
$alternative-font-family: Gill Sans, Verdana, Helvetica, Geneva, sans-serif;
$base-font-size: 13px;
$small-font-size: $base-font-size * 0.909;
$base-line-height: 1.6;
$spacing-unit: 30px;



// Colors.
$text-color: rgba(0, 0, 0, 0.85);
// $background-color: #fdfbf5; // this
// $background-color: #f7f7ef;
// $background-color: #f2f2ef;
// $background-color: #f7f9fd;
// $background-color: #fff6f2;
// $background-color: #f3f3f0;
// $background-color: #f5efeb;
// $background-color: #f2f3ec;
$background-color: #f1f2ed;

$color-black: #000;
$color-blue: #3f4e79;
$color-grey: #828282;
$color-grey-200: #eee;
$color-grey-800: #424242;
$color-grey-900: #212121;
$color-white: #fff;

$link-color: #3a7aba;
// $alternative-link-color: #66005e;
$link-color-alt: #3f4e79;



// Width of the content area.
$content-width:	936px;
$on-palm:				600px;
$on-laptop:			640px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
	@media screen and (max-width: $device) {
		@content;
	}
}



// Import partials from `sass_dir` (defaults to `_sass`).
@import 
	'base', 
	'layout', 
	'syntax-highlighting', 
	'hugrid';
