---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset 'utf-8';

$base-font-size-sm: 1rem;
$base-font-size-md: 1rem;
$base-font-size-lg: 1rem;

$day__navbar-bg-color: #8a74b9;
$navbar-a-font-weight: 400;
$navbar-min-height:    56px;
$md-navbar-min-height: 64px;

$day__navbar__input-bg-color:                transparent;
$day__navbar__input-border-color:            rgba( #fff, 0.25 ) !important;
$day__navbar__input-color:                   rgba( #fff, 0.9 );
$day__navbar__input-placeholder-color:       rgba( #fff, 0.5 );

$day__navbar__input-hover-bg-color:          transparent;

$day__navbar__input-focus-bg-color:          transparent;
$day__navbar__input-focus-border-color:      rgba( #fff, 0.6 ) !important;
$day__navbar__input-focus-box-shadow:        inset 0 0 0 0.063rem $day__navbar__input-focus-border-color;
$day__navbar__input-focus-placeholder-color: rgba( #fff, 0.25 );

$day__navbar__input-active-border-color:     $day__navbar__input-focus-border-color;

$day__body-bg-color: #fff;
$day__body-color:    rgba( #000, 0.9 );

$day__a-color:         #8a74b9;
$a-font-weight:        500;
$day__a-visited-color: $day__a-color;
$day__a-hover-color:   darken( $day__a-color, 15% );

$a-border-bottom-width:            0.063rem;
$a-border-bottom-style:            solid;
$day__a-border-bottom-color:       $day__a-color;
$day__a-hover-border-bottom-color: $day__a-hover-color;

$container-max-width: 2048px;

$drawer-max-width: 280px;

// Import partials from `sass_dir` (defaults to `_sass`)

@import
	'style',
	'syntax-highlighting',
	'font';
