---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500'); // |Old+Standard+TT:400,400i,700|Cardo:400,400i,700');

$site-background-color: #fff;
// $page-content-background-color: #fff;

$base-font-family: 'ET Book', Georgia, 'Times New Roman', Times, Serif;
$secondary-font-family: 'Work Sans', 'Helvetica Neue', Helvetica, sans-serif;
$code-font-family: monospace;

$base-font-size-sm: 1em;     // 16px
$base-font-size-md: 1.063em; // 17px
$base-font-size-lg: 1.250em; // 20px

$border-color: transparentize(#333, 0.87);
$border-radius: 4px;

// Import partials from `sass_dir` (defaults to `_sass`)
@import 
	'style',
	'syntax-highlighting',
	'font';
