---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset 'utf-8';

// Our variables
$base-font-family: Helvetica, sans-serif;
$brand-font-family: 'Playfair Display', 'Times New Roman', 'Times Roman', Times, serif;
$heading-font-family: Helvetica, sans-serif;
$mono-font-family: Menlo, Consolas, monospace;
$alternative-font-family: Gill Sans, Verdana, Helvetica, Geneva, sans-serif;
$base-font-size: 16px;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;
$spacing-unit: 30px;



// Colors
$text-color: #212121;
$background-color: #fff;

$color-black: #000;
$color-blue: #3f4e79;
$color-grey: #888;
$color-grey-200: #eee;
$color-grey-300: #e0e0e0;
$color-grey-400: #bdbdbd;
$color-grey-500: #9e9e9e;
$color-grey-600: #757575;
$color-grey-800: #424242;
$color-grey-900: #212121;
$color-red: #ba3925;
$color-white: #fff;

$link-color: #2f79af;
$link-visited-color: #2f79af;
$link-active-color: $color-grey-600;
$link-hover-color: lighten($link-color, 15%);

$link-alt-color: $text-color; // #9cc7bd;
$link-alt-visited-color: $text-color;
$link-alt-active-color: $color-grey-600;
$link-alt-hover-color: lighten($link-alt-color, 35%);



// Width of the content area
$content-width:	1200px;
// $on-palm:				360px;
// $on-laptop:			768px;
// $on-tablet-max: 767px;
// $on-tablet-min: 768px;

$on-1024: 1024px;




// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
// @mixin media-query($device) {
// 	@media screen and (max-width: $device) {
// 		@content;
// 	}
// }

// @mixin media-query-max($device) {
// 	@media screen and (max-width: $device) {
// 		@content;
// 	}
// }

// @mixin media-query-min($device) {
// 	@media screen and (min-width: $device) {
// 		@content;
// 	}
// }

@mixin media-query-min-width($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import 
	'base', 
	'layout', 
	'syntax-highlighting';
