---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset 'utf-8';

// Our variables
$base-font-family: Helvetica, sans-serif;
$heading-font-family: Helvetica, sans-serif;
$mono-font-family: Menlo, Monaco, Consolas, monospace;
$base-font-size: 16px;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;
$spacing-unit: 30px;



// Colors
$text-color: #111;
// $background-color: #fff;
// $background-color: #ffe9e3;
$background-color: #efe9ea;

$color-black: #000;
$color-blue: #3f4e79;
$color-grey: #888;
$color-grey-50: #fafafa;
$color-grey-200: #eee;
$color-grey-300: #e0e0e0;
$color-grey-400: #bdbdbd;
$color-grey-500: #9e9e9e;
$color-grey-600: #757575;
$color-grey-800: #424242;
$color-grey-900: #212121;
$color-red: #ba3925;
$color-white: #fff;

// $link-color: #2f79af;
// $link-visited-color: #2f79af;
$link-color: #e57373;
$link-visited-color: #e57373;
$link-active-color: $color-grey-600;
// $link-hover-color: darken($link-color, 20%);
// $link-hover-color: lighten($link-color, 9%);
$link-hover-color: $text-color;

$border-color: rgba(0, 0, 0, 0.1);



// Width of the content area
$content-width:	1200px;
// $on-palm:				360px;
// $on-laptop:			768px;
// $on-tablet-max: 767px;
// $on-tablet-min: 768px;

$width-568: 568px;
$width-569: 569px;
$width-767: 767px;
$width-768: 768px;
$width-1023: 1023px;
$width-1024: 1024px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
// @mixin media-query($device) {
// 	@media screen and (max-width: $device) {
// 		@content;
// 	}
// }

@mixin media-query-max-width($max) {
  @media screen and (max-width: $max) {
    @content;
  }
}

@mixin media-query-min-width($min) {
  @media screen and (min-width: $min) {
    @content;
  }
}

@mixin media-query-min-and-max-width($min, $max) {
  @media screen and (min-width: $min) and (max-width: $max) {
    @content;
  }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import 
	'base', 
	'layout', 
	'syntax-highlighting';
