---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset 'utf-8';

// Fonts
// @import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900,900i');
// @import url('https://fonts.googleapis.com/css?family=Ultra');

// @font-face {
//   font-family: 'DINNextRoundedLTPro_Medium';
//   src: url('../fonts/DINNextRoundedLTPro-Medium.eot');
//   src: url('../fonts/DINNextRoundedLTPro-Medium.eot?#iefix') format('embedded-opentype'),
//        url('../fonts/DINNextRoundedLTPro-Medium.woff')       format('woff'),
//        url('../fonts/DINNextRoundedLTPro-Medium.ttf')        format('truetype');
//   font-weight: 500;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'DINNextRoundedLTPro_Light';
//   src: url('../fonts/DINNextRoundedLTPro-Light.eot');
//   src: url('../fonts/DINNextRoundedLTPro-Light.eot?#iefix') format('embedded-opentype'),
//        url('../fonts/DINNextRoundedLTPro-Light.woff')       format('woff'),
//        url('../fonts/DINNextRoundedLTPro-Light.ttf')        format('truetype');
//   font-weight: 300;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'DINNextRoundedLTPro_Bold';
//   src: url('../fonts/DINNextRoundedLTPro-Bold.eot');
//   src: url('../fonts/DINNextRoundedLTPro-Bold.eot?#iefix') format('embedded-opentype'),
//        url('../fonts/DINNextRoundedLTPro-Bold.woff')       format('woff'),
//        url('../fonts/DINNextRoundedLTPro-Bold.ttf')        format('truetype');
//   font-weight: bold;
//   font-style: normal;
// }

@font-face {
  font-family: 'CP437';
  src: url('../fonts/cp437/cp437.eot');
  src: url('../fonts/cp437/cp437.woff') format('woff'), 
       url('../fonts/cp437/cp437.ttf') format('truetype'), 
       url('../fonts/cp437/cp437.svg#webfontpVS4iJcr') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CP437 8x8';
  src: url('../fonts/cp437/cp437-8x8.eot');
  src: url('../fonts/cp437/cp437-8x8.woff') format('woff'), 
       url('../fonts/cp437/cp437-8x8.ttf') format('truetype'), 
       url('../fonts/cp437/cp437-8x8.svg#webfontpVS4iJcr') format('svg');
  font-weight: normal;
  font-style: normal;
}



// Our variables
$base-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
// $heading-font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$mono-font-family: Monaco, Consolas, monospace;
$ansi-font-family: 'CP437', Monaco, Consolas, monospace;
$base-font-size: 14px;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.42857143;
$spacing-unit: 30px;



// Colors
$text-color: #333;
$heading-color: #333;
$background-color: #fff;

$color-black: #000;
// $color-blue: #4166ff;
// $color-blue-light: #6682ff;
// $color-blue: #005bff;
$color-blue: #00f;
$color-cyan: #088;
$color-grey-50: #fafafa;
$color-grey-100: #f5f5f5;
$color-grey-200: #eee;
$color-grey-300: #e0e0e0;
$color-grey-400: #bdbdbd;
$color-grey-500: #9e9e9e;
$color-grey-600: #757575;
$color-grey-700: #616161;
$color-grey-800: #424242;
$color-grey-900: #212121;

// $color-orange: #fe713e;
// $color-orange: #ff764d;
// $color-orange: #ffb870;
$color-orange: #f07834;
// $color-purple: #60f;
$color-purple: #7600e2;
// $color-red: #ff4538;
// $color-red: #fd5948;
$color-red: #f35a4e;
// $color-yellow: #fed134;
$color-yellow: #e19e29;



$link-color: $text-color;
$link-visited-color: $text-color;
$link-active-color: $color-grey-600;
$link-hover-color: $color-orange;

$heading-link-color: $color-red;
$heading-link-visited-color: $color-red;
$heading-link-active-color: $color-grey-600;
$heading-link-hover-color: $text-color;

// $link-color: #398fd1;
// $link-visited-color: #62a6db;
// $link-active-color: $color-grey-600;
// $link-hover-color: $text-color;

// $link-color: #2f79af;
// $link-visited-color: lighten($link-color, 12%);
// $link-active-color: $color-grey-600;
// $link-hover-color: $text-color;

// $link-color: #0b79e5;
// $link-visited-color: lighten($link-color, 10%);
// $link-active-color: $color-grey-600;
// $link-hover-color: $text-color;

// $link-color: #b97048;
// $link-visited-color: #9d8376;
// $link-active-color: $color-grey-600;
// $link-hover-color: $text-color;

// $link-color: #c37000;
// $link-visited-color: #d29440;
// $link-active-color: $color-grey-600;
// $link-hover-color: $text-color;

$link-heading-color: $heading-color;
$link-heading-visited-color: $heading-color;
$link-heading-active-color: $color-grey-600;
$link-heading-hover-color: $link-hover-color;

$link-category-color: $color-orange;
$link-category-visited-color: lighten($link-category-color, 12%);
$link-category-active-color: $color-grey-600;
$link-category-hover-color: $text-color;

$border-color: $color-grey-300;
$selection-bg-color: $color-blue;


$heading-weight: 700;



// Width of the content area
$content-width:	1100px;
// $on-palm:				360px;
// $on-laptop:			768px;
// $on-tablet-max: 767px;
// $on-tablet-min: 768px;

$width-479: 479px;
$width-480: 480px;
$width-568: 568px;
$width-569: 569px;
$width-767: 767px;
$width-768: 768px;
$width-1023: 1023px;
$width-1024: 1024px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
// @mixin media-query($device) {
// 	@media screen and (max-width: $device) {
// 		@content;
// 	}
// }

@mixin media-query-max-width($max) {
  @media screen and (max-width: $max) {
    @content;
  }
}

@mixin media-query-min-width($min) {
  @media screen and (min-width: $min) {
    @content;
  }
}

@mixin media-query-min-and-max-width($min, $max) {
  @media screen and (min-width: $min) and (max-width: $max) {
    @content;
  }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import 
  'style',
  'syntax-highlighting';

	// 'base', 
	// 'layout',
	// 'syntax-highlighting';

