---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic|Roboto+Mono:300,300italic,400,400italic,700,700italic|Roboto+Slab:400,700);
// @import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic|Roboto+Mono:300,300italic,400,400italic,700,700italic|Roboto+Slab:400,700|Ultra);

// Our variables.
// $base-font-family: Helvetica, Arial, sans-serif;
$base-font-family: 'Roboto', sans-serif;
$title-font-family: 'Roboto Mono', Consolas, monaco, monospace;
// $title-font-family: 'Ultra', 'Roboto Slab', 'Roboto', sans-serif;
$heading-font-family: 'Roboto Mono', Consolas, monaco, monospace;
// $heading-font-family: 'Roboto Slab', 'Roboto', sans-serif;
$mono-font-family: 'Roboto Mono', Consolas, monaco, monospace;
$base-font-size:   14px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     20px;



// Colors.
$text-color:       #222;
$background-color: #fff;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$color-black: #000;
$color-cyan-600: #00acc1;
$color-darkgray: #555;
$color-grey-100: #f5f5f5;



// Width of the content area.
$content-width:    940px;

$on-palm:          600px;
$on-laptop:        940px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
