---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset 'utf-8';

@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);

// Our variables.
$mono-font-family: 'Inconsolata', Menlo, Consolas, monospace;
$base-font-family: $mono-font-family;
$title-font-family: $mono-font-family;
$heading-font-family: $mono-font-family;
$base-font-size: 16px;
$small-font-size: $base-font-size * 0.813;
$base-line-height: 1.4;
$spacing-unit: 30px;



// Colors.
$text-color: #757575;
$background: transparent linear-gradient(180deg, rgba(225, 190, 231, 0.6) 0%, #b2dfdb 100%) no-repeat scroll 0% 0%;

$color-grey: #828282;
$color-grey-dark: darken($color-grey, 25%);
$color-grey-light: #eee;
$color-grey-semilight: #ccc;

$color-black: #000;
$color-black-15: rgba(0, 0, 0, 0.15);
$color-black-20: rgba(0, 0, 0, 0.2);
$color-black-85: rgba(0, 0, 0, 0.85);
$color-blue: #0258e2;
$color-teal: #4db6ac;
$color-white: #fff;
$color-white-20: rgba(255, 255, 255, 0.2);
$color-white-40: rgba(255, 255, 255, 0.4);
$color-white-60: rgba(255, 255, 255, 0.6);
$color-white-85: rgba(255, 255, 255, 0.85);

// $bg-color-teal: #65ccb8;
// $bg-color-purple: #b8a2fe;
// $bg-color-lightred: #f48e7e;
// $bg-color-cyan: #65b6cc;
// $bg-color-red: #f75c4f;
// $bg-color-yellow: #f1d01b;
// $bg-color-green: #6dcc7a;
// $bg-color-pink: #ec80af;
// $bg-color-lightblue: #82c0d0;
// $bg-color-blue: #81c1f2;
// $bg-color-lightgreen: #a1d461;
// $bg-color-deeporange: #f2693e;
// $bg-color-indigo: #5783c8;
// $bg-color-amber: #ffb244;



// Width of the content area.
$content-width:	100%;
$on-palm:				600px;
$on-laptop:			800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
	@media screen and (max-width: $device) {
		@content;
	}
}



// Import partials from `sass_dir` (defaults to `_sass`).
@import 
	'base', 
	'layout', 
	'syntax-highlighting';
