---
date: 2020-04-01
summary:
layout: page
permalink: /patterns
title: "Pattern Library"
---

<h2>Color Palette</h2>

<br />

<div class="color-palette">
    {% assign colors =
    'primary|neutral-light|neutral-dark|success|danger|warning|accent' | split:
    '|' %} {% for color in colors %}

    <h3>{{color}}</h3>

    <div class="color-palette__group">
        {% for i in (2..8) %}
        <div class="color-palette__item">
            <div class="color-palette__swatch bgc-{{color}}-{{i}}0"></div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
