<div class="awesome-block awesome-block--1">
    <h5>Lectura recomendada</h5>

    {% assign recommended_reading = site.data.recommended_reading | first %}

    <p>
        <i><b><a href="{{ rr.url }}" target="_blank">{{ recommended_reading.title }}</a></b> por {{ recommended_reading.author }}</i>.
        {{ recommended_reading.opinion | strip_html | truncate: 64 }}
        <a href="">Todas las lecturas</a>.
    </p>
</div>

<div class="awesome-block awesome-block--2">
    <h5>En otra parte</h5>

    {% assign author = site.authors['jonathan'] %}

    <p>
        Sígueme en <a href="https://twitter.com/{{ author.twitter_username }}/" target="_blank">Twitter</a>.<br>
        Mis proyectos en <a href="https://github.com/{{ author.github_username }}/" target="_blank">GitHub</a>.<br>
        Mis fotos en <a href="https://www.flickr.com/photos/{{ author.flickr_username }}/" target="_blank">Flickr</a>.
    </p>
</div>

<div class="awesome-block awesome-block--3">
    <h5>Ponerse en contacto</h5>

    <p>
        Escríbeme a mí <a href="mailto:{{ author.email }}">correo electrónico</a> para consultas o simplemente para saludarme.
        <b><a href="mailto:{{ author.email }}">{{ author.email }}</a></b>
    </p>
</div>