<section class="browse">
    <div class="container">
        <div class="grid grid--browse">
            <div class="grid__block grid__block--1">
                <div class="list-group list-group--latest-posts">
                    <h2 class="list-group__head" id="browse-the-latest">
                        Últimas publicaciones
                    </h2>

                    <ul class="list-group__body">
                        {% for post in site.posts limit: 10 %} {% unless
                        post.tags contains 'featured' %}
                        <li>
                            <article
                                class="post post--latest post--latest-{{ forloop.index }} "
                            >
                                <div class="media-object">
                                    <div class="media-object__content">
                                        <header class="post__header">
                                            <div class="post__date">
                                                {% include date.html %}
                                            </div>

                                            <h2 class="post__title">
                                                <a href="{{ post.url }}">
                                                    {{ post.title }}
                                                </a>
                                            </h2>
                                        </header>

                                        {% if post.summary %}
                                        <div
                                            class="post__content post__content--summary"
                                        >
                                            <p>{{ post.summary }}</p>
                                        </div>
                                        {% else %}
                                        <div
                                            class="post__content post__content--excerpt"
                                        >
                                            {{ post.excerpt }}
                                        </div>
                                        {% endif %}

                                        <footer class="post__footer"></footer>
                                    </div>

                                    {% if post.cover %}
                                    <div class="media-object__right">
                                        <a
                                            class="preview-cover preview-cover--w100"
                                        >
                                            <div
                                                class="preview-cover__bg"
                                                style="background-image: url('{{ post.cover }}');"
                                                href=""
                                            ></div>
                                        </a>
                                    </div>
                                    {% endif %}
                                </div>
                            </article>
                        </li>
                        {% endunless %} {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="grid__block grid__block--2">
                <div class="list-group list-group--by-category">
                    <h2 class="list-group__head" id="browse-by-category">
                        Por categoría
                    </h2>
                    <ul class="list-group__body">
                        {% assign categories_list = site.categories | sort %} {%
                        if categories_list.first[0] == null %} {% for category
                        in categories_list %}
                        <li>
                            <a
                                href="#{{ category | downcase | downcase | url_escape | strip }}"
                            >
                                {{ category | camelcase | replace: '-', ' ' }}
                                <span class="amount"
                                    >{{ site.categories[category].size }}</span
                                >
                            </a>
                        </li>
                        {% endfor %} {% else %} {% for category in
                        categories_list %}
                        <li>
                            <a
                                href="#{{ category[0] | downcase | url_escape | strip }}"
                            >
                                {{ category[0] | camelcase | replace: '-', ' '
                                }}
                                <span class="amount"
                                    >{{ category[1].size }}</span
                                >
                            </a>
                        </li>
                        {% endfor %} {% endif %} {% assign categories_list = nil
                        %}
                    </ul>
                </div>
            </div>
            <div class="grid__block grid__block--3">
                <div class="list-group list-group--by-tag">
                    <h2 class="list-group__head" id="browse-by-tag">
                        Por etiqueta
                    </h2>
                    <ul class="list-group__body">
                        {% assign tags_list = site.tags | sort %} {% if
                        tags_list.first[0] == null %} {% for tag in tags_list %}
                        <li>
                            <a
                                href="#{{ tag | downcase | downcase | url_escape | strip }}"
                            >
                                {{ category | camelcase | replace: '-', ' ' }}
                                <span class="amount"
                                    >{{ site.tags[tag].size }}</span
                                >
                            </a>
                        </li>
                        {% endfor %} {% else %} {% for tag in tags_list %}
                        <li>
                            <a
                                href="#{{ tag[0] | downcase | url_escape | strip }}"
                            >
                                {{ tag[0] | camelcase | replace: '-', ' ' }}
                                <span class="amount">{{ tag[1].size }}</span>
                            </a>
                        </li>
                        {% endfor %} {% endif %} {% assign tags_list = nil %}
                    </ul>
                </div>
            </div>
            <div class="grid__block grid__block--4">
                <div class="list-group list-group--by-year">
                    <h2 class="list-group__head" id="browse-by-year">
                        Por año
                    </h2>
                    <ul class="list-group__body">
                        {% assign counter = 0 %} {% for post in site.posts %} {%
                        assign this_year = post.date | date: '%Y' %} {% assign
                        prev_year = post.previous.date | date: '%Y' %} {% assign
                        counter = counter | plus: 1 %} {% if this_year !=
                        prev_year %}
                        <li>
                            <a href="/journal/#{{ post.date | date: '%Y' }}"
                                >{{ this_year }}
                                <span class="amount">{{ counter }}</span></a
                            >
                        </li>
                        {% assign counter = 0 %} {% endif %} {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
