<div class="col-3th__body hyp-auto">
	{% if page.layout == 'post' %}
		<ul class="ls-unstyled ac-c">
			<li class="toc-entry toc-h2"><a href="#examples">Examples</a></li>
			<li class="toc-entry toc-h2"><a href="#button-tags">Button tags</a></li>
			<li class="toc-entry toc-h2"><a href="#outline-buttons">Outline buttons</a></li>
			<li class="toc-entry toc-h2"><a href="#sizes">Sizes</a></li>
			<li class="toc-entry toc-h2"><a href="#active-state">Active state</a></li>
			<li class="toc-entry toc-h2"><a href="#disabled-state">Disabled state</a></li>
			<li class="toc-entry toc-h2"><a href="#button-plugin">Button plugin</a>
				<ul class="ls-unstyled">
					<li class="toc-entry toc-h3"><a href="#toggle-states">Toggle states</a></li>
					<li class="toc-entry toc-h3"><a href="#checkbox-and-radio-buttons">Checkbox and radio buttons</a></li>
					<li class="toc-entry toc-h3"><a href="#methods">Methods</a></li>
				</ul>
			</li>
		</ul>
	{% elsif page.url == '/about' %}
		<h5>
			Contactarme
		</h5>

		<p>
			Escríbeme a mí <a href="mailto:{{ author.email }}">correo electrónico</a> para consultas o simplemente para saludarme.
		</p>

		<h5>
			Proyectos selectos
		</h5>

		<ul class="ls-unstyled ac-c">
			{% assign selected_projects = site.data.selected_projects | sort: 'title' %}
			{% for sp in selected_projects | limit: 6 %}
			  <li>
				<h6 class="m-bottom-0">
					<a href="{{ sp.url }}" target="_blank">
					  {{ sp.title }}
					</a>
				</h6>

				{% if sp.description %}
					<p class="fs-sm">
						{{ sp.description }}
					</p>
				{% endif %}
			  </li>
			{% endfor %}
		</ul>

		<h5>
			Lectura recomendada
		</h5>

		<ul class="ls-unstyled ac-c">
			{% assign recommended_reading = site.data.recommended_reading %}
			{% for rr in recommended_reading | limit: 3 %}
			  <li>
				<h6 class="m-bottom-0">
					<a href="{{ rr.url }}" target="_blank">
					  {{ rr.title }}
					</a>
				</h6>

				<p class="fs-sm">
					<i>por {{ rr.author }}</i>
				</p>
			  </li>
			{% endfor %}
		</ul>
	{% endif %}
</div>