{% if page.date %}
<time datetime="{{ page.date | date_to_xmlschema }}">
    {% assign month = page.date | date: '%m' %} {% assign day = page.date |
    date: '%d' %} {% assign year = page.date | date: '%Y' %}
    <span class="day">{{ day }}</span>
    <span class="month">{{ month }}</span>
    <span class="year">{{ year }}</span>
</time>
{% else %}
<time datetime="{{ post.date | date_to_xmlschema }}">
    {% assign month = post.date | date: '%m' %} {% assign day = post.date |
    date: '%d' %} {% assign year = post.date | date: '%Y' %}
    <span class="day">{{ day }}</span>
    <span class="month">{{ month }}</span>
    <span class="year">{{ year }}</span>
</time>
{% endif %}
