{% assign months =
'enero|febrero|marzo|abril|mayo|junio|julio|agosto|septiembre|octubre|noviembre|diciembre'
| split: '|' %} {% if page.date %}
<time datetime="{{ page.date | date_to_xmlschema }}">
    {% assign month = page.date | date: '%-m' | minus: 1 %} {% assign month_name
    = months[month] %} {% assign day = page.date | date: '%-d' %} {% assign year
    = page.date | date: '%Y' %}
    <span class="day">{{ day }}</span>º de
    <span class="month">{{ month_name }}</span>,
    <span class="year">{{ year }}</span>
</time>
{% else %}
<time datetime="{{ post.date | date_to_xmlschema }}">
    {% assign month = post.date | date: '%-m' | minus: 1 %} {% assign month_name
    = months[month] %} {% assign day = post.date | date: '%-d' %} {% assign year
    = post.date | date: '%Y' %}
    <span class="day">{{ day }}</span>º de
    <span class="month">{{ month_name }}</span>,
    <span class="year">{{ year }}</span>
</time>
{% endif %} {% comment %} {% assign months =
'enero|febrero|marzo|abril|mayo|junio|julio|agosto|septiembre|octubre|noviembre|diciembre'
| split: '|' %} {% endcomment %}
