<div class="featured">
    <h3 class="featured__title h6">Artículos destacados</h3>
    <div class="slider-nav">
        <button class="slide-nav__item"></button>
        <button class="slide-nav__item"></button>
    </div>
    <div class="slider-container">
        <ul class="slider list">
            <li>
                <div class="slide">
                    <a class="slide__blob" href="">
                        <svg
                            width="389.65356"
                            height="382.81693"
                            viewBox="0 0 389.65356 382.81693"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <defs>
                                <pattern
                                    id="img"
                                    x="0"
                                    y="0"
                                    width="1"
                                    height="1"
                                >
                                    <image
                                        width="600"
                                        height="600"
                                        xlink:href="https://placekitten.com/600/600"
                                    />
                                </pattern>
                            </defs>
                            <g transform="translate(205.82625,202.31793)">
                                <path
                                    d="m 123.3,-103.3 c 36.2,50.4 65.2,101.7 59.9,153.3 -5.3,51.6 -44.8,103.5 -94,122.1 -49.1,18.6 -108,3.9 -167.4,-20.6 -59.4,-24.4 -119.3,-58.6 -126.8,-101.8 -7.5,-43.2 37.4,-95.4 80.3,-147.3 42.9,-52 83.8,-103.7 126,-104.7 42.2,-1.1 85.7,48.6 122,99 z"
                                    fill="url(#img)"
                                />
                            </g>
                        </svg>
                    </a>
                    <div class="slide__post">
                        <h1 class="slide__title">
                            <a href="">
                                Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit
                            </a>
                        </h1>
                        <div class="slide__summary">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="slide">
                    <a class="slide__blob" href="">
                        <svg
                            width="389.65356"
                            height="382.81693"
                            viewBox="0 0 389.65356 382.81693"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <defs>
                                <pattern
                                    id="img"
                                    x="0"
                                    y="0"
                                    width="1"
                                    height="1"
                                >
                                    <image
                                        width="600"
                                        height="600"
                                        xlink:href="https://placekitten.com/600/600"
                                    />
                                </pattern>
                            </defs>
                            <g transform="translate(205.82625,202.31793)">
                                <path
                                    d="m 123.3,-103.3 c 36.2,50.4 65.2,101.7 59.9,153.3 -5.3,51.6 -44.8,103.5 -94,122.1 -49.1,18.6 -108,3.9 -167.4,-20.6 -59.4,-24.4 -119.3,-58.6 -126.8,-101.8 -7.5,-43.2 37.4,-95.4 80.3,-147.3 42.9,-52 83.8,-103.7 126,-104.7 42.2,-1.1 85.7,48.6 122,99 z"
                                    fill="url(#img)"
                                />
                            </g>
                        </svg>
                    </a>
                    <div class="slide__post">
                        <h1 class="slide__title">
                            Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit
                        </h1>
                        <div class="slide__summary">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
