<figure class="figure {{ include.class }} grid">
    <div class="figure__cols {{ include.cols }}">
        {% if include.link %}
        <a href="{{ include.link }}">
            <img
                class="{% if include.filter %}filter-{{ include.filter }}{% endif %}"
                src="{{ include.image }}"
                alt="{{ include.description }}"
            />
        </a>
        {% else %}
        <img
            class="{% if include.filter %}filter-{{ include.filter }}{% endif %}"
            src="{{ include.image }}"
            alt="{{ include.description }}"
        />
        {% endif %}
        <!-- description -->
        {% if include.description %}
        <figcaption>{{ include.description }}</figcaption>
        {% endif %}
    </div>
</figure>
