<div class="search">
	<form action="/buscar" id="search__form" method="get">
		<div class="fld input-group">
			<label class="lbl">
				Buscar en el <a href="{{ site.baseurl }}/archivo">archivo</a>:
			</label>
			<div class="input-group-btn">
				<input class="input input--line" id="search__input" name="consulta" placeholder="" type="search">
				<button class="btn btn--secondary" id="search__btn-submit" type="submit">
					<i class="fa fa-search icon" aria-hidden="true"></i>
				</button>
			</div>
		</div>
	</form>
</div>
