{% assign author = site.authors['jonathan'] %}
<header class="header">
    <nav class="navbar">
        <a class="navbar__logo" href="{{ site.baseurl }}/">
            <strong>
                {{ author.first_name }} {{ author.last_name }}
            </strong>
        </a>
        <ul class="navbar__menu list--unstyled">
            <li
                class="navbar__item navbar__item--home {% if page.url == '/' %}is-active{% endif %}"
            >
                <a href="{{ site.baseurl }}/">
                    Inicio
                </a>
            </li>
            <li
                class="navbar__item navbar__item--blog {% if current[1] == 'blog' %}is-active{% endif %}"
            >
                <a href="{{ site.baseurl }}/blog">
                    Blog
                </a>
            </li>
            <li
                class="navbar__item navbar__item--articles {% if current[1] == 'articles' %}is-active{% endif %}"
            >
                <a href="{{ site.baseurl }}/articles">
                    Archivo
                </a>
            </li>
            <li
                class="navbar__item navbar__item--reading {% if current[1] == 'reading' %}is-active{% endif %}"
            >
                <a href="">
                    Lectura
                </a>
            </li>
            <li
                class="navbar__item navbar__item--about {% if current[1] == 'about' %}is-active{% endif %}"
            >
                <a href="{{ site.baseurl }}/about">
                    Acerca
                </a>
            </li>
        </ul>
    </nav>
</header>

{% comment %} {% assign author = site.authors[ 'jonathan' ] %}

<header class="header">
    <nav class="nav">
        <h2 class="nav__brand">
            <a href="{{ site.baseurl }}/">
                {{ author.first_name }} {{ author.last_name }}
            </a>
        </h2>
        <input
            class="collapse__toggle"
            id="collapse-nav"
            name="collapse-nav"
            role="button"
            type="checkbox"
        />
        <label class="collapse__head" for="collapse-nav">Menú</label>
        <ul class="nav__menu list collapse__body">
            <li class="nav__item {% if page.url == '/' %}active{% endif %}">
                <a href="{{ site.baseurl }}/">
                    Blog
                </a>
            </li>
            <li
                class="nav__item {% if current[ 1 ] == 'articles' %}active{% endif %}"
            >
                <a href="{{ site.baseurl }}/articles">
                    Artículos
                </a>
            </li>
            <li
                class="nav__item {% if current[ 1 ] == 'resources' %}active{% endif %}"
            >
                <a href="{{ site.baseurl }}/resources">
                    Recursos
                </a>
            </li>
            <li
                class="nav__item {% if current[ 1 ] == 'about' %}active{% endif %}"
            >
                <a href="{{ site.baseurl }}/about">
                    Autor
                </a>
            </li>
        </ul>
    </nav>
</header>
{% endcomment %}
