{% if page.layout == 'post' %}
<div class="paginator">
    {% if page.previous.url %}
    <div class="paginator__item paginator__item--prev">
        <a href="{{ page.previous.url }}">
            ← {{ page.previous.title }}
        </a>
    </div>
    {% endif %} {% if page.next.url %}
    <div class="paginator__item paginator__item--next">
        <a href="{{ page.next.url }}">
            {{ page.next.title }} →
        </a>
    </div>
    {% endif %}
</div>
{% else %} {% if paginator.total_pages > 1 %}
<div class="paginator">
    {% if paginator.previous_page %}
    <a
        href="{{ paginator.previous_page_path }}"
        class="paginator__item paginator__item--prev"
    >
        <small>Página <strong>{{ paginator.previous_page }}</strong></small>
    </a>
    {% endif %} {% if paginator.next_page %}
    <a
        href="{{ paginator.next_page_path }}"
        class="paginator__item paginator__item--next"
    >
        <small>Página <strong>{{ paginator.next_page }}</strong></small>
    </a>
    {% endif %}
</div>
{% endif %} {% endif %}
