<div class="third-col__body">

	{% if page.url == '/' %}

		<h5>
			Tourist information
		</h5>

		<p>
			This blog is run by <a href="{{ site.baseurl }}/about">Jonathan Zúñiga</a> about stories and personal thoughts on his daily life.
		</p>

		<p>
			<i>I hope you enjoy the articles and demos posted here. Most of what I write about, I taught myself from the web and books. Here's a few I would recommend if you want to deepen your knowledge.</i>
		</p>

	{% elsif page.layout == 'post' %}

		<ul class="ls-unstyled ac-c">
			<li class="toc-entry toc-h2"><a href="#examples">Examples</a></li>
			<li class="toc-entry toc-h2"><a href="#button-tags">Button tags</a></li>
			<li class="toc-entry toc-h2"><a href="#outline-buttons">Outline buttons</a></li>
			<li class="toc-entry toc-h2"><a href="#sizes">Sizes</a></li>
			<li class="toc-entry toc-h2"><a href="#active-state">Active state</a></li>
			<li class="toc-entry toc-h2"><a href="#disabled-state">Disabled state</a></li>
			<li class="toc-entry toc-h2"><a href="#button-plugin">Button plugin</a>
				<ul class="ls-unstyled">
					<li class="toc-entry toc-h3"><a href="#toggle-states">Toggle states</a></li>
					<li class="toc-entry toc-h3"><a href="#checkbox-and-radio-buttons">Checkbox and radio buttons</a></li>
					<li class="toc-entry toc-h3"><a href="#methods">Methods</a></li>
				</ul>
			</li>
		</ul>

	{% elsif page.url == '/about' %}

		<h5>
			Contact information
		</h5>

		<p>
			More questions? You can always <a href="mailto:{{ author.email }}">email me</a> if you would like to know something that you can’t find online, for work inquiries or just to say hello.
			<!-- Write me an <a href="mailto:{{ author.email }}">email</a> for work inquiries or just to say hello. -->
		</p>

		<h5>
			Selected projects
		</h5>

		<ul class="ls-unstyled ac-c">
			{% assign selected_projects = site.data.selected_projects | sort: 'title' %}
			{% for sp in selected_projects | limit: 6 %}
			  <li>
				<h6 class="m-bottom-0 hyp-auto">
					<a href="{{ sp.url }}" target="_blank">
					  {{ sp.title }}
					</a>
				</h6>

				{% if sp.description %}
					<p class="fs-sm">
						{{ sp.description }}
					</p>
				{% endif %}
			  </li>
			{% endfor %}
		</ul>

		<h5>
			Recommended reading
		</h5>

		<ul class="ls-unstyled ac-c">
			{% assign recommended_reading = site.data.recommended_reading %}
			{% for rr in recommended_reading | limit: 3 %}
			  <li>
				<h6 class="m-bottom-0">
					<a href="{{ rr.url }}" target="_blank">
					  {{ rr.title }}
					</a>
				</h6>

				<p class="fs-sm">
					<i>by {{ rr.author }}</i>
				</p>
			  </li>
			{% endfor %}
		</ul>

	{% endif %}

</div>
