<div class="third-col__body">

	{% if page.url == '/' or page.layout == 'post' %}

		<h5>
			Sobre este blog
		</h5>

		<p>
			Este es el espacio personal de <a href="{{ site.baseurl }}/about">Jonathan Zúñiga</a> donde comparte historias de su vida diaria, y algunas veces opiniones de otros temas.
		</p>

		<p>
			<i>Espero que disfrutes de los artículos y los demos publicados. La mayoría de lo que escribo, lo aprendí de la web y de libros. Aquí encontrarás algunos que recomendare si quieres conocer más.</i>
		</p>

	{% elsif page.layout == 'post' %}

		<ul class="ls">
			<li class="toc-entry toc-h2"><a href="#examples">Examples</a></li>
			<li class="toc-entry toc-h2"><a href="#button-tags">Button tags</a></li>
			<li class="toc-entry toc-h2"><a href="#outline-buttons">Outline buttons</a></li>
			<li class="toc-entry toc-h2"><a href="#sizes">Sizes</a></li>
			<li class="toc-entry toc-h2"><a href="#active-state">Active state</a></li>
			<li class="toc-entry toc-h2"><a href="#disabled-state">Disabled state</a></li>
			<li class="toc-entry toc-h2"><a href="#button-plugin">Button plugin</a>
				<ul class="ls">
					<li class="toc-entry toc-h3"><a href="#toggle-states">Toggle states</a></li>
					<li class="toc-entry toc-h3"><a href="#checkbox-and-radio-buttons">Checkbox and radio buttons</a></li>
					<li class="toc-entry toc-h3"><a href="#methods">Methods</a></li>
				</ul>
			</li>
		</ul>

	{% elsif page.url == '/autor' %}

		<div class="sm-gcols-3 md-gcols-1">
			<div>
				<h5>
					Contactar al autor
				</h5>

				<p>
					¿Más preguntas? Siempre puedes <a href="mailto:{{ author.email }}">enviarme un correo electrónico</a> si deseas saber algo que no encuentras en línea, o simplemente para saludar.
				</p>
			</div>

			<div>
				<h5>
					Proyectos selectos
				</h5>

				<ul class="ls">
					{% assign selected_projects = site.data.selected_projects | sort: 'title' %}
					{% for sp in selected_projects | limit: 4 %}
					  <li>
						<h6 class="m-bottom-0 hyp-auto">
							<a href="{{ sp.url }}" target="_blank">
							  {{ sp.title }}
							</a>
						</h6>

						{% if sp.description %}
							<p class="fs-sm">
								{{ sp.description }}
							</p>
						{% endif %}
					  </li>
					{% endfor %}
				</ul>
			</div>

			<div>
				<h5>
					Lectura recomendada
				</h5>

				<ul class="ls">
					{% assign recommended_reading = site.data.recommended_reading %}
					{% for rr in recommended_reading | limit: 3 %}
					  <li>
						<h6 class="m-bottom-0">
							<a href="{{ rr.url }}" target="_blank">
							  {{ rr.title }}
							</a>
						</h6>

						<p class="fs-sm">
							<i>by {{ rr.author }}</i>
						</p>
					  </li>
					{% endfor %}
				</ul>
			</div>
		</div>

	{% endif %}

</div>
