/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
	margin: 0;
	padding: 0;
}



/**
 * Basic styling
 */
body {
	background-color: $background-color;
	color: $text-color;
	font-family: $base-font-family;
	font-size: $base-font-size;
	font-weight: normal;
	line-height: $base-line-height;
	-webkit-text-size-adjust: 100%;

	b, strong {
		font-weight: bold;
	}

	small {
		font-size: $small-font-size;
	}
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
ul, ol, dl, figure,
%vertical-rhythm {
	margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
	max-width: 100%;
	vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
	display: block;
}

figcaption {
	font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
	margin-left: $spacing-unit;
}

li {
	> ul,
	> ol {
		 margin-bottom: 0;
	}
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font-family;
	font-weight: bold;
}



/**
 * Links
 */
a {
	color: $text-color;
	text-decoration: none;
 	-webkit-transition: color 0.2s ease;
 	-moz-transition: color 0.2s ease;
 	-ms-transition: color 0.2s ease;
 	-o-transition: color 0.2s ease;
 	transition: color 0.2s ease;

	&:visited {
		color: $text-color;
	}
	&:hover {
		color: $color-grey-600;
	}
	&:active {
	}
}



/**
 * Blockquotes
 */
blockquote {
	border-left: 5px solid $color-grey-light;
	font-style: italic;
	padding-left: $spacing-unit / 2;

	> :last-child {
		margin-bottom: 0;
	}
}



/**
 * Code formatting
 */
pre,
code {
	font-family: $mono-font-family;
	font-weight: normal;
	// border-radius: 4px;
	background-color: $color-grey-200;
}

code {
	padding: 1px 5px;
}

pre {
	padding: 8px 12px;
	// overflow-x: scroll;
	overflow-x: auto;

	> code {
		border: 0;
		padding-right: 0;
		padding-left: 0;
	}
}



/**
 * Wrapper
 */
.wrapper {
	max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
	max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
	margin-right: auto;
	margin-left: auto;
	padding-right: $spacing-unit + 10;
	padding-left: $spacing-unit + 10;
	@extend %clearfix;

	@include media-query($on-laptop) {
		max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
		max-width:         calc(#{$content-width} - (#{$spacing-unit}));
		padding-right: $spacing-unit / 2;
		padding-left: $spacing-unit / 2;
	}
}



/**
 * Clearfix
 */
%clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}
