$color-blue-100: #c4dbf2;
$color-blue-250: #99c7ef;
$color-blue-500: #4277ce;
$color-blue-750: #284aa7;
$color-blue-900: #182473;

$color-teal-100: #dff5f1;
$color-teal-250: #99e0d7;
$color-teal-500: #4bc4c2;
$color-teal-750: #007c89;
$color-teal-900: #002d3b;

$color-gray-100: #f0efeb;
$color-gray-250: #dedbce;
$color-gray-500: #b6b0a3;
$color-gray-750: #77716a;
$color-gray-900: #23201f;

$color-green-100: #d5ebc8;
$color-green-250: #a6e896;
$color-green-500: #00c14e;
$color-green-750: #01934f;
$color-green-900: #005733;

$color-orange-100: #fccebc;
$color-orange-250: #f97f50;
$color-orange-500: #de4d14;
$color-orange-750: #a73205;
$color-orange-900: #611e03;

$color-pink-100: #fee6ff;
$color-pink-250: #fa8cf8;
$color-pink-500: #f73bb9;
$color-pink-750: #a3296e;
$color-pink-900: #692340;

$color-purple-100: #ece1fa;
$color-purple-250: #d9baf7;
$color-purple-500: #a941ce;
$color-purple-750: #83249f;
$color-purple-900: #4f135e;

$color-yellow-100: #fff1cc;
$color-yellow-250: #fad173;
$color-yellow-500: #d99536;
$color-yellow-750: #a75e26;
$color-yellow-900: #702d16;

$color-neutral-dark: #241c15;
$color-neutral-dark-65: rgba($color-neutral-dark, 0.65);
$color-neutral-dark-30: rgba($color-neutral-dark, 0.3);

$color-primary: $color-teal-750;
$color-primary-65: rgba($color-primary, 0.65);
$color-primary-30: rgba($color-primary, 0.3);

$color-accent-pink: #ff3ebf;
$color-accent-pink-darker: $color-pink-900;
$color-accent-yellow: #e7b75f;
$color-accent-green: $color-green-500;
$color-accent-orange: #f25f25;

$color-bg: hsl(0deg, 0%, 100%);
$color-txt: hsl(222deg, 22%, 5%);
$color-secondary: hsl(333deg, 100%, 45%);
$color-tertiary: hsl(255deg, 85%, 30%);
$color-decorative: hsl(200deg, 75%, 65%);
$color-muted: hsl(210deg, 55%, 92%);
$color-info: hsl(240deg, 85%, 55%);
$color-success: $color-accent-green;
$color-success-background: hsla(160deg, 100%, 40%, 0.1);
$color-error: $color-accent-orange;
$color-error-background: hsla(340deg, 95%, 43%, 0.1);
$color-alert: hsl(37deg, 100%, 50%);
$color-alert-background: hsla(52deg, 100%, 50%, 0.25);

$syntax-bg: $color-bg;
$syntax-bool: $color-pink-750;
$syntax-comment: $color-gray-500;
$syntax-del: $color-orange-250;
$syntax-error: $color-error;
$syntax-fn: $color-blue-500;
$syntax-name: $color-purple-500;
$syntax-prop: $color-pink-500;
$syntax-regex: $color-success;
$syntax-str: $color-purple-500;
$syntax-txt: $color-txt;
$syntax-val: $color-gray-750;

// $color-gray-100: hsl(225deg, 25%, 95%);
// $color-gray-200: hsl(225deg, 16%, 90%);
// $color-gray-300: hsl(225deg, 8%, 80%);
// $color-gray-400: hsl(225deg, 8%, 70%);
// $color-gray-500: hsl(225deg, 7%, 60%);
// $color-gray-600: hsl(225deg, 15%, 50%);
// $color-gray-700: rgb(53, 54, 58);
// $color-gray-900: hsl(225deg, 25%, 20%);
// $color-gray-1000: hsl(225deg, 15%, 15%);

// $color-primary: hsl(240deg, 85%, 55%);
// $color-primary-65: rgba($color-primary, 0.65);
// $color-primary-30: rgba($color-primary, 0.3);

// $color-bg: hsl(0deg, 0%, 100%);
// $color-txt: hsl(222deg, 22%, 5%);
// $color-secondary: hsl(333deg, 100%, 45%);
// $color-tertiary: hsl(255deg, 85%, 30%);
// $color-decorative: hsl(200deg, 75%, 65%);
// $color-muted: hsl(210deg, 55%, 92%);
// $color-info: hsl(240deg, 85%, 55%);
// $color-success: hsl(160deg, 100%, 40%);
// $color-success-background: hsla(160deg, 100%, 40%, 0.1);
// $color-error: hsl(340deg, 95%, 43%);
// $color-error-background: hsla(340deg, 95%, 43%, 0.1);
// $color-alert: hsl(37deg, 100%, 50%);
// $color-alert-background: hsla(52deg, 100%, 50%, 0.25);

// $syntax-bg: hsl(225deg, 25%, 97%);
// $syntax-bool: #bf00b8;
// $syntax-comment: #b0bec5;
// $syntax-del: #f55;
// $syntax-error: $color-error;
// $syntax-fn: #3d5afe;
// $syntax-name: #aa00ff;
// $syntax-prop: #f40088;
// $syntax-regex: $color-success;
// $syntax-str: #651fff;
// $syntax-txt: $color-txt;
// $syntax-val: #78909c;
