$color-primary: #ff974d;
$color-primary-65: rgba($color-primary, 0.65);

$color-neutral-dark: #495969;
$color-neutral-dark-65: rgba($color-neutral-dark, 0.65);
$color-neutral-dark-30: rgba($color-neutral-dark, 0.3);
$color-neutral-dark-15: rgba($color-neutral-dark, 0.15);

$color-functional-1: #fff;

// green and sand

// $color-primary: #bfa16b;
// $color-primary-65: rgba($color-primary, 0.65);

// $color-neutral-dark: #435c63;
// $color-neutral-dark-65: rgba($color-neutral-dark, 0.65);
// $color-neutral-dark-30: rgba($color-neutral-dark, 0.3);
// $color-neutral-dark-15: rgba($color-neutral-dark, 0.15);

// $color-functional-1: #fff;

//

// $color-primary: #f9776d;
// $color-primary-65: rgba($color-primary, 0.65);

// $color-neutral-dark: #6b4a42;
// $color-neutral-dark-65: rgba($color-neutral-dark, 0.65);
// $color-neutral-dark-30: rgba($color-neutral-dark, 0.3);
// $color-neutral-dark-15: rgba($color-neutral-dark, 0.15);

// $color-accent: #7598a3;

// $color-functional-1: #e6edef;
// $color-functional-2: #fff;

//

// $color-primary: #ed7669;
// $color-primary-65: rgba($color-primary, 0.65);

// $color-neutral-dark: #663f46;
// $color-neutral-dark-65: rgba($color-neutral-dark, 0.65);
// $color-neutral-dark-30: rgba($color-neutral-dark, 0.3);
// $color-neutral-dark-15: rgba($color-neutral-dark, 0.15);

// $color-accent: #d8956c;

// $color-functional-1: #eeece8;
// $color-functional-2: #fff;

//

// $color-primary: #78b3b7;
// $color-primary-65: rgba($color-primary, 0.65);

// $color-neutral-dark: #3e5051;
// $color-neutral-dark-65: rgba($color-neutral-dark, 0.65);
// $color-neutral-dark-30: rgba($color-neutral-dark, 0.3);
// $color-neutral-dark-15: rgba($color-neutral-dark, 0.15);

// $color-accent: $color-neutral-dark-65;

// $color-functional-1: #e7ecf0;
// $color-functional-2: #fff;
