$color-bg: #f6f0ea;

$color-neutral-light: #fff;
$color-neutral-dark: #292929;

$color-primary: #f16d68; // #efca83;
// $color-success: #5b8b6c;
// $color-danger: #f16d68;
// $color-warning: #efca83;
// $color-accent: #7f519d;

$color-neutral-light-20: lighten($color-neutral-light, 30%);
$color-neutral-light-30: lighten($color-neutral-light, 20%);
$color-neutral-light-40: lighten($color-neutral-light, 10%);
$color-neutral-light-50: $color-neutral-light;
$color-neutral-light-60: darken($color-neutral-light, 10%);
$color-neutral-light-70: darken($color-neutral-light, 20%);
$color-neutral-light-80: darken($color-neutral-light, 30%);

$color-neutral-dark-20: lighten($color-neutral-dark, 30%);
$color-neutral-dark-30: lighten($color-neutral-dark, 20%);
$color-neutral-dark-40: lighten($color-neutral-dark, 10%);
$color-neutral-dark-50: $color-neutral-dark;
$color-neutral-dark-60: darken($color-neutral-dark, 10%);
$color-neutral-dark-70: darken($color-neutral-dark, 20%);
$color-neutral-dark-80: darken($color-neutral-dark, 30%);

$color-primary-20: lighten($color-primary, 30%);
$color-primary-30: lighten($color-primary, 20%);
$color-primary-40: lighten($color-primary, 10%);
$color-primary-50: $color-primary;
$color-primary-60: darken($color-primary, 10%);
$color-primary-70: darken($color-primary, 20%);
$color-primary-80: darken($color-primary, 30%);

// $color-success-20: lighten($color-success, 30%);
// $color-success-30: lighten($color-success, 20%);
// $color-success-40: lighten($color-success, 10%);
// $color-success-50: $color-success;
// $color-success-60: darken($color-success, 10%);
// $color-success-70: darken($color-success, 20%);
// $color-success-80: darken($color-success, 30%);

// $color-danger-20: lighten($color-danger, 30%);
// $color-danger-30: lighten($color-danger, 20%);
// $color-danger-40: lighten($color-danger, 10%);
// $color-danger-50: $color-danger;
// $color-danger-60: darken($color-danger, 10%);
// $color-danger-70: darken($color-danger, 20%);
// $color-danger-80: darken($color-danger, 30%);

// $color-warning-20: lighten($color-warning, 30%);
// $color-warning-30: lighten($color-warning, 20%);
// $color-warning-40: lighten($color-warning, 10%);
// $color-warning-50: $color-warning;
// $color-warning-60: darken($color-warning, 10%);
// $color-warning-70: darken($color-warning, 20%);
// $color-warning-80: darken($color-warning, 30%);

// $color-accent-20: lighten($color-accent, 30%);
// $color-accent-30: lighten($color-accent, 20%);
// $color-accent-40: lighten($color-accent, 10%);
// $color-accent-50: $color-accent;
// $color-accent-60: darken($color-accent, 10%);
// $color-accent-70: darken($color-accent, 20%);
// $color-accent-80: darken($color-accent, 30%);
