$color-primary: #007c89;
$color-primary-65: rgba($color-primary, 0.65);
$color-primary-30: rgba($color-primary, 0.3);
$color-primary-075: rgba($color-primary, 0.075);

$color-neutral-dark: #241c15;
$color-neutral-dark-65: rgba($color-neutral-dark, 0.65);
$color-neutral-dark-30: rgba($color-neutral-dark, 0.3);
$color-neutral-dark-15: rgba($color-neutral-dark, 0.15);
$color-neutral-dark-075: rgba($color-neutral-dark, 0.075);

$color-functional-1: #f6f6f4;
$color-functional-2: #a73205;

// $color-primary: #e02254;
// $color-primary-65: rgba($color-primary, 0.65);
// $color-primary-30: rgba($color-primary, 0.3);

// $color-neutral-dark: #141313;
// $color-neutral-dark-65: rgba($color-neutral-dark, 0.65);
// $color-neutral-dark-30: rgba($color-neutral-dark, 0.3);
// $color-neutral-dark-15: rgba($color-neutral-dark, 0.15);
// $color-neutral-dark-0375: rgba($color-neutral-dark, 0.0375);

// $color-functional-1: #eee4e5;

// --

// $color-primary: #f65664;
// $color-primary-65: rgba($color-primary, 0.65);
// $color-primary-30: rgba($color-primary, 0.3);

// // $color-secondary: #29b2a0;
// // $color-secondary-30: rgba($color-secondary, 0.3);
// // $color-secondary-075: rgba($color-secondary, 0.075);

// $color-neutral-dark: #27262c;
// $color-neutral-dark-65: rgba($color-neutral-dark, 0.65);
// $color-neutral-dark-30: rgba($color-neutral-dark, 0.3);
// $color-neutral-dark-15: rgba($color-neutral-dark, 0.15);
// $color-neutral-dark-0375: rgba($color-neutral-dark, 0.0375);

// $color-functional-1: #f9f7e8;

// ---

// $color-primary: #f66;
// $color-primary-65: rgba($color-primary, 0.65);

// $color-neutral-dark: #261d23;
// $color-neutral-dark-65: rgba($color-neutral-dark, 0.65);
// $color-neutral-dark-30: rgba($color-neutral-dark, 0.3);
// $color-neutral-dark-15: rgba($color-neutral-dark, 0.15);
// $color-neutral-dark-075: rgba($color-neutral-dark, 0.075);

// $color-functional-1: #e6e1e7;

// --

// green and sand

// $color-primary: #bfa16b;
// $color-primary-65: rgba($color-primary, 0.65);

// $color-neutral-dark: #435c63;
// $color-neutral-dark-65: rgba($color-neutral-dark, 0.65);
// $color-neutral-dark-30: rgba($color-neutral-dark, 0.3);
// $color-neutral-dark-15: rgba($color-neutral-dark, 0.15);

// $color-functional-1: #fff;

//

// $color-primary: #f9776d;
// $color-primary-65: rgba($color-primary, 0.65);

// $color-neutral-dark: #6b4a42;
// $color-neutral-dark-65: rgba($color-neutral-dark, 0.65);
// $color-neutral-dark-30: rgba($color-neutral-dark, 0.3);
// $color-neutral-dark-15: rgba($color-neutral-dark, 0.15);

// $color-accent: #7598a3;

// $color-functional-1: #e6edef;
// $color-functional-2: #fff;

//

// $color-primary: #ed7669;
// $color-primary-65: rgba($color-primary, 0.65);

// $color-neutral-dark: #663f46;
// $color-neutral-dark-65: rgba($color-neutral-dark, 0.65);
// $color-neutral-dark-30: rgba($color-neutral-dark, 0.3);
// $color-neutral-dark-15: rgba($color-neutral-dark, 0.15);

// $color-accent: #d8956c;

// $color-functional-1: #eeece8;
// $color-functional-2: #fff;

//

// $color-primary: #78b3b7;
// $color-primary-65: rgba($color-primary, 0.65);

// $color-neutral-dark: #3e5051;
// $color-neutral-dark-65: rgba($color-neutral-dark, 0.65);
// $color-neutral-dark-30: rgba($color-neutral-dark, 0.3);
// $color-neutral-dark-15: rgba($color-neutral-dark, 0.15);

// $color-accent: $color-neutral-dark-65;

// $color-functional-1: #e7ecf0;
// $color-functional-2: #fff;
