$color-gray-100: hsl(225deg, 25%, 95%);
$color-gray-200: hsl(225deg, 16%, 90%);
$color-gray-300: hsl(225deg, 8%, 80%);
$color-gray-400: hsl(225deg, 8%, 70%);
$color-gray-500: hsl(225deg, 7%, 60%);
$color-gray-600: hsl(225deg, 15%, 50%);
$color-gray-700: rgb(53, 54, 58);
$color-gray-900: hsl(225deg, 25%, 20%);
$color-gray-1000: hsl(225deg, 15%, 15%);

$color-primary: hsl(240deg, 85%, 55%);
$color-primary-65: rgba($color-primary, 0.65);
$color-primary-30: rgba($color-primary, 0.3);

$color-bg: hsl(0deg, 0%, 100%);
$color-txt: hsl(222deg, 22%, 5%);
$color-secondary: hsl(333deg, 100%, 45%);
$color-tertiary: hsl(255deg, 85%, 30%);
$color-decorative: hsl(200deg, 75%, 65%);
$color-muted: hsl(210deg, 55%, 92%);
$color-info: hsl(240deg, 85%, 55%);
$color-success: hsl(160deg, 100%, 40%);
$color-success-background: hsla(160deg, 100%, 40%, 0.1);
$color-error: hsl(340deg, 95%, 43%);
$color-error-background: hsla(340deg, 95%, 43%, 0.1);
$color-alert: hsl(37deg, 100%, 50%);
$color-alert-background: hsla(52deg, 100%, 50%, 0.25);

$syntax-bg: hsl(225deg, 25%, 97%);
$syntax-bool: #bf00b8;
$syntax-comment: #b0bec5;
$syntax-del: #f55;
$syntax-error: $color-error;
$syntax-fn: #3d5afe;
$syntax-name: #aa00ff;
$syntax-prop: #f40088;
$syntax-regex: $color-success;
$syntax-str: #651fff;
$syntax-txt: $color-txt;
$syntax-val: #78909c;

// $color-gray-100: hsl(225deg, 25%, 95%);
// $color-gray-200: hsl(225deg, 16%, 90%);
// $color-gray-300: hsl(225deg, 8%, 80%);
// $color-gray-400: hsl(225deg, 8%, 70%);
// $color-gray-500: hsl(225deg, 7%, 60%);
// $color-gray-600: hsl(225deg, 15%, 50%);
// $color-gray-700: rgb(53, 54, 58);
// $color-gray-900: hsl(225deg, 25%, 20%);
// $color-gray-1000: hsl(225deg, 15%, 15%);

// $color-primary: hsl(240deg, 85%, 55%);
// $color-primary-65: rgba($color-primary, 0.65);
// $color-primary-30: rgba($color-primary, 0.3);

// $color-bg: hsl(0deg, 0%, 100%);
// $color-txt: hsl(222deg, 22%, 5%);
// $color-secondary: hsl(333deg, 100%, 45%);
// $color-tertiary: hsl(255deg, 85%, 30%);
// $color-decorative: hsl(200deg, 75%, 65%);
// $color-muted: hsl(210deg, 55%, 92%);
// $color-info: hsl(240deg, 85%, 55%);
// $color-success: hsl(160deg, 100%, 40%);
// $color-success-background: hsla(160deg, 100%, 40%, 0.1);
// $color-error: hsl(340deg, 95%, 43%);
// $color-error-background: hsla(340deg, 95%, 43%, 0.1);
// $color-alert: hsl(37deg, 100%, 50%);
// $color-alert-background: hsla(52deg, 100%, 50%, 0.25);

// $syntax-bg: hsl(225deg, 25%, 97%);
// $syntax-bool: #bf00b8;
// $syntax-comment: #b0bec5;
// $syntax-del: #f55;
// $syntax-error: $color-error;
// $syntax-fn: #3d5afe;
// $syntax-name: #aa00ff;
// $syntax-prop: #f40088;
// $syntax-regex: $color-success;
// $syntax-str: #651fff;
// $syntax-txt: $color-txt;
// $syntax-val: #78909c;
