/**
 * Museo Slab
 */
@font-face {
  font-family: "Museo Slab";
  font-weight: 100;
  src: url('../fonts/MuseoSlab/MuseoSlab_100.otf') format('opentype');
}
@font-face {
  font-family: "Museo Slab";
  font-weight: 100;
  font-style: italic;
  src: url('../fonts/MuseoSlab/MuseoSlab_100italic.otf') format('opentype');
}

@font-face {
  font-family: "Museo Slab";
  font-weight: 300;
  src: url('../fonts/MuseoSlab/MuseoSlab_300.otf') format('opentype');
}
@font-face {
  font-family: "Museo Slab";
  font-weight: 300;
  font-style: italic;
  src: url('../fonts/MuseoSlab/MuseoSlab_300_Italic.otf') format('opentype');
}
@font-face {
  font-family: "Museo Slab";
  font-weight: 500;
  src: url('../fonts/MuseoSlab/MuseoSlab_500.otf') format('opentype');
}
@font-face {
  font-family: "Museo Slab";
  font-weight: 500;
  font-style: italic;
  src: url('../fonts/MuseoSlab/MuseoSlab_500_Italic.otf') format('opentype');
}
@font-face {
  font-family: "Museo Slab";
  font-weight: 700;
  src: url('../fonts/MuseoSlab/MuseoSlab_700.otf') format('opentype');
}
@font-face {
  font-family: "Museo Slab";
  font-weight: 700;
  font-style: italic;
  src: url('../fonts/MuseoSlab/MuseoSlab_700_Italic.otf') format('opentype');
}
@font-face {
  font-family: "Museo Slab";
  font-weight: 900;
  src: url('../fonts/MuseoSlab/MuseoSlab_900.otf') format('opentype');
}
@font-face {
  font-family: "Museo Slab";
  font-weight: 900;
  font-style: italic;
  src: url('../fonts/MuseoSlab/MuseoSlab_900_Italic.otf') format('opentype');
}
@font-face {
  font-family: "Museo Slab";
  font-weight: 1000;
  src: url('../fonts/MuseoSlab/MuseoSlab_1000.otf') format('opentype');
}
@font-face {
  font-family: "Museo Slab";
  font-weight: 1000;
  font-style: italic;
  src: url('../fonts/MuseoSlab/MuseoSlab_1000_Italic.otf') format('opentype');
}
