// @import "../fonts/Futura/stylesheet.css";

@font-face {
    font-family: "Work Sans";
    src: url("../fonts/work-sans/WorkSans-Roman-VF.ttf") format("truetype");
    font-weight: 1 999;
}

@font-face {
    font-family: "Work Sans";
    src: url("../fonts/work-sans/WorkSans-Italic-VF.ttf") format("truetype");
    font-style: italic;
    font-weight: 1 999;
}

// @import url("https://fonts.googleapis.com/css?family=Vollkorn:400,400i,600,600i,700,700i,900,900i&display=swap");

// @import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|PT+Serif:400,400i,700,700i&display=swap");

// @font-face {
//     font-family: "PT Sans";
//     src: url("../fonts/pt-sans-pro/PTSansPro-Demi.eot");
//     src: url("../fonts/pt-sans-pro/PTSansPro-Demi.eot?#iefix")
//             format("embedded-opentype"),
//         url("../fonts/pt-sans-pro/PTSansPro-Demi.woff") format("woff"),
//         url("../fonts/pt-sans-pro/PTSansPro-Demi.ttf") format("truetype");
//     font-weight: 500;
//     font-style: normal;
// }

// @import url("../fonts/Inter-3.7/Inter (web)/inter.css");

// @import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,500,500i,700,700i|IBM+Plex+Serif:400,400i,700,700i&display=swap");

// @import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,500,500i,700,700i|IBM+Plex+Serif:400,400i,600,600i,700,700i&display=swap");

// @import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|PT+Serif:400,400i,700,700i&display=swap");

// @import url("https://fonts.googleapis.com/css?family=Libre+Franklin:400,400i,700,700i&display=swap");

// @import url("https://fonts.googleapis.com/css?family=BioRhyme:800|Merriweather+Sans:300,300i,400,400i,700,700i|Merriweather:400,400i,700,700i&display=swap");

// @import url("https://fonts.googleapis.com/css?family=Rakkas|Merriweather+Sans:300,300i,400,400i,700,700i|Merriweather:400,400i,700,700i&display=swap");

// @import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700,700i|IBM+Plex+Serif:400,400i,700,700i");

// @import url("https://fonts.googleapis.com/css?family=Libre+Franklin:400,400i,700,700i|Lora:400,400i,700,700i");

// @import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i");

// @import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,400i,700,700i');

// @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700|Source+Sans+Pro:400,400i,700,700i|Source+Serif+Pro:400,700');

// @import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Lora:400,400i,700,700i');

// @import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,600,600i,700,700i');

// @import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:400,500');

// @import url('https://fonts.googleapis.com/css?family=UnifrakturMaguntia');

// @import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,700,700i|UnifrakturMaguntia');

// @import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

// @import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,500,500i,700,700i');

// @import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i');

// $fonts: (
//     "Faune" "Display"
//         (
//             // 'Thin'        100 'normal',
//                 "Bold_Italic" 700 "italic",
//             // 'Black'       900 'normal'
//         ),
//     "Faune" "Text"
//         ("Regular" 400 "normal", "Italic" 400 "italic", "Bold" 700 "normal")
// );
// $fonts-dir: "../fonts/Faune_Fonts/Webfonts/";

// @each $font-family, $optical-size, $props in $fonts {
//     @each $weight, $weight-num, $style in $props {
//         @font-face {
//             font-family: "#{ $font-family }";
//             src: url("#{ $fonts-dir }eot/#{ $font-family }-#{ $optical-size }_#{ $weight }.eot");
//             src: url("#{ $fonts-dir }eot/#{ $font-family }-#{ $optical-size }_#{ $weight }.eot?#iefix")
//                     format("embedded-opentype"),
//                 url("#{ $fonts-dir }woff/#{ $font-family }-#{ $optical-size }_#{ $weight }.woff")
//                     format("woff"),
//                 url("#{ $fonts-dir }woff2/#{ $font-family }-#{ $optical-size }_#{ $weight }.woff2")
//                     format("woff2"),
//                 url("#{ $fonts-dir }ttf/#{ $font-family }-#{ $optical-size }_#{ $weight }.ttf")
//                     format("truetype"),
//                 url("#{ $fonts-dir }svg/#{ $font-family }-#{ $optical-size }_#{ $weight }.svg#svgFontName")
//                     format("svg");
//             font-weight: #{$weight-num};
//             font-style: #{$style};
//         }
//     }
// }

// $fonts: (
//     "Mort Modern": (
//         "Large"
//             (
//                 "01" "LargeLight" 300,
//                 "02" "LargeRegular" 400,
//                 "03" "LargeMedium" 500,
//                 "04" "LargeSemiBold" 600,
//                 "05" "LargeBold" 700,
//                 "06" "LargeBlack" 800
//             ),
//         "Subhead"
//             (
//                 "07" "Light" 300,
//                 "08" "Regular" 400,
//                 "09" "Medium" 500,
//                 "10" "SemiBold" 600,
//                 "11" "Bold" 700,
//                 "12" "Black" 800
//             ),
//         "Large Condensed"
//             (
//                 "13" "LargeLightCnd" 300,
//                 "14" "LargeRegularCnd" 400,
//                 "15" "LargeMediumCnd" 500,
//                 "16" "LargeSemiBoldCnd" 600,
//                 "17" "LargeBoldCnd" 700
//             ),
//         "Subhead Condensed"
//             (
//                 "18" "LightCondensed" 300,
//                 "19" "RegularCondensed" 400,
//                 "20" "MediumCondensed" 500,
//                 "21" "SemiBoldCondensed" 600,
//                 "22" "BoldCondensed" 700
//             ),
//         "Text"
//             (
//                 "23" "TextLight" 300,
//                 "24" "TextRegular" 400,
//                 "25" "TextMedium" 500,
//                 "26" "TextSemiBold" 600,
//                 "27" "TextBold" 700,
//                 "28" "TextBlack" 800
//             )
//     )
// );

// @each $font-family, $optical-sizes in $fonts {
//     $font-family-cap: str_replace($font-family, " ", "");

//     @each $optical-size, $weights in $optical-sizes {
//         @each $font-number, $font-weight, $font-weight-number in $weights {
//             @font-face {
//                 font-family: "#{ $font-family } #{ $optical-size }";
//                 font-weight: #{$font-weight-number};
//                 src: url("../fonts/#{ $font-family-cap }Pro/#{ $font-family-cap }-#{ $font-number }#{ $font-weight }.otf")
//                     format("opentype");
//             }

//             @font-face {
//                 font-family: "#{ $font-family } #{ $optical-size }";
//                 font-style: italic;
//                 font-weight: #{$font-weight-number};
//                 src: url("../fonts/#{ $font-family-cap }Pro/#{ $font-family-cap }-#{ $font-number }#{ $font-weight }Italic.otf")
//                     format("opentype");
//             }
//         }
//     }
// }
