
$fonts: (
	'Mort Modern' 'Large' (
		// '01' 'Light'    300, 
		// '02' 'Regular'  400, 
		// '03' 'Medium'   500, 
		// '04' 'SemiBold' 600, 
		'05' 'Bold'     700, 
		// '06' 'Black'    800,
	),
	'Mort Modern' 'Text' (
		// '23' 'Light'    300, 
		'24' 'Regular'  400, 
		'25' 'Medium'   500, 
		// '26' 'SemiBold' 600, 
		'27' 'Bold'     700, 
		// '28' 'Black'    800
	)
);

@function str_replace($string, $search, $replace: '') {
	$index: str_index($string, $search);
	@if $index {
		@return str_slice($string, 1, $index - 1) + 
			$replace + 
			str_replace(
				str_slice($string, $index + str_length($search)
			), $search, $replace);
	}
	@return $string;
}

@each $font-family, $optical-size, $weights in $fonts {
	@each $number, $weight, $weight-num in $weights {
		$font-family-r: str_replace($font-family, ' ', '');

		@font-face {
			font-family: '#{$font-family} #{$optical-size}';
			font-weight: #{$weight-num};
			src: url('../fonts/#{$font-family-r}Pro/#{$font-family-r}-#{$number}#{$optical-size}#{$weight}.otf') 
			     format('opentype');
		}

		@font-face {
			font-family: '#{$font-family} #{$optical-size}';
			font-style: italic;
			font-weight: #{$weight-num};
			src: url('../fonts/#{$font-family-r}Pro/#{$font-family-r}-#{$number}#{$optical-size}#{$weight}Italic.otf') 
			     format('opentype');
		}
	}
}
