/**
 * Site header
 */
.site-header {
	margin-bottom: $spacing-unit / 2;
	margin-top: $spacing-unit / 2;

	#nav {
		font-family: $heading-font-family;
		margin-bottom: $spacing-unit;

		ul {
			margin: 0;

			li {
				display: inline;

				a {
					border-bottom: none;
					color: $text-color;
					font-weight: 300;
			    padding-bottom: $spacing-unit / 2;
			    margin-right: $spacing-unit - 10;
			    padding-top: $spacing-unit / 2;
			    text-decoration: none;
					text-transform: uppercase;

					&.current {
						font-weight: 400;
					}
				}

				&:last-child {
					a {
						margin-right: 0;
					}
				}
			}
		}
	}

	h1 {
		display: block;

		.site-title {
			&,
			&:active,
			&:focus,
			&:visited,
			&:hover {
				border-bottom: none;
				color: $text-color;
				text-decoration: none;
			}
		}
	}

	h2 {
		font-family: $base-font-family;
		font-weight: 300;

		a {
			border-bottom: none;
			color: $text-color;
			font-weight: normal;
			text-decoration: none;
		}
	}
}

.site-nav {
	float: right;
	line-height: 56px;

	.menu-icon {
		display: none;
	}

	.page-link {
		color: $text-color;
		line-height: $base-line-height;

		// Gaps between nav items, but not on the first one
		&:not(:first-child) {
			margin-left: 20px;
		}
	}

	@include media-query($on-palm) {
		position: absolute;
		top: 9px;
		right: 30px;
		background-color: $background-color;
		border: 1px solid $color-grey-light;
		border-radius: 5px;
		text-align: right;

		.menu-icon {
			display: block;
			float: right;
			width: 36px;
			height: 26px;
			line-height: 0;
			padding-top: 10px;
			text-align: center;

			> svg {
				width: 18px;
				height: 15px;

				path {
					fill: $color-grey-dark;
				}
			}
		}

		.trigger {
			clear: both;
			display: none;
		}

		&:hover .trigger {
			display: block;
			padding-bottom: 5px;
		}

		.page-link {
			display: block;
			padding: 5px 10px;
		}
	}
}

.clearfix {
	&:before,
	&:after {
	content: " ";
	display: table;
	}
	&:after {
	clear: both;
	}
}



/**
 * Site footer
 */
.site-footer {
	padding-bottom: $spacing-unit;
	
	p a {
		margin-right: $spacing-unit / 2;
	}
}

.footer-heading {
	font-size: 18px;
	margin-bottom: $spacing-unit / 2;
}

.footer-list {
	list-style: none;
	margin-left: 0;

	li {
		display: inline;
		margin-right: $spacing-unit / 2;
	}
}

.footer-col-wrapper {
	margin-left: -$spacing-unit / 2;
	@extend %clearfix;
}

.footer-col {
	float: left;
	margin-bottom: $spacing-unit / 2;
	padding-left: $spacing-unit / 2;
}

.footer-col-1 {
	width: -webkit-calc(70% - (#{$spacing-unit} / 2));
	width:         calc(70% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
	width: -webkit-calc(30% - (#{$spacing-unit} / 2));
	width:         calc(30% - (#{$spacing-unit} / 2));
}

// .footer-col-3 {
//     width: -webkit-calc(45% - (#{$spacing-unit} / 2));
//     width:         calc(45% - (#{$spacing-unit} / 2));
// }



/**
 * Page content
 */
.post-list {
	margin-left: 0;
	list-style: none;

	> li {
		margin-bottom: $spacing-unit;
	}
}



hr {
	border-bottom: 1px solid $color-grey-semilight;
	border-top: none;
	clear: both;
	margin: ($spacing-unit / 2) 0;
}



/**
 * Posts.
 */
.post {
	margin-bottom: $spacing-unit;
	
	h1 {
		font-size: 2em;
		text-transform: capitalize;
	}

	.post-header {
		.post-title {
			a,
			a:visited,
			a:hover {
				border-bottom: none;
				text-decoration: none;
			}
		}

		.post-date {
			font-weight: 300;
		}
	}

	h3 {
		text-transform: capitalize;
	}

	.post-content,
	.post-description,
	.post-meta {
		margin-bottom: $spacing-unit / 2;
	}

	.post-meta {
		font-size: $small-font-size;

		.post-tags, .post-words, .post-read-more {
			display: inline;
		}
	}
}



/**
 * Reading.
 */
.reading {
	.book-cover {
		max-width: 180px;
	}
}



/**
 * Links.
 */
.icon.icon-star {
	margin-left: -($spacing-unit - 10);
	position: absolute;

	path {
		fill: $color-grey-semilight;
	}
}



/**
 * Tags.
 */
.tags {
	h3 {
		text-transform: lowercase;
	}

	ul {
		// list-style: none;
		// margin-left: 0;

		li {
			text-transform: capitalize;
		}
	}
}



/**
 * Main.
 */
#main {
	float: left;
	width: 640px;
}



/**
 * Sidebar.
 */
#sidebar {
	float: right;
	width: 160px;
	
	h2, h3 {
		text-transform: capitalize;
	}

	p, ol, ul {
		font-size: $small-font-size;
	}

	.book-cover {
		max-width: 128px;
	}

	.social-media-list {
		list-style: none;
		margin-left: 0;

		li {
			margin-bottom: $spacing-unit / 3;
			margin-right: $spacing-unit / 2;
			
			a {
				&:first-child {
					border-bottom: 0;
					text-decoration: none;
				}
				&:last-child {
					display: inline;
					margin-left: $spacing-unit / 6;
				}
			}
		}
	}
}



/**
 * Buttons.
 */
a.button {
	background-color: $color-grey-light;
	border-radius: $spacing-unit;
	color: $text-color;
	padding: $spacing-unit / 10 $spacing-unit / 3;
	text-decoration: none;

	&:hover {
		background-color: $color-blue;
		color: rgba(255, 255, 255, 0.85);
	}
}



/**
 * Helper classes.
 */
.pull-left {
	float: left;
	margin-right: $spacing-unit / 2;
}
.pull-right {
	float: right;
	margin-left: $spacing-unit / 2;
}



/**
 * Responsive.
 */
@media screen and (max-width: 859px) {
	#main,
	#sidebar {
		float: none;
		width: 100%;
	}
}

@include media-query($on-laptop) {
	.footer-col-1,
	.footer-col-2 {
		width: -webkit-calc(50% - (#{$spacing-unit} / 2));
		width:         calc(50% - (#{$spacing-unit} / 2));
	}

	// .footer-col-3 {
	//     width: -webkit-calc(100% - (#{$spacing-unit} / 2));
	//     width:         calc(100% - (#{$spacing-unit} / 2));
	// }
}

@include media-query($on-palm) {
	.footer-col-1 {
		width: -webkit-calc(60% - (#{$spacing-unit} / 2));
		width:         calc(60% - (#{$spacing-unit} / 2));
	}
	.footer-col-2 {
		width: -webkit-calc(40% - (#{$spacing-unit} / 2));
		width:         calc(40% - (#{$spacing-unit} / 2));
	}

	// .footer-col {
	//     float: none;
	//     width: -webkit-calc(100% - (#{$spacing-unit} / 2));
	//     width:         calc(100% - (#{$spacing-unit} / 2));
	// }
}
