/**
 * Site header
 */
.site-header {
	margin-top: $spacing-unit;
	// min-height: 56px;

	// Positioning context for the mobile navigation icon
	// position: relative;
}

.site-title {
	// font-size: 26px;
	// line-height: 56px;
	// letter-spacing: -1px;
	// margin-bottom: $spacing-unit / 2;
	float: left;
	text-transform: lowercase;

	&,
	&:active,
	&:focus,
	&:visited,
	&:hover {
		color: $text-color;
		text-decoration: none;
	}
}

.site-nav {
	float: right;
	line-height: 56px;

	.menu-icon {
		display: none;
	}

	.page-link {
		color: $text-color;
		line-height: $base-line-height;

		// Gaps between nav items, but not on the first one
		&:not(:first-child) {
			margin-left: 20px;
		}
	}

	@include media-query($on-palm) {
		position: absolute;
		top: 9px;
		right: 30px;
		background-color: $background-color;
		border: 1px solid $grey-color-light;
		border-radius: 5px;
		text-align: right;

		.menu-icon {
			display: block;
			float: right;
			width: 36px;
			height: 26px;
			line-height: 0;
			padding-top: 10px;
			text-align: center;

			> svg {
				width: 18px;
				height: 15px;

				path {
					fill: $grey-color-dark;
				}
			}
		}

		.trigger {
			clear: both;
			display: none;
		}

		&:hover .trigger {
			display: block;
			padding-bottom: 5px;
		}

		.page-link {
			display: block;
			padding: 5px 10px;
		}
	}
}

.clearfix {
	&:before,
	&:after {
	content: " ";
	display: table;
	}
	&:after {
	clear: both;
	}
}



/**
 * Site footer
 */
.site-footer {
	padding-bottom: $spacing-unit;
	text-align: center;
}

.footer-heading {
	font-size: 18px;
	margin-bottom: $spacing-unit / 2;
}

.footer-list {
	list-style: none;
	margin-left: 0;

	li {
		display: inline;
		margin-right: $spacing-unit / 2;
	}

	.copyright {
		margin-right: $spacing-unit;
	}
}

.social-media-list {
	// float: right;
	list-style: none;
	margin-left: 0;

	li {
		display: inline;
		margin-left: $spacing-unit / 2;
	}
	.li-icon {
		display: none;
	}
}

.footer-col-wrapper {
	margin-left: -$spacing-unit / 2;
	@extend %clearfix;
}

.footer-col {
	float: left;
	margin-bottom: $spacing-unit / 2;
	padding-left: $spacing-unit / 2;
}

.footer-col-1 {
	width: -webkit-calc(70% - (#{$spacing-unit} / 2));
	width:         calc(70% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
	width: -webkit-calc(30% - (#{$spacing-unit} / 2));
	width:         calc(30% - (#{$spacing-unit} / 2));

		// .li-icon {
		// 	display: none;
		// }
}

// .footer-col-3 {
//     width: -webkit-calc(45% - (#{$spacing-unit} / 2));
//     width:         calc(45% - (#{$spacing-unit} / 2));
// }

@include media-query($on-laptop) {
	.footer-col-1,
	.footer-col-2 {
		width: -webkit-calc(50% - (#{$spacing-unit} / 2));
		width:         calc(50% - (#{$spacing-unit} / 2));
	}

	// .footer-col-3 {
	//     width: -webkit-calc(100% - (#{$spacing-unit} / 2));
	//     width:         calc(100% - (#{$spacing-unit} / 2));
	// }
}

@include media-query($on-palm) {
	.social-media-list {
		li:not(.li-icon) {
			display: none;
		}
		.li-icon {
			display: inline;

			a:hover {
				border-bottom: none;
			}
		}
	}

	.footer-col-1 {
		width: -webkit-calc(60% - (#{$spacing-unit} / 2));
		width:         calc(60% - (#{$spacing-unit} / 2));
	}
	.footer-col-2 {
		width: -webkit-calc(40% - (#{$spacing-unit} / 2));
		width:         calc(40% - (#{$spacing-unit} / 2));

			// li:not(.li-icon) {
			// 	display: none;
			// }
			// .li-icon {
			// 	display: inline;

			// 	a:hover {
			// 		border-bottom: none;
			// 	}
			// }
	}

	// .footer-col {
	//     float: none;
	//     width: -webkit-calc(100% - (#{$spacing-unit} / 2));
	//     width:         calc(100% - (#{$spacing-unit} / 2));
	// }
}



/**
 * Page content
 */
.page-content {
	// padding: $spacing-unit 0;

	.post-footer-meta {
		line-height: normal;
	}
}

.post-list {
	margin-left: 0;
	list-style: none;

	> li {
		margin-bottom: $spacing-unit;
	}
}



/**
 * Posts
 */
.post-header {
	margin-bottom: $spacing-unit / 2;
}

.post-content {
	margin-bottom: $spacing-unit;
}



hr {
	border-bottom: 1px solid $color-grey-light;
	border-top: none;
	clear: both;
	margin: $spacing-unit 0;
}



/**
 * Latest posts.
 */
.home {
	.post {
		margin-bottom: $spacing-unit - 5;

		.post-title {
			font-weight: normal;
			margin-bottom: 0;
			text-transform: capitalize;
		}

		.post-meta {
			// color: $color-grey;
			font-size: $small-font-size;
			margin-bottom: $spacing-unit - 15;
			position: relative;
			
			a {
				// color: $color-blue-light;
			}

			.post-categories, .post-tags, .post-date {
				display: inline-block;
			}
		}

		.post-bars {
			height: 10px;
			position: relative;

			.post-read-time-bar {
				// Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#82b1ff+0,ce93d8+100
				background: #82b1ff; /* Old browsers */
				background: -moz-linear-gradient(left,  #82b1ff 0%, #ce93d8 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(left,  #82b1ff 0%,#ce93d8 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to right,  #82b1ff 0%,#ce93d8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82b1ff', endColorstr='#ce93d8',GradientType=1 ); /* IE6-9 */

				height: 4px;
				z-index: -1;

				div {
					background-color: $background-color;
					float: right;
					height: 4px;
				}
			}
			// .post-number-of-words-bar {
			// 	background-color: #f3e5f5;
			// 	height: 10px;
			// 	left: 0;
			// 	overflow: hidden;
			// 	position: absolute;
			// 	top: 2px;
			// 	z-index: -2;
			// }
		}
	}
}



/**
 * Tags.
 */
.tags {
	h3 {
		text-transform: lowercase;
	}

	ul {
		// list-style: none;
		// margin-left: 0;

		li {
			text-transform: capitalize;
		}
	}
}
