html,
body {
	height: 100%;
	max-height: 100%;
}

body {
	margin-bottom: $spacing-unit;
}

hr {
	margin: ($spacing-unit / 2) 0;
}

/* ==========================================================================
	 Site header.
	 ========================================================================== */
.site-header {
	background-color: #000;
	height: 100%;
	min-height: 240px;
	overflow: hidden;
	position: relative;
	width: 100%;

	.wrapper {
		height: 100%;

		.site-header-content {
			display: flex;
			flex-direction: column;
			height: 100%;
			justify-content: center;
			text-align: center;

			.welcome-image {
				margin: 0 auto;
				max-height: 380px;
				max-width: 640px;
				width: 100%;
			}
		}

		/* Create a bouncing scroll-down arrow on homepage with cover image. */
		.scroll-down {
			-webkit-animation: bounce 4s 2s infinite;
			animation: bounce 4s 2s infinite;
			border-bottom: none;
			bottom: 32px;
			color: rgba(255, 255, 255, 0.7);
			display: block;
			font-size: 34px;
			height: 34px;
			left: 50%;
			margin-left: -16px;
			position: absolute;
			text-align: center;
			text-decoration: none;
			-webkit-transition: all 0.2s ease;
			-moz-transition: all 0.2s ease;
			-o-transition: all 0.2s ease;
			-ms-transition: all 0.2s ease;
			transition: all 0.2s ease;
			width: 34px;
			z-index: 100;
		}

		/* Stop it bouncing and increase contrast when hovered. */
		.scroll-down:hover {
			-webkit-animation: none;
			animation: none;
			color: #fff;
		}
	}

	&.no-cover {
		background-color: #fff;
		height: auto;
		min-height: 0;

		.site-header-content .welcome-image,
		.scroll-down {
			display: none;
		}
	}
}

.site-title {
	// font-size: 2em;
	// font-weight: bold;
	margin-bottom: $spacing-unit * 2;
	text-transform: lowercase;

	a,
	a:visited {
		// border-bottom: none;
		// color: $text-color;
		// text-decoration: none;
	}
}

.site-description {
	font-weight: 300;
	margin-bottom: $spacing-unit;
}



/**
 * Posts.
 */
.page-content {
	padding-top: $spacing-unit;
}

.post {
	margin-bottom: $spacing-unit * 2;

	.post-header {
		> p {
			margin-bottom: 0;
		}

		.permalink {
	    margin-right: 1em;
		}

		time {
	    font-size: 0.9em;
		}

		.post-title {
			// font-size: 1.5em;

			a,
			a:visited,
			a:hover {
				color: $text-color;
				text-decoration: none;
			}
		}
	}

	.post-content {
	}
}



/*
 * Footer.
 */
#footer {
	border-top: 1px solid $color-grey-semilight;
	font-size: $small-font-size;
	opacity: 0.6;
	padding-top: $spacing-unit / 2;
}



/**
 * Helper classes.
 */
.clearfix {
	&:before,
	&:after {
	content: " ";
	display: table;
	}
	&:after {
	clear: both;
	}
}

.pull-left {
	float: left;
	margin-right: $spacing-unit / 2;
}
.pull-right {
	float: right;
	margin-left: $spacing-unit / 2;
}

.sep-dot {
	margin: 0 $spacing-unit / 10;
}



/* ==========================================================================
	 Animations
	 ========================================================================== */

/* Used to bounce .scroll-down on home page. */
@-webkit-keyframes bounce {
	0%, 10%, 25%, 40%, 50% {
		-webkit-transform: translateY(0);
						transform: translateY(0);
	}
	20% {
		-webkit-transform: translateY(-10px);
						transform: translateY(-10px);
	}
	30% {
		-webkit-transform: translateY(-5px);
						transform: translateY(-5px);
	}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-webkit-transform: translateY(0);
						transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-10px);
						transform: translateY(-10px);
	}
	60% {
		-webkit-transform: translateY(-5px);
						transform: translateY(-5px);
	}
}



/* ==========================================================================
	 Responsive
	 ========================================================================== */
@include media-query($on-laptop) {
}

@include media-query($on-palm) {
}

@media screen and (max-width: 899px) {
}

@media screen and (min-width: 640px) and (max-width: 899px) {
}

@media screen and (max-width: 479px) {
}

@media screen and (max-width: 319px) {
}
