body {
	margin-bottom: $spacing-unit;
	margin-top: $spacing-unit;
}

h1, h2, h3, h4 {
	text-transform: capitalize;
}

hr {
	border: none;
	border-bottom: 1px dotted $color-grey-semilight;
	clear: both;
	margin: ($spacing-unit / 2) 0;
}



/**
 * Site header
 */
.site-header {
	margin-bottom: $spacing-unit / 2;

	#nav {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				display: inline;
				font-size: 1.17em;
				margin-right: $spacing-unit / 3;
				padding: 0;

				&:first-child {
					margin-left: 0;

					a {
						color: $text-color;
					}
				}

				&:last-child {
					margin-right: 0;

					&:after {
						content: none;
					}
				}

				&:after {
					color: $color-grey-semilight;
					content: '/';
					font-weight: normal;
					margin-left: $spacing-unit / 3;
				}

				a {
					border-bottom: none;
					color: $color-grey;
					display: inline-block;
					text-decoration: none;
					text-transform: capitalize;

					&.current {
						color: $text-color;
					}

					&:hover {
						color: $text-color;
					}
				}
			}
		}
	}
}



/**
 * Posts.
 */
.post {
	margin-bottom: $spacing-unit / 2;
	
	h1 {
		font-size: 2em;
	}

	.post-header {
		.post-title {
			a,
			a:visited,
			a:hover {
				border-bottom: none;
				color: $text-color;
				text-decoration: none;
			}
		}
	}

	.post-content,
	.post-description,
	.post-meta {
		margin-bottom: $spacing-unit / 2;
	}

	&:not(.link) {
		.post-description {
			p:last-of-type {
				display: inline;
			}

			.post-more {
				display: inline-block;
				font-size: $small-font-size;
			}
		}
	}

	.post-meta {
		font-size: $small-font-size;
	}
}

#categories,
#tags {
	ul {
		list-style: none;
		margin-left: 0;

		time {
			margin-right: $spacing-unit / 3;
		}
	}
}
#tags {
	ul li > span:not(:last-child) {
		margin-right: $spacing-unit / 6;

		&:after {
			color: $color-grey-semilight;
			content: '/';
			font-weight: normal;
			margin-left: $spacing-unit / 6;
		}
	}
}



/**
 * Main.
 */
#main {
	float: left;
	width: 540px;
}



/**
 * Sidebar.
 */
#sidebar {
	font-size: $small-font-size;
	float: right;
	width: 320px;

	// h1, h2, h3, h4, h5, h6 {
	// 	font-weight: normal;
	// }

	.book-cover-container {
		border-radius: 4px;
		display: block;
		height: 150px;
		max-width: 200px;
		overflow: hidden;

		.book-cover {
			height: auto;
			margin-top: -130px;
			max-width: 100%;
		}
	}

	.social-media-list {
		list-style: none;
		margin-left: 0;

		li {
			margin-bottom: $spacing-unit / 6;
			margin-right: $spacing-unit / 2;
			
			a {
				&:first-child {
					border-bottom: 0;
					display: inline-block;
					text-decoration: none;
					width: 20px;
				}
				&:last-child {
					display: inline;
				}
			}
		}
	}
}



/**
 * Buttons.
 */
a {
	&.button {
		background-color: $color-grey-light;
		border-radius: $spacing-unit;
		color: $text-color;
		padding: 3px 8px;
		text-decoration: none;

		&:hover {
			background-color: $color-blue;
			color: $color-white-semilight !important;
		}
	}

	&.button-primary {
		background-color: $color-blue;
		color: $color-white-semilight;
		font-size: $small-font-size;
		text-transform: uppercase;

		&:hover {
			background-color: $color-blue-dark;
		}
	}

	&.post-link {
		display: inline-block;
		line-height: 1.2;
		padding: 0 8px;
	}
}



/**
 * Helper classes.
 */
.clearfix {
	&:before,
	&:after {
	content: " ";
	display: table;
	}
	&:after {
	clear: both;
	}
}

.pull-left {
	float: left;
	margin-right: $spacing-unit / 2;
}
.pull-right {
	float: right;
	margin-left: $spacing-unit / 2;
}

.sep-h {
	margin: 0 $spacing-unit / 6;
}

.text-grey {
	color: $color-grey-semilight;
}



/**
 * Responsive.
 */
@include media-query($on-laptop) {
}

@include media-query($on-palm) {
}

@media screen and (max-width: 899px) {
	#main,
	#sidebar {
		float: none;
		width: 100%;
	}
}

@media screen and (min-width: 640px) and (max-width: 899px) {
	#sidebar {
		.block {
			width: 48%;

			&:first-child {
				float: left;
			}
			&:last-child {
				float: right;
			}
		}
	}
}

@media screen and (max-width: 479px) {

}

@media screen and (max-width: 319px) {

}
