.body {
    background-color: $body-bg-color;
    margin: 0;
    position: relative;
}

.container {
    padding: 0 $grid-gap;

    @media screen and (min-width: $bp-md-min-width) {
        margin: 0 auto;
        max-width: $container-max-width;
        padding: 0;
        width: $container-width;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(#{$grid-cols - 7}, 1fr);
    grid-column-gap: $grid-gap;
    grid-row-gap: $space-sm;

    @media screen and (min-width: $bp-sm-min-width) {
        grid-template-columns: repeat(#{$grid-cols - 3}, 1fr);
    }

    @media screen and (min-width: $bp-md-min-width) {
        grid-template-columns: repeat(#{$grid-cols}, 1fr);
    }
}

.guides {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .container {
        height: 100%;
        position: relative;
    }
}

.guide {
    border-left: $border-width $border-style $guides-color;
    border-right: $border-width $border-style $guides-color;
    width: 100%;

    &:first-child {
        border-right: 0;
        border-left: $border-width $border-style $guides-color;
        margin-left: -#{$grid-gap};
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: $grid-gap;
    }

    &:last-child {
        border-right: $border-width $border-style $guides-color;
        border-left: 0;
        margin-right: -#{$grid-gap};
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: $grid-gap;
    }
}

.header,
.intro-head,
.intro-body,
.main,
.sidebar,
.footer,
hr {
    grid-column: 1 / -1;
}

.header {
    margin-bottom: $space-lg;
    padding: $space 0;
}

.intro {
    &-head {
        margin-bottom: $space-lg;
        padding: 0 $space;
    }

    &-body {
        font-size: $font-size-lg;

        p {
            padding: 0 $space;
        }
    }
}

.post {
    margin-bottom: $space-xl;

    &__header,
    &__footer {
        > * {
            padding: 0 $space;
        }
    }

    &__date {
        .month {
            text-transform: capitalize;
        }
    }

    &__header &__date {
        font-size: $font-size-xs;
        margin-bottom: $space-sm;
    }

    &__summary {
        // font-family: $font-family-secondary;
        font-size: $font-size-md;
    }

    &__content > {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        ol,
        ul,
        p,
        .highlighter-rouge,
        .footnotes {
            padding: 0 $space;
        }

        .footnotes {
            font-size: $font-size-sm;
        }
    }

    figcaption {
        padding: 0 $space;
    }

    &__footer {
        font-size: $font-size-sm;
    }

    &--full {
        @media screen and (min-width: $bp-md-min-width) {
            .post__footer {
                text-align: center;
            }
        }
    }
}

.sidebar {
    &__title,
    p,
    ul {
        padding: 0 $space;
    }

    &__about {
        font-size: $font-size-sm;
    }

    &__list {
        a {
            display: block;
        }
    }

    hr {
        margin: 0 0 $space 0;
    }
}

.footer {
    font-size: $font-size-xs;
    margin-bottom: $space-xl;
    padding: 0 $space;
}

@media screen and (min-width: $bp-lg-min-width) {
    .intro-head,
    .intro-body,
    .main {
        grid-column: 1 / 8;
    }

    .sidebar {
        grid-column: 8 / 10;
        grid-row: 3 / 5;
    }
}
