body {
    background-color: $body-bg-color;
    margin: 0;
    position: relative;
}

.container {
    padding: 0 $grid-gap;
    position: relative;
}

.header,
.body--blog .content,
.footer {
    margin-right: auto;
    margin-left: auto;
    max-width: 43.75rem;
}

.post {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ol,
    ul,
    blockquote,
    hr,
    pre,
    figure {
        margin-right: auto;
        margin-left: auto;
        max-width: 43.75rem;
    }

    figure {
        max-width: calc(43.75rem + 10rem);
    }

    p,
    ol,
    ul {
        font-family: $font-family-secondary;
    }

    &__summary {
        font-size: 1.25rem;
    }
}

.posts {
    list-style-type: none;

    .post {
        &__date {
            font-feature-settings: "tnum";
            font-variant-numeric: tabular-nums;
        }

        &__title {
            font-family: $font-family-secondary;
        }
    }
}

@media screen and (min-width: $bp-sm-min-width) {
    .posts {
        .post {
            &__date,
            &__title {
                display: inline-flex;
            }

            &__date {
                padding-right: $space-md;
            }
        }
    }
}

@media screen and (min-width: $bp-md-min-width) {
    .container {
        margin: 0 auto;
        max-width: $container-max-width;
        padding: 0;
        width: $container-width;
    }

    .header {
        margin-bottom: $space-lg;
        padding: $space 0;
    }

    .main {
        width: 100%;
    }
}
