body {
    margin: 0;
    position: relative;
}

.bg {
    mix-blend-mode: multiply;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
    width: 100%;
    height: 100%;

    &--up {
        z-index: 1000;
    }

    &--down {
        // Fix mix-blend-mode issue in Chrome
        background-color: $site-bg-color;
    }

    &__noise,
    &__square-pattern {
        @extend .bg;

        background-repeat: repeat;
    }

    &__noise {
        background-image: url(../images/noise.png);
        opacity: 0.8;
        will-change: transform; // para evitar parpadeo al desplazar scroll
    }

    &__square-pattern {
        $bg-size: 122.5px;

        background-image: url(../images/square-pattern.png);
        background-position: calc(50% - #{($bg-size / 2) - 1}) #{$bg-size / 2};
        background-size: #{$bg-size} #{$bg-size};
    }
}

.container {
    position: relative;
}

.intro {
    &-head {
        margin-bottom: $space-lg;
    }

    &-body {
        font-size: $font-size-lg;
    }
}

.post {
    margin-bottom: $space-xl;

    // p {
    //     margin: 0;
    // }

    // p,
    // .figure--right {
    //     & + p {
    //         text-indent: $space-lg;
    //     }
    // }

    &__date {
        .month {
            text-transform: capitalize;
        }
    }

    &__header &__date {
        font-size: $font-size-xs;
        margin-bottom: $space-sm;
    }

    &__footer {
        font-size: $font-size-sm;
    }

    &--full {
        .post__footer {
            margin-top: $space-md;
            text-align: center;
        }
    }

    .footnotes {
        font-size: $font-size-xs;
    }
}

.sidebar {
    &__list {
        a {
            display: inline-block;
        }
    }
}

.awesome-block {
    p {
        font-size: $font-size-sm;
    }
}

.footer {
    font-size: $font-size-sm;
    margin-bottom: $space-xl;
    // margin: $space-xl 0;
    // padding: $space-lg 0;
    text-align: center;
}

@media screen and (min-width: $bp-sm-min-width) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 4vw;
        grid-row-gap: $space-sm;
    }

    .header,
    .footer {
        grid-column: 1 / -1;
    }
}

@media screen and (min-width: $bp-md-min-width) {
    .container {
        grid-template-columns: 2fr 1fr 1fr 2fr 2fr 1fr 1fr 2fr;
        margin: 0 auto;
        max-width: $container-max-width;
        padding: 0;
        width: $container-width;
    }

    .header {
        border-bottom: $border-width $border-style $border-color;
        margin-bottom: $space-lg;
        padding: $space 0;
    }

    .intro-head,
    .intro-body,
    .main {
        grid-column: 3 / 8;
    }

    .main {
        width: 100%;
    }

    .sidebar {
        grid-column: 1 / 3;
        grid-row: 3 / 6;

        &__about {
            font-size: $font-size-sm;
        }
    }

    .awesome-block--1 {
        grid-column: 1 / 3;
    }

    .awesome-block--2 {
        grid-column: 4 / 6;
    }

    .awesome-block--3 {
        grid-column: 7 / -1;
    }
}
