*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

em,
h4,
i {
	// font-family: 'GloberRegularItalic', $base-font-family;
	font-style: italic;
}

b,
strong {
	// base-font-family: 'GloberSemiBold', $base-font-family;
	font-weight: 700;
}

small {
	font-size: $small-font-size;
}

blockquote,
q {
	quotes: none;
}

ol,
ul {
	list-style: none;
}

// /*** Works on common browsers ***/
// ::selection {
// 		background-color: $selection-bg-color;
// 		color: $background-color;
// }

// /*** Mozilla based browsers ***/
// ::-moz-selection {
// 		background-color: $selection-bg-color;
// 		color: $background-color;
// }

// /***For Other Browsers ***/
// ::-o-selection {
// 		background-color: $selection-bg-color;
// 		color: $background-color;
// }

// ::-ms-selection {
// 		background-color: $selection-bg-color;
// 		color: $background-color;
// }

// /*** For Webkit ***/
// ::-webkit-selection {
// 		background-color: $selection-bg-color;
// 		color: $background-color;
// }

#footer::after,
#header::after,
#main::after,
.archive-columns::after,
.featured::after,
.resources-columns::after,
.teaser::after,
body::after {
	clear: both;
}

#footer::after,
#footer::before,
#header::after,
#header::before,
#main::after,
#main::before,
.archive-columns::after,
.archive-columns::before,
.featured::after,
.featured::before,
.header-logo-link::before,
.resources-columns::after,
.resources-columns::before,
.teaser::after,
.teaser::before,
body::after,
body::before,
blockquote:after,
blockquote:before,
q:after,
q:before {
	content: '';
}

blockquote:after,
blockquote:before,
q:after,
q:before {
	content: none;
}

#footer::after,
#footer::before,
#header::after,
#header::before,
#main::after,
#main::before,
.archive-columns::after,
.archive-columns::before,
.featured,
.featured::after,
.featured::before,
.resources-columns::after,
.resources-columns::before,
.teaser::after,
.teaser::before,
article,
body::after,
body::before,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}



/* ==========================================================================
	 Header
	 ========================================================================== */
#header {
	.header-logo {
		font-size: 20px;
		font-weight: 700;
		letter-spacing: -1px;

		.header-logo-link {
			color: $heading-color;
			font-weight: 700;
			line-height: 48px;
			// padding-left: 50px;

			// &::before {
			// 	background: url('../images/logo.svg') no-repeat;
			// 	height: 48px;
			// 	margin: -1px 0 0 -52px;
			// 	position: absolute;
			// 	width: 48px;
			// }
		}
	}

	.header-nav {
		ul {
			color: $color-grey-500;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			font-size: 20px;
			list-style: none;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;

			li {
				a {
					color: $text-color;
					font-weight: normal;
					-webkit-transition: all 0.2s ease;
					-moz-transition: all 0.2s ease;
					-ms-transition: all 0.2s ease;
					-o-transition: all 0.2s ease;
					transition: all 0.2s ease;

					&:visited {
						color: $text-color;
					}

					&:active {
						color: $link-active-color;
					}

					&:hover {
						color: $link-hover-color;
					}
				}
			}
		}
	}

	.header-search {
		div.icon.input {
			position: relative;

			.header-search-field {
				-webkit-appearance: none;
				-moz-appearance: none;
				background: transparent;
				border: 1px solid $border-color;
				border-radius: 14px;
				// box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 
				// 						inset 0 0 0 1px rgba(0, 0, 0, 0.04);
				box-shadow: none;
				color: $text-color;
				font-size: 15px;
				height: 28px;
				outline: 0;
				padding: 0 10px 0 28px;
				-webkit-transition: all 0.2s ease;
				-moz-transition: all 0.2s ease;
				-ms-transition: all 0.2s ease;
				-o-transition: all 0.2s ease;
				transition: all 0.2s ease;
				width: 100%;

				&::-moz-placeholder {
					color: $color-grey-600;
				}

				&::-ms-input-placeholder {
					color: $color-grey-600;
				}

				&::placeholder {
					color: $color-grey-600;
				}

				&:focus {
					border-color: $color-grey-600;
					// box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2), 
					// 						inset 0 0 0 1px rgba(0, 0, 0, 0.04);
					box-shadow: none;
					outline: 0;
				}
			}

			> i.icon {
				color: $color-grey-600;
				cursor: default;
				font-size: 14px;
				height: 100%;
				left: 0;
				line-height: 1;
				margin: 0;
				position: absolute;
				text-align: center;
				top: 0;
				-webkit-transition: color 0.2s ease;
				-moz-transition: color 0.2s ease;
				-ms-transition: color 0.2s ease;
				-o-transition: color 0.2s ease;
				transition: color 0.2s ease;
				width: 30px;

				&:before {
					left: 0;
					margin-top: -0.55em;
					position: absolute;
					text-align: center;
					top: 50%;
					width: 100%;
				}

				&:not(.link) {
					pointer-events: none;
				}
			}

			&.focus {
				> i.icon {
					color: $text-color;
				}
			}
		}
	}
}



/* ==========================================================================
	 Main
	 ========================================================================== */
.teaser-link {
	color: $link-heading-color;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;

	&:visited {
		color: $link-heading-visited-color;
	}

	&:active {
		color: $link-heading-active-color;
	}

	&:hover {
		border-bottom: 0;
		color: $link-heading-hover-color;

		// .teaser-title {
		// 	&:after {
		// 		opacity: 0.6;
		// 	}
		// }
	}

	.teaser-title {
		font-size: 21px;
		// font-weight: 100;
		font-weight: $heading-weight;
		line-height: 1.3;
		margin-bottom: 5px;

		// &:after {
		// 	content: '¶';
		// 	opacity: 0.2;
		// 	-webkit-transition: all 0.2s ease;
		// 	-moz-transition: all 0.2s ease;
		// 	-ms-transition: all 0.2s ease;
		// 	-o-transition: all 0.2s ease;
		// 	transition: all 0.2s ease;
		// }
	}

	.teaser-image {
		margin-bottom: 5px;
		margin-top: 5px;
		max-width: 100%;
		// opacity: 0.8;
		-webkit-transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
		-ms-transition: all 0.2s ease;
		-o-transition: all 0.2s ease;
		transition: all 0.2s ease;
		width: 100%;
	}

	&:hover {
		.teaser-image {
			// opacity: 1;
		}
	}
}

.teaser-content {
	.teaser-meta {
		color: $color-grey-700;
		font-size: 12px;
		margin-bottom: 20px;
		
		// .teaser-category {
		// 	text-transform: capitalize;
		// }
	}

	.teaser-intro {
		margin-bottom: 15px;

		h2,
		h3,
		img:not(.emoji),
		figure,
		iframe {
			display: none;
		}
	}
}

// .teaser-content,
// .tags-featured,
// .layout-content-entry .content,
// .layout-content-entry .entry,
// .tags,
// .layout-aside,
// .resource-list ul li {
// 	a:not(.teaser-link) {
// 		font-family: 'GloberSemiBold', $base-font-family;
// 	}
// }

.teaser-category,
.entry-category {
	text-transform: capitalize;
	
	// color: $link-category-color;
	// text-decoration: none;
	// -webkit-transition: all 0.2s ease;
	// -moz-transition: all 0.2s ease;
	// -ms-transition: all 0.2s ease;
	// -o-transition: all 0.2s ease;
	// transition: all 0.2s ease;

	// &:visited {
	// 	color: $link-category-visited-color;
	// }

	// &:active {
	// 	color: $link-category-active-color;
	// }

	// &:hover {
	// 	color: $link-category-hover-color;
	// 	text-decoration: none;
	// }
}

.tags {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 15px;

	.tags-item {
		display: inline-block;

		&:not(:last-child)::after {
			color: $color-grey-500;
			content: ' · ';
		}
	}
}

.tags-item {
	.total-posts {
		font-size: 50%;
	}
}

.sidebar {
	// line-height: 1.2;
	list-style: none;
	margin-bottom: 20px;

	li {
		.sidebar-title {
			color: $color-grey-600;
			font-size: 12px;
			font-weight: normal;
			letter-spacing: 0.1em;
			margin-bottom: 10px;
			padding: 5px 0;
			text-transform: uppercase;
		}

		.sidebar-links {
			margin-bottom: 20px;

			// .sidebar-link {
			// 	display: block;
			// 	margin-left: -10px;
			// 	// padding: 7px 10px;

			// 	&:hover {
			// 		background-color: $color-grey-50;
			// 		border-bottom: none;
			// 	}
			// }

			li {
				margin-bottom: 10px;
			}
		}
	}
}

#main {
	.layout-content,
	.layout-aside {
		margin-bottom: 25px;
	}

	.layout-content {
		.featured {
			margin-bottom: 15px;

			&::after {
				border-bottom: 1px solid $border-color;
			}

			.featured-title {
				display: none;

				// border: 0;
				// clip: rect(0 0 0 0);
				// height: 1px;
				// margin: -1px;
				// overflow: hidden;
				// padding: 0;
				// position: absolute;
				// width: 1px;
			}

			.featured-article {
				.teaser {
					.teaser-link {
						.teaser-title {
							&.teaser-title-featured {
								font-size: 24px;
								margin-bottom: 10px;
							}
						}
					}
				}
			}

			.featured-tags {
				.tags-featured {
					font-size: 18px;
					list-style: none;
					margin: -5px 0 10px;

					.tags-item {
						display: inline-block;

						&:not(:last-child)::after {
							color: $color-grey-500;
							content: '·';
						}
					}
				}
			}
		}

		.archive {
			.archive-title {
				display: none;

				// border: 0;
				// clip: rect(0 0 0 0);
				// height: 1px;
				// margin: -1px;
				// overflow: hidden;
				// padding: 0;
				// position: absolute;
				// width: 1px;
			}

			.search-results-title {
				font-size: 20px;
				font-weight: normal;
				line-height: 1.3;
			}

			.archive-columns {
				border-bottom: 1px solid $border-color;
				margin-bottom: 15px;

				&::before {
					font-size: 1px;
					position: absolute;
					visibility: hidden;
				}

				> div,
				.archive-column {
					.teaser {
						border-bottom: 1px solid $border-color;
						margin-bottom: 15px;

						&:last-child {
							border-bottom: none;
						}
					}
				}
			}
		}

		.resources {
			.resources-title {
				display: none;

				// border: 0;
				// clip: rect(0 0 0 0);
				// height: 1px;
				// margin: -1px;
				// overflow: hidden;
				// padding: 0;
				// position: absolute;
				// width: 1px;
			}

			.resources-columns {
				border-bottom: 1px solid $border-color;
				margin-bottom: 15px;

				&::before {
					font-size: 1px;
					position: absolute;
					visibility: hidden;
				}

				.resource-list {
					float: left;
					margin-left: 3%;
					width: 30%;

					&:first-child {
						margin-left: 0%;
						width: 33%;
					}

					h3 {
						color: $heading-color;
						font-size: 21px;
						// font-weight: 100;
						font-weight: $heading-weight;
						line-height: 1.3;
					}

					ul {
						li {
							margin-bottom: 10px;

							&:last-child {
								.description {
									border-bottom: none;
								}
							}

							// a {
							// 	border-bottom: 1px solid transparent;
							// 	color: $text-color;
							// 	display: inline-block;
							// 	// font-size: 21px;
							// 	font-size: 18px;
							// 	font-weight: 100;
							// 	line-height: 1.3;
							// 	margin-bottom: 14px;
							// 	-webkit-transition: all 0.2s ease;
							// 	-moz-transition: all 0.2s ease;
							// 	-ms-transition: all 0.2s ease;
							// 	-o-transition: all 0.2s ease;
							// 	transition: all 0.2s ease;

							// 	&:visited {
							// 		color: $text-color;
							// 	}

							// 	&:active {
							// 		color: $link-active-color;
							// 	}

							// 	&:hover {
							// 		border-bottom: 1px solid $text-color;
							// 		color: $link-hover-color;
							// 	}
							// }

							.description {
								border-bottom: 1px solid $border-color;
								// color: $color-grey-600;
								font-size: 14px;
								margin-bottom: 15px;
								padding-bottom: 15px;
							}
						}
					}
				}
			}
		}

		&.layout-content-entry {
			article {
				.content-title {
					color: $heading-color;
					font-size: 24px;
					// font-weight: 100;
					font-weight: $heading-weight;
					line-height: 1.3;
					margin-bottom: 15px;
					// margin-bottom: 20px;
				}

				.content {
					h2,
					h3,
					h4 {
						color: $heading-color;
					}

					h2 {
						font-size: 21px;
						font-weight: normal;
						line-height: 1.3;
						padding-top: 15px;
					}

					h3 {
						font-size: 18px;
						line-height: 1.3;
					}

					h3, 
					h4 {
						font-weight: 700;
						padding-top: 15px;
					}

					h4 {
						margin-bottom: 5px;
					}

					blockquote {
						color: $color-grey-700;
						// font-style: italic;
					}

					ol,
					ul {
						counter-reset: list;
						margin-bottom: 8px; // test
					}

					ol ol,
					ol ul,
					ul ol,
					ul ul {
						margin-bottom: -10px;
						margin-left: 20px;
						margin-top: 10px;
					}

					ol li,
					ul li {
						padding-bottom: 7px; // test
					}

					ul > li:before {
						content: '\2022\00A0\00A0';
					}

					ol > li:before {
						content: counter(list) '.  ';
						counter-increment: list;
					}

					pre {
						margin-bottom: 15px;
						white-space: pre-wrap;

						code {
							word-wrap: break-word;
						}
					}

					code {
						-moz-tab-size: 4;
						-o-tab-size: 4;
						tab-size: 4;
						word-break: break-word;
					}

					// .disclaimer { // notes
					// 	background: #fafac3; // yellow
					// 	padding: 12px 15px;
					// }

					.figure {
						margin-bottom: 20px;

						&.figure-responsive {
							overflow: auto;
						}

						&.figure-left {
							float: left;
						}

						&.figure-right {
							float: right;
						}

						.figure-media {
							display: block;
							margin-bottom: 15px;
						}

						.figure-media + .figure-media {
							margin-top: 20px;
						}
						
						.figure-media-center {
							margin-left: auto;
							margin-right: auto;
						}

						.figure-media-full {
							width: 100%;
						}

						table {
							width: 100%;

							td,
							th {
								padding: 10px;
							}
							
							td {
								border-top: 1px solid $border-color;
							}

							th {
								background: $border-color;
								font-weight: 700;
								text-align: left;
							}

							tr:first-child td {
								border: none;
							}
						}
					}

					.figure,
					.figure .figure-media {
						max-width: 100%;
					}

					.figure table,
					table {
						border-collapse: collapse;
						border-spacing: 0;
					}

					.figure-caption {
						font-weight: 700;
						// margin-bottom: 15px;
					}

					* + .figure-caption {
						margin-top: 15px;
						color: $color-grey-700;
						font-size: 14px;
						font-weight: 400;
					}

					.figure-flickr .figure-caption {
						margin-top: 10px;
					}

					.figure-caption-center {
						text-align: center;
					}
					
					iframe {
						border: 0;
					}
				}
			}
		}

		.entry {
			border-bottom: 1px solid $border-color;
			border-top: 1px solid $border-color;
			color: $color-grey-700;
			margin-bottom: 15px;
			padding-top: 15px;
		}
	}

	.layout-aside {
		&.layout-aside-single,
		&.layout-aside-entry {
			.aside-title {
				color: $heading-color;
				font-size: 21px;
				// font-weight: 100;
				font-weight: $heading-weight;
				line-height: 1.3;
				padding-top: 15px;
			}

			// p,
			// ul {
			// 	font-size: 14px;
			// }
		}

		.aside-entries {
			// background-color: $color-grey-50;
			// margin: 0 -20px 15px;
			// padding: 20px 20px 5px;

			.aside-entries-title {
				display: none;

				// border: 0;
				// height: 1px;
				// overflow: hidden;
				// position: absolute;
				// width: 1px;
				// clip: rect(0 0 0 0);
				// margin: -1px;
				// padding: 0;

			// 	margin-top: -5px;

			// 	a {
			// 		color: $text-color;
			// 		font-size: 24px;
			// 		font-weight: normal;
			// 		-webkit-transition: all 0.2s ease;
			// 		-moz-transition: all 0.2s ease;
			// 		-ms-transition: all 0.2s ease;
			// 		-o-transition: all 0.2s ease;
			// 		transition: all 0.2s ease;

			// 		&:visited {
			// 			color: $text-color;
			// 		}

			// 		&:active {
			// 			color: $link-active-color;
			// 		}

			// 		&:hover {
			// 			color: $link-hover-color;
			// 		}
			// 	}
			}

			.teaser {
				border-bottom: 1px solid $border-color;
				margin-bottom: 15px;
				
				&:last-child {
					border-bottom: none;
				}
			}
			
			&.aside-entries-post {
				.aside-entries-title {
					color: $color-grey-600;
					display: inline-block;
					font-size: 12px;
					font-weight: normal;
					letter-spacing: 0.1em;
					margin-bottom: 10px;
					padding: 5px 0;
					text-transform: uppercase;
				}

				.teaser-aside-entries {
					.teaser-title {
						font-size: 18px;
					}

					.teaser-intro {
						font-size: 14px;
					}
				}
			}
		}

		.authors {
			margin: 0 auto 15px;
			text-align: center;

			&.authors-fixed {
				width: 8em;
			}

			.authors-image {
				opacity: 0.8;
				// max-width: 256px;
				width: 100%;

				&.authors-image-rounded {
					// border: 0.5em solid $color-grey-50;
					border-radius: 50%;
					max-width: 100%;
				}
			}

			.authors-link-wrap {
				display: block;

				.authors-link {
					display: block;
				}

				.authors-title {
					display: block;

					.authors-link,
					.authors-twitter {
						display: inline-block;
					}

					.authors-twitter {
						margin-left: 5px;
					}
				}
			
				+ .authors-link-wrap {
					margin-top: 15px;
				}
			}
		}

		.entry {
			margin-bottom: 15px;

			// time {
			// 	text-transform: lowercase;
			// }

			// .entry-category {
			// 	// font-weight: bold;
			// 	text-transform: capitalize;
			// }
		}
	}
}



/* ==========================================================================
	 Footer
	 ========================================================================== */
#footer {
	color: $color-grey-500;
	font-size: 14px;
	padding-bottom: 15px;

	.footer-content {
		a {
			color: $color-grey-500;
			-webkit-transition: all 0.2s ease;
			-moz-transition: all 0.2s ease;
			-ms-transition: all 0.2s ease;
			-o-transition: all 0.2s ease;
			transition: all 0.2s ease;

			&:visited {
				color: $color-grey-500;
			}

			&:active {
				color: $link-active-color;
			}

			&:hover {
				color: $link-hover-color;
			}
		}
	}
}



/* ==========================================================================
	 Helper classes
	 ========================================================================== */
.clearfix {
	&:before,
	&:after {
	content: ' ';
	display: table;
	}
	&:after {
	clear: both;
	}
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

img.pull-left {
	margin-right: 10px;
	margin-top: 5px;
}

.text-right {
	text-align: right;
}

.hide {
	display: none;
}

.disabled {
	opacity: 0.6;
}

.rounded-corners {
	border-radius: 0.3125em;
}

.responsive-image {
	height: auto;
	max-width: 100%;
}

.lead {
	font-size: 140%;
}

.ansi-text {
	font-family: $ansi-font-family;
	font-size: 8px;
	line-height: 16px;
}


/* ==========================================================================
	 Responsive
	 ========================================================================== */
@include media-query-max-width($width-479) {
	#main {
		.layout-content {
			.resources {
				.resources-columns {
					.resource-list,
					.resource-list:first-child {
						margin-left: 0;
						// text-align: center;
						width: 100%;
					}
				}
			}

			&.layout-content-entry {
				article {
					.content {
						.figure {
							&.figure-240 {
								float: none;
								margin-right: 0;
							}
						}
					}
				}
			}
		}
	}
}

@include media-query-min-width($width-480) {
	#main {
		.layout-content {
			&.layout-content-entry {
				article {
					.content {
						.figure {
							&.figure-240 {
								margin-bottom: 0;
								margin-right: 20px;
								margin-top: 5px;
							}
						}

						.figure.figure-240,
						.figure.figure-240 .figure-media {
							max-width: 240px;
						}
					}
				}
			}
		}
	}
}

@include media-query-max-width($width-568) {
	#header {
		margin-bottom: 25px;

		.header-logo {
			left: 0;
			position: absolute;
			right: 0;
			text-align: center;
			top: 60px;
		}

		.header-nav ul {
			font-size: 16px;
			margin-bottom: 80px;
			margin-left: 0;
			margin-top: 20px;
		}
	}
}

@include media-query-min-width($width-569) {
	#main {
		.layout-aside {
			.aside-entries-post {
				padding-right: 10px;
			}
		}
	}
}

@include media-query-min-and-max-width($width-569, $width-767) {
	#header {
		margin-bottom: 25px;
		margin-top: 20px;

		.header-logo,
		.header-nav ul,
		.header-search {
			float: left;
			margin-right: -100%;
		}

		.header-logo {
			margin-left: 0;
			width: 30.76923%;
		}
		
		.header-nav ul {
			margin-bottom: 25px;
			margin-left: 34.61538%;
			margin-top: 10px;
			width: 65.38462%;
		}

		.header-search {
			clear: both;
			margin-left: 0;
			width: 100%;
		}
	}

	#main {
		.layout-content {
			float: left;
			margin-left: 34.61538%;
			margin-right: -100%;
			width: 65.38462%;

			.featured {
				.featured-tags {
					.tags-featured {
						font-size: 20px;
					}
				}
			}
		}

		.layout-aside {
			float: left;
			margin-left: 0;
			margin-right: -100%;
			width: 30.76923%;

			// .moments {
			// 	margin-right: 0;
			// }

			// .aside-entries {
			// 	margin-right: 0;
			// }

			// &.layout-aside-entry {
			// 	.aside-title {
			// 		margin-top: 5px;
			// 	}
			// }
		}
	}

	// .body-resources {
	// 	#main {
	// 		.layout-content {
	// 			float: none;
	// 			margin-left: 0;
	// 			margin-right: 0;
	// 			width: 100%;
	// 		}
	// 	}
	// }

	// .sidebar {
	// 	margin-top: 3px;
	// }
}

@include media-query-min-width($width-768) {
	#main {
		.layout-content {
			.featured {
				.featured-article {
					.teaser {
						.teaser-link {
							.teaser-title {
								&.teaser-title-featured {
									margin-top: -5px;
								}
							}

							.teaser-image {
								&.teaser-image-featured {
									float: left;
									margin: 2px -100% 22px 0;
									width: 48.27586%;
								}
							}
						}

						.teaser-content {
							&.teaser-content-featured {
								float: left;
								margin-left: 51.72414%;
								margin-right: -100%;
								width: 48.27586%;
							}
						}
					}
				}
			}

			&.layout-content-entry {
				article {
					.content-title {
						font-size: 30px;
						// margin-bottom: 30px;
						margin-top: -5px;
					}

					.content {
						blockquote,
						ol,
						pre,
						ul {
							padding-left: 25px;
						}

						.figure {
							.figure-media {
								&.figure-media-first {
									float: left;
								}

								&.figure-media-second {
									float: right;
								}

								&.figure-media-half + .figure-media-half {
									margin-top: 0;
								}
							}
						}
					}
				}
			}
		}

		.layout-aside {
			// .moments {
			// 	margin-left: 0;
			// 	margin-right: 0;
			// 	padding: 15px 15px 0;
			// }

			// .links {
			// 	padding: 0 15px;
			// }

			// .aside-entries {
			// 	margin-left: 0;
			// 	margin-right: 0;
			// 	padding: 15px 15px 5px;
			// }

			// &.layout-aside-entry {
			// 	.aside-title {
			// 		margin-top: 8px;
			// 	}
			// }
		}
	}

	// .sidebar {
	// 	margin-top: 3px;
	// }
}

@include media-query-min-and-max-width($width-768, $width-1023) {
	#header {
		margin-bottom: 25px;
		margin-top: 20px;

		.header-logo {
			float: left;
			margin-left: 0;
			margin-right: -100%;
			width: 31.70732%;
		}

		.header-nav ul,
		.header-search {
			float: left;
			margin-left: 34.14634%;
			margin-right: -100%;
			width: 65.85366%;
		}

		.header-nav ul {
			margin-bottom: 15px;
			margin-top: 10px;
		}

		.header-search {
			clear: both;
		}
	}

	#main {
		.layout-content {
			float: left;
			margin-left: 34.14634%;
			margin-right: -100%;
			width: 65.85366%;

			.featured {
				.featured-article {
					.teaser {
						.teaser-link {
							.teaser-title {
								&.teaser-title-featured {
									font-size: 30px;
								}
							}
						}
					}
				}

				.featured-tags {
					.tags-featured {
						font-size: 22px;
					}
				}
			}

			.archive {
				.archive-columns {
					&[data-columns]::before {
						content: '2 .archive-column';
					}

					.archive-column:nth-child(1) {
						float: left;
						margin-left: 0;
						margin-right: -100%;
						width: 48.14815%;
					}

					.archive-column:nth-child(2) {
						float: left;
						margin-left: 51.85185%;
						margin-right: -100%;
						width: 48.14815%;
					}
				}
			}

			&.layout-content-entry {
				article {
					.content {
						.figure {
							&.figure-right {
								margin-left: 15px;
								max-width: 48.14815%;
							}

							.figure-media {
								&.figure-media-half {
									width: 48.14815%;
								}
							}
						}
					}
				}
			}
		}

		.layout-aside {
			float: left;
			margin-left: 0;
			margin-right: -100%;
			width: 31.70732%;
		}
	}

	// .body-resources {
	// 	#main {
	// 		.layout-content {
	// 			float: none;
	// 			margin-left: 0;
	// 			margin-right: 0;
	// 			width: 100%;
	// 		}
	// 	}
	// }
}

@include media-query-max-width($width-1023) {
	.tags-featured {
		border-top: 1px solid $border-color;
		padding-top: 10px;
	}
}

@include media-query-min-width($width-1024) {
	#header {
		padding-top: 50px;
		padding-bottom: 40px;

		.header-logo,
		.header-nav ul,
		.header-search {
			float: left;
			margin-right: -100%;
		}

		.header-logo {
			margin-left: 0;
			width: 23.72881%;
		}

		.header-nav ul {
			margin-left: 25.42373%;
			margin-top: 10px;
			width: 40.67797%;
		}

		.header-search {
			margin-left: 76.27119%;
			margin-top: 10px;
			width: 23.72881%;
		}
	}

	#main {
		.layout-content {
			width: 74.57627%;

			.featured {
				.featured-article {
					float: left;
					margin-left: 0;
					margin-right: -100%;
					width: 65.90909%;

					.teaser {
						.teaser-link {
							.teaser-title {
								&.teaser-title-featured {
									font-size: 36px;
									margin-top: -5px;
								}
							}

							.teaser-image {
								&.teaser-image-featured {
									float: left;
									margin: 2px -100% 22px 0;
									width: 48.27586%;
								}
							}
						}

						.teaser-content {
							&.teaser-content-featured {
								float: left;
								margin-left: 51.72414%;
								margin-right: -100%;
								width: 48.27586%;
							}
						}
					}
				}

				.featured-tags {
					float: left;
					margin-left: 68.18182%;
					margin-right: -100%;
					width: 31.81818%;

					.tags-featured {
						font-size: 24px;
					}
				}
			}

			.archive {
				.archive-columns {
					&[data-columns]::before {
						content: '3 .archive-column';
					}

					.archive-column {
						&:nth-child(1) {
							margin-left: 0;
						}

						&:nth-child(2) {
							margin-left: 34.09091%;
						}

						&:nth-child(3) {
							margin-left: 68.18182%;
						}
					}

					.archive-column:nth-child(1),
					.archive-column:nth-child(2),
					.archive-column:nth-child(3) {
						float: left;
						margin-right: -100%;
						width: 31.81818%;
					}
				}
			}

			&.layout-content-entry {
				width: 66.10169%;

				article {
					.content-title {
						font-size: 36px;
						margin-top: -5px;
						// margin-bottom: 35px;
					}

					.content {
						.figure {
							&.figure-right {
								margin-left: 15px;
								max-width: 48.71795%;
							}

							.figure-media {
								&.figure-media-half {
									width: 48.71795%;
								}
							}
						}
					}
				}
			}
		}

		.layout-content,
		.layout-content-entry {
			float: left;
			margin-left: 25.42373%;
			margin-right: -100%;
		}

		.layout-aside {
			float: left;
			margin-left: 0;
			margin-right: -100%;
			width: 23.72881%;

			// &.layout-aside-entry {
			// 	.aside-title {
			// 		margin-top: 16px;
			// 	}
			// }
		}
	}

	// .body-resources {
	// 	#main {
	// 		.layout-content {
	// 			float: none;
	// 			margin-left: 0;
	// 			margin-right: 0;
	// 			width: 100%;
	// 		}
	// 	}
	// }

	#footer {
		.footer-content {
			float: left;
			margin-left: 25.42373%;
			margin-right: -100%;
			width: 74.57627%;
		}
	}
}
