html {
	min-height: 100%;
	position: relative;
}

body {
	height: 100%;
	margin-bottom: $spacing-unit / 2;
}

#site-background {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
}

* {
	outline: none;
}

hr {
	border: none;
	clear: both;
	margin: ($spacing-unit / 2) 0;
	text-align: center;

	&:before {
		content: '✶ ✶ ✶ ✶ ✶'
	}
}

.wrapper {
	position: relative;
}

.span-3 { width: 25%; }
.span-4 { width: 33.33333%; }
.span-6 { width: 50%; }
.span-8 { width: 66.66667%; }
.span-9 { width: 75%; }

.button {
	background-color: lighten($link-color, 5%);
	border-radius: 4px;
	color: $color-white !important;
	display: inline-block;
	font-size: 0.889em;
	font-weight: normal;
	padding: 8px 24px;

	&:hover {
		background-color: darken($link-color, 5%);
	}
}

/* ==========================================================================
	 Header.
	 ========================================================================== */
#header {
	margin-bottom: $spacing-unit;

	.header-menu {
		border-bottom: 4px double $color-grey-300;
		padding-bottom: 10px;
		padding-top: 10px;
		text-align: center;

		ul {
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
				font-family: $second-font-family;
				font-size: 0.750em;
				list-style: none;
				margin: 0 15px;
				text-transform: uppercase;

				a {
					border-bottom: none;
					color: $text-color;

					&:hover {
						color: $link-color;
					}
				}

				&.header-brand {
					font-family: $heading-font-family;
					font-size: 1.5em;
					text-transform: none;

					a {
						color: $link-color;
					}
				}
			}
		}
	}
}



/* ==========================================================================
	 Main.
	 ========================================================================== */
#main {
	.introduction {
		margin-bottom: $spacing-unit;

		h1 {
			font-family: $heading-font-family;
			font-size: 1.5em;
			font-weight: 300;
			line-height: 1.3;
		}
	}

	.post,
	.page {
		margin-bottom: $spacing-unit;

		.post-header,
		.page-header {
			.post-date {
				font-family: $second-font-family;
				font-size: 0.750em;
				letter-spacing: 2px;
				margin-bottom: 0;
				text-transform: uppercase;
			}

			.post-title,
			.page-title {
				border-bottom: 1px solid $color-grey-300;
				color: $color-grey-800;
				font-family: $heading-font-family;
				font-size: 2.125em;
				letter-spacing: -1px;
				line-height: 1.3;
				margin-bottom: 10px;
				padding-bottom: 10px;

				a,
				a:visited {
					border-bottom: none;
					color: $color-grey-800;
					text-decoration: none;
				}
				a:hover {
					color: $link-color;
				}
			}
		}

		.page-subtitle {
			font-size: 1.17em;
			text-transform: capitalize;
		}

		.post-content {
			font-size: 0.813em;
			margin-bottom: $spacing-unit / 2;

			// .dropcap {
		 //    float: left;
		 //    font-size: 5.2em;
		 //    font-weight: 900;
		 //    line-height: 0.8em;
		 //    margin-right: 7px;
		 //    margin-top: 7px;
		 //    position: relative;
			// }

			// .run-in {
			// 	font-size: 0.938em;
			// 	letter-spacing: 3px;
			// 	text-transform: uppercase;
			// }
		}

		.post-footer {
			border-bottom: 1px solid $color-grey-300;
			border-top: 1px solid $color-grey-300;
			font-size: 0.688em;
			margin-top: 30px;
			padding-bottom: 10px;
			padding-top: 20px;
		}
	}
}



/* ==========================================================================
	 Footer.
	 ========================================================================== */
#footer {
}



/* ==========================================================================
	 Helper classes.
	 ========================================================================== */
.clearfix {
	&:before,
	&:after {
	content: " ";
	display: table;
	}
	&:after {
	clear: both;
	}
}

.pull-left {
	float: left;
	margin-right: $spacing-unit / 3;
}
.pull-right {
	float: right;
	margin-left: $spacing-unit / 3;
}



/* ==========================================================================
	 Responsive
	 ========================================================================== */
@include media-query($on-laptop) {
}

@include media-query($on-palm) {
}

@media screen and (max-width: 589px) {
	#header {
		.header-menu {
			padding-top: 50px;

			ul {
				li {
					&.header-brand {
						position: absolute;
						top: 0;
						left: 50%;
						margin-left: -90px;
					}
				}
			}
		}
	}
}
