/**
 * Site header
 */
.site-header {
	margin-top: $spacing-unit;
	// min-height: 56px;

	// Positioning context for the mobile navigation icon
	// position: relative;
}

.site-title {
	// font-size: 26px;
	// line-height: 56px;
	// letter-spacing: -1px;
	// margin-bottom: $spacing-unit / 2;
	float: left;
	text-transform: lowercase;

	&,
	&:active,
	&:focus,
	&:visited,
	&:hover {
		color: $text-color;
		text-decoration: none;
	}
}

.site-nav {
	float: right;
	line-height: 56px;

	.menu-icon {
		display: none;
	}

	.page-link {
		color: $text-color;
		line-height: $base-line-height;

		// Gaps between nav items, but not on the first one
		&:not(:first-child) {
			margin-left: 20px;
		}
	}

	@include media-query($on-palm) {
		position: absolute;
		top: 9px;
		right: 30px;
		background-color: $background-color;
		border: 1px solid $grey-color-light;
		border-radius: 5px;
		text-align: right;

		.menu-icon {
			display: block;
			float: right;
			width: 36px;
			height: 26px;
			line-height: 0;
			padding-top: 10px;
			text-align: center;

			> svg {
				width: 18px;
				height: 15px;

				path {
					fill: $grey-color-dark;
				}
			}
		}

		.trigger {
			clear: both;
			display: none;
		}

		&:hover .trigger {
			display: block;
			padding-bottom: 5px;
		}

		.page-link {
			display: block;
			padding: 5px 10px;
		}
	}
}

.clearfix {
  &:before,
  &:after {
	content: " ";
	display: table;
  }
  &:after {
	clear: both;
  }
}



/**
 * Site footer
 */
.site-footer {
	padding-bottom: $spacing-unit;
}

.footer-heading {
	font-size: 18px;
	margin-bottom: $spacing-unit / 2;
}

.footer-list {
	list-style: none;
	margin-left: 0;

	li {
		display: inline;
		margin-right: $spacing-unit / 2;
	}

	.copyright {
		margin-right: $spacing-unit;
	}
}

.social-media-list {
	float: right;
	list-style: none;
	margin-left: 0;

	li {
		display: inline;
		margin-left: $spacing-unit / 2;
	}
}

.footer-col-wrapper {
	margin-left: -$spacing-unit / 2;
	@extend %clearfix;
}

.footer-col {
	float: left;
	margin-bottom: $spacing-unit / 2;
	padding-left: $spacing-unit / 2;
}

.footer-col-1 {
	width: -webkit-calc(70% - (#{$spacing-unit} / 2));
	width:         calc(70% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
	width: -webkit-calc(30% - (#{$spacing-unit} / 2));
	width:         calc(30% - (#{$spacing-unit} / 2));

		.li-icon {
			display: none;
		}
}

// .footer-col-3 {
//     width: -webkit-calc(45% - (#{$spacing-unit} / 2));
//     width:         calc(45% - (#{$spacing-unit} / 2));
// }

@include media-query($on-laptop) {
	.footer-col-1,
	.footer-col-2 {
		width: -webkit-calc(50% - (#{$spacing-unit} / 2));
		width:         calc(50% - (#{$spacing-unit} / 2));
	}

	// .footer-col-3 {
	//     width: -webkit-calc(100% - (#{$spacing-unit} / 2));
	//     width:         calc(100% - (#{$spacing-unit} / 2));
	// }
}

@include media-query($on-palm) {
	.footer-col-1 {
		width: -webkit-calc(60% - (#{$spacing-unit} / 2));
		width:         calc(60% - (#{$spacing-unit} / 2));
	}
	.footer-col-2 {
		width: -webkit-calc(40% - (#{$spacing-unit} / 2));
		width:         calc(40% - (#{$spacing-unit} / 2));

			li:not(.li-icon) {
				display: none;
			}
			.li-icon {
				display: inline;

				a:hover {
					border-bottom: none;
				}
			}
	}

	// .footer-col {
	//     float: none;
	//     width: -webkit-calc(100% - (#{$spacing-unit} / 2));
	//     width:         calc(100% - (#{$spacing-unit} / 2));
	// }
}



/**
 * Page content
 */
.page-content {
	// padding: $spacing-unit 0;
}

.post-list {
	margin-left: 0;
	list-style: none;

	> li {
		margin-bottom: $spacing-unit;
	}
}

.post-meta {
	font-family: $mono-font-family;
	// font-size: $small-font-size;
	// color: $color-darkgray;
	.category {
		text-transform: capitalize;
	}
}

.post-link {
	display: block;
	font-size: 24px;
}



/**
 * Posts
 */
.post-header {
	margin-bottom: $spacing-unit / 2;
}

// .post-title {
//     // font-size: 42px;
//     font-size: 32px;
//     // letter-spacing: -1px;
//     // line-height: 1;

//     @include media-query($on-laptop) {
//         // font-size: 36px;
//         font-size: 28px;
//     }
// }

.post-content {
	margin-bottom: $spacing-unit;

	// h2 {
	//     font-size: 32px;

	//     @include media-query($on-laptop) {
	//         font-size: 28px;
	//     }
	// }

	// h3 {
	//     font-size: 26px;

	//     @include media-query($on-laptop) {
	//         font-size: 22px;
	//     }
	// }

	// h4 {
	//     font-size: 20px;

	//     @include media-query($on-laptop) {
	//         font-size: 18px;
	//     }
	// }
}



// h2 {
//     font-size: $base-font-size;
// }



hr {
	border-bottom: 1px solid $grey-color-light;
	border-top: none;
	clear: both;
	margin: $spacing-unit 0;
}



/**
 * Latest posts.
 */
.posts {
	list-style: outside none none;
	margin: 0;
	padding: 0;
	text-transform: capitalize;
	
	.post-date {
		display: inline-block;
		font-family: $mono-font-family;
		width: 140px;
	}

	.post-words {
		display: inline-block;
		font-family: $mono-font-family;
		width: 105px;
	}

	.post-category {
		display: inline-block;
		font-family: $mono-font-family;
		width: 165px;

		span {
			width: 20px;
		}
	}

	.post-title {
		display: inline-block;
	}
}



/**
 * Text colors.
 */
.text-darkgray { color: $color-darkgray; }
