.body {
    background-color: $site-bgcolor;
    margin: 0;
}

.container {
    margin: 0 auto;
    width: $container-width;
    max-width: $container-max-width;
}

.featured {
    margin-bottom: $space-xl;

    &__title {
        font-size: $font-size-xs;
        letter-spacing: $letter-spacing;
        margin-bottom: $space;
        text-transform: uppercase;
    }
}

.view-more {
    display: inline-flex;
    align-items: center;

    font-size: $font-size-sm;

    &:hover svg {
        transform: translateX($space-xs);
    }

    .icon > svg {
        margin-left: $space-xs - 0.125;
        width: 0.9em;
        height: 0.9em;
        transition: transform $transition-duration linear;
    }
}

.grid {
    // margin-bottom: $space;

    @media screen and (min-width: $bp-lg-min-width) {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto 1fr;
        gap: $grid-gap;

        &--featured {
            .grid__block {
                $margin-neg: #{(
                        ($bp-lg-min-width - $container-max-width - 4) / 2
                    ) * -1};

                &--1 {
                    grid-column: 1 / 6;
                    grid-row: 1 / 3;

                    // margin-left: $margin-neg;
                }

                &--2 {
                    grid-column: 6 / 10;
                    grid-row: 1 / 2;

                    .preview-cover {
                        margin-bottom: $space;
                    }
                }

                &--3 {
                    grid-column: 10 / -1;
                    grid-row: 1 / 2;

                    // margin-right: $margin-neg;
                }

                &--4 {
                    grid-column: 6 / 8;
                    grid-row: 2 / 3;

                    .post {
                        margin-bottom: $space;
                    }
                }

                &--5 {
                    grid-column: 8 / 11;
                    grid-row: 2 / 3;

                    .preview-cover {
                        margin-bottom: $space;
                    }
                }

                &--6 {
                    grid-column: 11 / -1;
                    grid-row: 2 / 3;

                    // margin-right: $margin-neg;

                    .preview-cover {
                        margin-bottom: $space;
                    }
                }
            }

            .post:not(.post--featured-4):not(.post--featured-5) {
                display: flex;
                flex-direction: column;
                height: 100%;
            }
        }

        &--browse {
            .grid__block {
                &--1 {
                    grid-column: 1 / 6;
                    grid-row: 1 / 3;
                }

                &--2 {
                    grid-column: 6 / 11;
                    grid-row: 1 / 2;
                }

                &--3 {
                    grid-column: 6 / 11;
                    grid-row: 2 / 3;
                }

                &--4 {
                    grid-column: 11 / -1;
                    grid-row: 1 / 3;
                }
            }

            .list-group--by-category .list-group__body,
            .list-group--by-tag .list-group__body {
                column-count: 2;
                column-gap: $grid-gap;
            }
        }
    }
}

.post {
    &__date {
        color: $color-accent;
        font-size: $font-size-xs;
        margin-bottom: $space-sm;

        .month {
            text-transform: capitalize;
        }
    }

    &__title {
        margin-bottom: $space-sm !important;
    }

    &__footer {
        font-size: $font-size-xs;
    }
}

.preview-cover {
    display: block;
    width: 100%;
    height: 100%;

    &--minh150 {
        margin-bottom: 0;
        min-height: 150px;
    }

    &--w100 {
        margin-bottom: 0;
        width: 100px;
    }

    &--wide {
        width: 100%;
        height: 150px;
    }

    &__bg {
        background-blend-mode: multiply;
        background-color: $site-bgcolor;
        background-origin: border-box;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: $border-radius;

        // -webkit-filter: sepia(0.25) hue-rotate(-30deg) saturate(0.65);
        // filter: sepia(0.25) hue-rotate(-30deg) saturate(0.65);

        height: 100%;
    }
}

.list-group {
    &--latest-posts {
        li {
            > * {
                padding: $space 0 !important;
            }

            p {
                margin-bottom: 0;
            }
        }
    }

    &--by-category,
    &--by-tag,
    &--by-year {
        font-size: $font-size-sm;

        li > * {
            color: $color-accent;
            padding-right: $space-lg !important;

            &:hover {
                color: $link-color;
            }
        }
    }
}

.amount {
    position: absolute;
    top: 10%;
    right: 0;
    text-align: right;
    font-feature-settings: "tnum" 1;
}

.footer {
    padding-bottom: $space-lg;

    &__copyright {
        font-size: $font-size-sm;
    }
}

.separator {
    color: $border-color;
    margin: 0 $space-xs;
}
