*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

em,
h4,
i {
	font-style: italic;
}

b,
strong {
	font-weight: 700;
}

small {
	font-size: $small-font-size;
}

blockquote,
q {
	quotes: none;
}

ol,
ul {
	list-style: none;
}

#footer::after,
#header::after,
#main::after,
.archive-columns::after,
.featured::after,
.teaser::after,
body::after {
	clear: both;
}

#footer::after,
#footer::before,
#header::after,
#header::before,
#main::after,
#main::before,
.archive-columns::after,
.archive-columns::before,
.featured::after,
.featured::before,
.header-logo-link::before,
.teaser::after,
.teaser::before,
body::after,
body::before,
blockquote:after,
blockquote:before,
q:after,
q:before {
	content: '';
}

blockquote:after,
blockquote:before,
q:after,
q:before {
	content: none;
}

#footer::after,
#footer::before,
#header::after,
#header::before,
#main::after,
#main::before,
.archive-columns::after,
.archive-columns::before,
.featured,
.featured::after,
.featured::before,
.teaser::after,
.teaser::before,
article,
body::after,
body::before,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}



/* ==========================================================================
	 Header
	 ========================================================================== */
#header {
	.header-logo {
		font-size: 20px;
		font-weight: 700;
		letter-spacing: -1px;

		.header-logo-link {
			color: $text-color;
			line-height: 48px;
			// padding-left: 50px;

			// &::before {
			// 	background: url('../images/logo.svg') no-repeat;
			// 	height: 48px;
			// 	margin: -1px 0 0 -52px;
			// 	position: absolute;
			// 	width: 48px;
			// }
		}
	}

	.header-nav {
		ul {
			color: $color-grey-500;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			font-size: 20px;
			list-style: none;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;

			a {
				color: $text-color;
				-webkit-transition: color 0.2s;
				-moz-transition: color 0.2s;
				-o-transition: color 0.2s;
				transition: color 0.2s;

				&:visited {
					color: $text-color;
				}

				&:active {
					color: $link-active-color;
				}

				&:hover {
					color: $link-hover-color;
				}
			}
		}
	}

	.header-search {
		.header-search-field {
			-webkit-appearance: none;
			-moz-appearance: none;
			background: -webkit-linear-gradient(top, #f2f2f2, #fafafa);
			background: linear-gradient(to bottom, #f2f2f2, #fafafa);
			border: none;
			border-radius: 13px;
			box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
			font-size: 14px;
			height: 26px;
			padding: 0 0 0 10px;
			-webkit-transition: all 0.2s;
			-moz-transition: all 0.2s;
			-o-transition: all 0.2s;
			transition: all 0.2s;
			width: 100%;

			&::-moz-placeholder {
				color: $color-grey-500;
				opacity: 1;
			}

			&::-ms-input-placeholder {
				color: $color-grey-500;
				opacity: 1;
			}

			&::placeholder {
				color: $color-grey-500;
				opacity: 1;
			}

			&:focus {
				box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.15), 
										inset 0 0 0 1px rgba(0, 0, 0, 0.2);
				outline: 0;
			}
		}
	}
}



/* ==========================================================================
	 Main
	 ========================================================================== */
.teaser-link {
	color: $text-color;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;

	&:visited {
		color: $text-color;
	}

	&:active {
		color: $link-active-color;
	}

	&:hover {
		color: $link-hover-color;
	}

	.teaser-title {
		font-size: 21px;
		font-weight: 100;
		line-height: 1.3;
		margin-bottom: 5px;
	}

	.teaser-image {
		margin-bottom: 5px;
		margin-top: 5px;
		max-width: 100%;
		width: 100%;
	}
}

.teaser-content {
	.teaser-meta {
		color: $color-grey-600;
		font-size: 12px;
		margin-bottom: 20px;

		.teaser-category {
			text-transform: capitalize;
		}
	}

	.teaser-intro {
		margin-bottom: 15px;
	}
}

#main {
	.layout-content,
	.layout-aside {
		margin-bottom: 25px;
	}

	.layout-content {
		.featured {
			margin-bottom: 15px;

			&::after {
				border-bottom: 1px solid $color-grey-200;
			}

			.featured-title {
				border: 0;
				clip: rect(0 0 0 0);
				height: 1px;
				margin: -1px;
				overflow: hidden;
				padding: 0;
				position: absolute;
				width: 1px;
			}

			.featured-article {
				.teaser {
					.teaser-link {
						.teaser-title {
							&.teaser-title-featured {
								font-size: 24px;
								margin-bottom: 10px;
							}
						}
					}
				}
			}

			.featured-tags {
				.tags-featured {
					font-size: 18px;
					list-style: none;
					margin: -5px 0 10px;

					.tags-item {
						display: inline-block;

						&:not(:last-child)::after {
							color: $color-grey-500;
							content: '·';
						}
					}
				}
			}
		}

		.archive {
			.archive-title {
				border: 0;
				clip: rect(0 0 0 0);
				height: 1px;
				margin: -1px;
				overflow: hidden;
				padding: 0;
				position: absolute;
				width: 1px;
			}

			.search-results-title {
				font-size: 20px;
				font-weight: normal;
				line-height: 1.3;
			}

			.archive-columns {
				border-bottom: 1px solid $color-grey-200;
				margin-bottom: 15px;

				&::before {
					font-size: 1px;
					position: absolute;
					visibility: hidden;
				}

				> div,
				.archive-column {
					.teaser {
						border-bottom: 1px solid $color-grey-200;
						margin-bottom: 15px;

						&:last-child {
							border-bottom: none;
						}
					}
				}
			}
		}

		&.layout-content-entry {
			article {
				.content-title {
					font-size: 24px;
					font-weight: 100;
					line-height: 1.3;
					margin-bottom: 15px;
				}

				.content {
					h2 {
						font-size: 20px;
						font-weight: normal;
						line-height: 1.3;
						padding-top: 15px;
					}

					h3 {
						font-size: 18px;
						line-height: 1.3;
						margin-bottom: 20px;
					}

					h3, 
					h4 {
						font-weight: 700;
						padding-top: 15px;
					}

					h4 {
						margin-bottom: 5px;
					}

					blockquote {
						color: $color-grey;
						// font-style: italic;
					}

					ol,
					ul {
						counter-reset: list;
						margin-bottom: 8px; // test
					}

					ol ol,
					ol ul,
					ul ol,
					ul ul {
						margin-bottom: -10px;
						margin-left: 20px;
						margin-top: 10px;
					}

					ol li,
					ul li {
						padding-bottom: 7px; // test
					}

					ul > li:before {
						content: '\2022\00A0\00A0';
					}

					ol > li:before {
						content: counter(list) '.  ';
						counter-increment: list;
					}

					pre {
						margin-bottom: 15px;
						white-space: pre-wrap;

						code {
							word-wrap: break-word;
						}
					}

					code {
						-moz-tab-size: 4;
						-o-tab-size: 4;
						tab-size: 4;
						word-break: break-word;
					}

					// .disclaimer { // notes
					// 	background: #fafac3; // yellow
					// 	padding: 12px 15px;
					// }

					.figure {
						margin-bottom: 15px;
						overflow: auto;

						&.figure-left {
							float: left;
						}

						&.figure-right {
							float: right;
						}

						.figure-media {
							display: block;
							margin-bottom: 15px;
						}

						.figure-media + .figure-media {
							margin-top: 20px;
						}
						
						.figure-media-center {
							margin-left: auto;
							margin-right: auto;
						}

						.figure-media-full {
							width: 100%;
						}

						table {
							width: 100%;

							td,
							th {
								padding: 10px;
							}
							
							td {
								border-top: 1px solid $color-grey-300;
							}

							th {
								background: $color-grey-200;
								font-weight: 700;
								text-align: left;
							}

							tr:first-child td {
								border: none;
							}
						}
					}

					.figure,
					.figure .figure-media {
						max-width: 100%;
					}

					.figure table,
					table {
						border-collapse: collapse;
						border-spacing: 0;
					}

					.figure-caption {
						font-weight: 700;
						// margin-bottom: 15px;
					}

					*+.figure-caption {
						margin-top: 15px;
						color: $color-grey;
						font-size: 14px;
						font-weight: 400;
					}

					.figure-caption-center {
						text-align: center;
					}
					
					iframe {
						border: 0;
					}
				}
			}
		}
	}

	.layout-aside {
		.moments {
			.moments-title {
				// border: 0;
				// height: 1px;
				// overflow: hidden;
				// position: absolute;
				// width: 1px;
				// clip: rect(0 0 0 0);
				// margin: -1px;
				// padding: 0;
				margin-top: -5px;

				a {
					color: $text-color;
					font-size: 24px;
					font-weight: normal;
					-webkit-transition: all 0.2s ease;
					-moz-transition: all 0.2s ease;
					-ms-transition: all 0.2s ease;
					-o-transition: all 0.2s ease;
					transition: all 0.2s ease;

					&:visited {
						color: $text-color;
					}

					&:active {
						color: $link-active-color;
					}

					&:hover {
						color: $link-hover-color;
					}
				}
			}

			.teaser {
				border-bottom: 1px solid $color-grey-200;
				margin-bottom: 15px;
			}
		}

		.tags {
			list-style: none;
			margin: 0;
			padding: 0;
			margin-bottom: 15px;

			.tags-item {
				display: inline-block;

				&:not(:last-child)::after {
					color: $color-grey-500;
					content: ' · ';
				}
			}
		}

		.authors {
			margin: 0 auto 15px;
			text-align: center;

			&.authors-fixed {
				width: 8em;
			}

			.authors-link {
				display: block;

				.authors-image {
					max-width: 256px;
					width: 100%;

					&.authors-image-rounded {
						border-radius: 50%;
						max-width: 100%;
					}
				}
			}
		}

		.entry {
			margin-bottom: 15px;

			// time {
			// 	text-transform: lowercase;
			// }

			.entry-category {
				// font-weight: bold;
				text-transform: capitalize;
			}
		}
	}
}





/* ==========================================================================
	 Footer
	 ========================================================================== */
#footer {
	color: $color-grey-600;
	font-size: 14px;
	padding-bottom: 25px;

	.footer-content {
		a {
			color: $color-grey-600;
			-webkit-transition: all 0.2s ease;
			-moz-transition: all 0.2s ease;
			-ms-transition: all 0.2s ease;
			-o-transition: all 0.2s ease;
			transition: all 0.2s ease;

			&:visited {
				color: $color-grey-600;
			}

			&:active {
				color: $link-alt-active-color;
			}

			&:hover {
				color: $link-alt-color;
			}
		}
	}
}



/* ==========================================================================
	 Helper classes
	 ========================================================================== */
.clearfix {
	&:before,
	&:after {
	content: " ";
	display: table;
	}
	&:after {
	clear: both;
	}
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

img.pull-left {
	margin-right: 10px;
	margin-top: 5px;
}

.text-right {
	text-align: right;
}

.hide {
	display: none;
}

.disabled {
	opacity: 0.6;
}



/* ==========================================================================
	 Responsive
	 ========================================================================== */
@include media-query-max-width($width-568) {
	#header {
		margin-bottom: 25px;

		.header-logo {
			left: 0;
			position: absolute;
			right: 0;
			text-align: center;
			top: 60px;
		}

		.header-nav ul {
			font-size: 16px;
			margin-bottom: 80px;
			margin-left: 0;
			margin-top: 20px;
		}
	}
}

@include media-query-min-and-max-width($width-569, $width-767) {
	#header {
		margin-bottom: 25px;
		margin-top: 20px;

		.header-logo,
		.header-nav ul,
		.header-search {
			float: left;
			margin-right: -100%;
		}

		.header-logo {
			margin-left: 0;
			width: 30.76923%;
		}
		
		.header-nav ul {
			margin-bottom: 25px;
			margin-left: 34.61538%;
			margin-top: 10px;
			width: 65.38462%;
		}

		.header-search {
			clear: both;
			margin-left: 0;
			width: 100%;
		}
	}

	#main {
		.layout-content {
			float: left;
			margin-left: 34.61538%;
			margin-right: -100%;
			width:65.38462%;

			.featured {
				.featured-tags {
					.tags-featured {
						font-size: 20px;
					}
				}
			}
		}

		.layout-aside {
			float: left;
			margin-left: 0;
			margin-right: -100%;
			width: 30.76923%;

			// .moments {
			// 	margin-right: 0;
			// }
		}
	}
}

@include media-query-min-width($width-768) {
	#main {
		.layout-content {
			.featured {
				.featured-article {
					.teaser {
						.teaser-link {
							.teaser-image {
								&.teaser-image-featured {
									float: left;
									margin: 2px -100% 22px 0;
									width: 48.27586%;
								}
							}
						}

						.teaser-content {
							&.teaser-content-featured {
								float: left;
								margin-left: 51.72414%;
								margin-right: -100%;
								width: 48.27586%;
							}
						}
					}
				}
			}

			&.layout-content-entry {
				article {
					.content-title {
						font-size: 30px;
						margin-bottom: 30px;
					}

					.content {
						blockquote,
						ol,
						pre,
						ul {
							padding-left: 25px;
						}

						.figure {
							.figure-media {
								&.figure-media-first {
									float: left;
								}

								&.figure-media-second {
									float: right;
								}

								&.figure-media-half + .figure-media-half {
									margin-top: 0;
								}
							}
						}
					}
				}
			}
		}

		.layout-aside {
			// .moments {
			// 	margin-left: 0;
			// 	margin-right: 0;
			// 	padding: 15px 15px 0;
			// }

			// .links {
			// 	padding: 0 15px;
			// }
		}
	}
}

@include media-query-min-and-max-width($width-768, $width-1023) {
	#header {
		margin-bottom: 25px;
		margin-top: 20px;

		.header-logo {
			float: left;
			margin-left: 0;
			margin-right: -100%;
			width: 31.70732%;
		}

		.header-nav ul,
		.header-search {
			float: left;
			margin-left: 34.14634%;
			margin-right: -100%;
			width: 65.85366%;
		}

		.header-nav ul {
			margin-bottom: 15px;
			margin-top: 10px;
		}

		.header-search {
			clear: both;
		}
	}

	#main {
		.layout-content {
			float: left;
			margin-left: 34.14634%;
			margin-right: -100%;
			width: 65.85366%;

			.featured {
				.featured-article {
					.teaser {
						.teaser-link {
							.teaser-title {
								&.teaser-title-featured {
									font-size: 30px;
								}
							}
						}
					}
				}

				.featured-tags {
					.tags-featured {
						font-size: 22px;
					}
				}
			}

			.archive {
				.archive-columns {
					&[data-columns]::before {
						content: '2 .archive-column';
					}

					.archive-column:nth-child(1) {
						float: left;
						margin-left: 0;
						margin-right: -100%;
						width: 48.14815%;
					}

					.archive-column:nth-child(2) {
						float: left;
						margin-left: 51.85185%;
						margin-right: -100%;
						width: 48.14815%;
					}
				}
			}

			&.layout-content-entry {
				article {
					.content {
						.figure {
							&.figure-right {
								margin-left: 15px;
								max-width: 48.14815%;
							}

							.figure-media {
								&.figure-media-half {
									width: 48.14815%;
								}
							}
						}
					}
				}
			}
		}

		.layout-aside {
			float: left;
			margin-left: 0;
			margin-right: -100%;
			width: 31.70732%;
		}
	}
}

@include media-query-max-width($width-1023) {
	.tags-featured {
		border-top: 1px solid $color-grey-200;
		padding-top: 10px;
	}
}

@include media-query-min-width($width-1024) {
	#header {
		padding-top: 50px;
		padding-bottom: 40px;

		.header-logo,
		.header-nav ul,
		.header-search {
			float: left;
			margin-right: -100%;
		}

		.header-logo {
			margin-left: 0;
			width: 23.72881%;
		}

		.header-nav ul {
			margin-left: 25.42373%;
			margin-top: 10px;
			width: 40.67797%;
		}

		.header-search {
			margin-left: 76.27119%;
			margin-top: 10px;
			width: 23.72881%;
		}
	}

	#main {
		.layout-content {
			width: 74.57627%;

			.featured {
				.featured-article {
					float: left;
					margin-left: 0;
					margin-right: -100%;
					width: 65.90909%;

					.teaser {
						.teaser-link {
							.teaser-title {
								&.teaser-title-featured {
									font-size: 36px;
									margin-top: -10px;
								}
							}

							.teaser-image {
								&.teaser-image-featured {
									float: left;
									margin: 2px -100% 22px 0;
									width: 48.27586%;
								}
							}
						}

						.teaser-content {
							&.teaser-content-featured {
								float: left;
								margin-left: 51.72414%;
								margin-right: -100%;
								width: 48.27586%;
							}
						}
					}
				}

				.featured-tags {
					float: left;
					margin-left: 68.18182%;
					margin-right: -100%;
					width: 31.81818%;

					.tags-featured {
						font-size: 24px;
					}
				}
			}

			.archive {
				.archive-columns {
					&[data-columns]::before {
						content: '3 .archive-column';
					}

					.archive-column {
						&:nth-child(1) {
							margin-left: 0;
						}

						&:nth-child(2) {
							margin-left: 34.09091%;
						}

						&:nth-child(3) {
							margin-left: 68.18182%;
						}
					}

					.archive-column:nth-child(1),
					.archive-column:nth-child(2),
					.archive-column:nth-child(3) {
						float: left;
						margin-right: -100%;
						width: 31.81818%;
					}
				}
			}

			&.layout-content-entry {
				width: 66.10169%;

				article {
					.content-title {
						font-size: 36px;
						margin-top: -10px;
						margin-bottom: 35px;
					}

					.content {
						.figure {
							&.figure-right {
								margin-left: 15px;
								max-width: 48.71795%;
							}

							.figure-media {
								&.figure-media-half {
									width: 48.71795%;
								}
							}
						}
					}
				}
			}
		}

		.layout-content,
		.layout-content-entry {
			float: left;
			margin-left: 25.42373%;
			margin-right: -100%;
		}

		.layout-aside {
			float: left;
			margin-left: 0;
			margin-right: -100%;
			width: 23.72881%;
		}
	}

	#footer {
		.footer-content {
			float: left;
			margin-left: 25.42373%;
			margin-right: -100%;
			width: 74.57627%;
		}
	}
}
