* {
	-webkit-box-sizing: initial;
	-moz-box-sizing: initial;
	box-sizing: initial;
	outline: none !important;
}

hr {
	border: none;
	clear: both;
	margin: ($spacing-unit / 2) 0;
	text-align: center;

	&:before {
		content: '✶ ✶ ✶ ✶ ✶'
	}
}

// ::selection {
// 	background: $link-color;
// 	color: $background-color;
// }

// ::-moz-selection {
// 	background: $link-color;
// 	color: $background-color;
// }

// ::selection {
// 	background-color: rgba(255, 255, 0, 0.8);
// }

// ::-moz-selection {
// 	background-color: rgba(255, 255, 0, 0.8);
// }

.wrapper {
	position: relative;
}

.button {
	background-color: lighten($link-color, 5%);
	border-radius: 4px;
	color: $color-white !important;
	display: inline-block;
	font-size: 0.889em;
	font-weight: normal;
	padding: 8px 24px;

	&:hover {
		background-color: darken($link-color, 5%);
	}
}

.column {
	float: left;

	.column-inner {
		padding: 10px 16px;
	}
}

.two-column {
	width: 50%;
}

.std-column {
	width: 25%;
}



/* ==========================================================================
	 Header
	 ========================================================================== */
#header {
	.header-box {
		border-bottom: 1px solid $color-grey-300;
		padding-bottom: 10px;
		padding-top: 10px;

		.header-menu {
			margin-top: 6px;

			.menu-item-description {
				font-weight: bold;
			}

			ul {
				display: inline-block;
				list-style: none;
				margin: 0;
				padding: 0;

				li {
					float: left;

					&:not(:last-child) {
						margin-right: 10px;
					}

					&.current {
						a {
							opacity: 0.6;

							&:hover {
								opacity: 1;
							}
						}
					}
				}
			}
		}

		.header-title {
			font-family: $heading-font-family;
			font-size: 1.846em;
			font-weight: normal;
			line-height: 1;
			margin-bottom: 2px;
			text-transform: lowercase;

			a {
				color: $text-color;
			}
		}

		.header-description {
			margin-bottom: 0;
		}
	}
}

// #header {
// 	// background-color: rgba(51, 0, 47, 0.9);
// 	// background-color: #3f4e79; // rgb(63, 78, 121);
// 	// background-color: rgba(0, 0, 0, 0.85);
// 	margin-bottom: 20px;
// 	max-height: 50px;
// 	overflow: hidden;
// 	position: relative;

// 	.header-box {
// 		// background-color: $color-grey-900;
// 		background-color: $text-color;
// 		// border-bottom-left-radius: 6px;
// 		// border-bottom-right-radius: 6px;
// 		// background-color: rgba(0, 0, 0, 0.085);
// 		// opacity: 0.85;
// 		// padding-top: 10px;

// 		// .header-brand {
// 		// 	float: right;
// 		// 	padding: 0 18px 0 9px;

// 		// 	h2 {
// 		// 		font-family: $brand-font-family;
// 		// 		font-size: 1.692em;
// 		// 		font-weight: normal;
// 		// 		line-height: 1;
// 		// 		margin: 0;
// 		// 		text-transform: lowercase;

// 		// 		a {
// 		// 			color: $background-color;
// 		// 			// color: $text-color;

// 		// 			&:hover {
// 		// 				border-bottom: none;
// 		// 			}
// 		// 		}
// 		// 	}
// 		// }

// 		.header-menu {
// 			// float: left;
// 			// margin-bottom: 12px;
// 			// margin-top: 5px;
// 			// padding-left: 18px;
// 			// padding-right: 9px;

// 			.menu-item-description {
// 				color: $background-color;
// 				display: none;
// 				font-size: 0.923em;
// 				font-weight: bold;
// 				opacity: 0.6;
// 			}

// 			ul {
// 				margin: 0;
// 				padding: 0;

// 				li {
// 					display: block;
// 					// color: $background-color;
// 					float: left;
// 					// font-size: 0.923em;

// 					// &:not(:last-child):after {
// 					// 	content: '•';
// 					// 	opacity: 0.6;
// 					// 	padding-right: 1px;
// 					// }

// 					// &:not(:last-child) {
// 					// 	margin-right: 10px;
// 					// }

// 					&.header-brand {
// 						a {
// 							font-family: $heading-font-family;
// 							font-size: 2.154em;
// 							font-weight: bold;
// 							padding: 8px 20px 15px 22px;
// 						}
// 					}
// 					&.header-rss,
// 					&.header-twitter {
// 						a {
// 							font-size: 1.5em;
// 							padding: 15px;
// 						}
// 					}
// 					&.header-rss,
// 					&.header-twitter {
// 						float: right;
// 					}

// 					a {
// 						border-bottom: none;
// 						color: $background-color;
// 						display: block;
// 						line-height: 1;
// 						padding: 20px 15px;

// 						&:hover {
// 							background-color: #534848;
// 							color: $background-color;
// 							// opacity: 0.6;
// 							text-decoration: none;
// 						}
// 					}

// 					&.current {
// 						a {
// 							background-color: #534848;
// 						}
// 					}
// 				}
// 			}
// 		}

// 		.header-photos {
// 			overflow: hidden;
// 			padding-bottom: 20px;
// 			padding-left: 9px;
// 			padding-right: 9px;

// 			> div {
// 				float: left;

// 				.column-inner {
// 					background-color: $background-color;
// 					margin-left: 9px;
// 					margin-right: 9px;
				
// 					img {
// 						max-width: auto;
// 						opacity: 0.9;
// 						width: 100%;
// 					}
// 				}
// 			}
// 		}
// 	}
// }



/* ==========================================================================
	 Main
	 ========================================================================== */
#main {
	.column {
		&:last-child {
			.column-inner {
				margin-right: 16px;
			}
		}

		.column-inner {
			border-right: 1px solid $color-grey-300;
			padding-bottom: 40px;
		}

		.column-title {
			margin-bottom: 5px;
		}

		.column-footer {
			font-size: 0.846em;
			font-weight: bold;
			letter-spacing: 2px;
			text-align: center;
			text-transform: uppercase;
		}
	}

	.featured-publications {
		list-style: none;
		margin-left: 0;
		padding-left: 0;

		li {
			margin-bottom: 10px;
		}
	}

	.latest-observations {
		list-style: none;
		margin-left: 0;
		padding-left: 0;

		li {
			margin-bottom: $spacing-unit / 2;

			.observation-date,
			.observation-content,
			.observation-content * {
				display: inline;
			}
		}
	}

	.post {
		.post-title {
			font-family: $heading-font-family;
			font-size: 3.462em;
			font-weight: bold;
			line-height: 1;

			a {
				color: $text-color;
			}
		}
	}
}

// #main {
// 	.main-header {
// 		background-color: rgba(0, 0, 0, 0.8);
// 		border-bottom-left-radius: 4px;
// 	}
// 	.sidebar-header {
// 		background-color: rgba(0, 0, 0, 0.7);
// 	}
// 	.main-header,
// 	.sidebar-header {
// 		color: $background-color;
// 		font-size: 0.923em;
// 		line-height: 1;
// 		margin-bottom: 20px;
// 		padding: 8px 15px;
// 	}

// 	.left-column {
// 		width: 49%;
// 	}

// 	.center-column {
// 		width: 25%;
// 	}

// 	.right-column {
// 		width: 25%;
// 	}

// 	.left-column,
// 	.center-column,
// 	.right-column {
// 		float: left;

// 		.column-title {
// 			font-size: 1.231em;
// 		}

// 		.column-inner {
// 			margin-bottom: $spacing-unit;
// 			padding-left: 16px;
// 			padding-right: 16px;

// 			.post {
// 				.post-header {
// 					.post-title {
// 						// display: inline-block;
// 						// font-size: 1em;
// 						font-family: $heading-font-family;
// 						font-size: 3.462em;
// 						font-weight: bold;
// 						line-height: 1;

// 						a {
// 							// color: $link-color-alt;
// 							color: $text-color;
							
// 							// &:after {
// 							// 	content: '§';
// 							// 	opacity: 0.3;
// 							// 	padding-left: 2px;

// 							// 	-webkit-transition: all 0.2s ease;
// 							// 	-moz-transition: all 0.2s ease;
// 							// 	-ms-transition: all 0.2s ease;
// 							// 	-o-transition: all 0.2s ease;
// 							// 	transition: all 0.2s ease;
// 							// }

// 							&:hover {
// 								&:after {
// 									opacity: 0.6;
// 								}
// 							}
// 						}
// 					}
// 				}

// 				// .post-content {
// 				// 	padding-left: 15px;
// 				// 	// padding-right: 15px;
// 				// }
// 			}

// 			.latest-observations {
// 				margin-left: 0;
// 				padding-left: 15px;
// 				// padding-right: 15px;

// 				li {
// 					margin-bottom: $spacing-unit / 2;

// 					.observation-date,
// 					.observation-content,
// 					.observation-content * {
// 						display: inline;
// 					}
// 				}
// 			}
// 		}

// 		.column-footer {
// 			font-size: 0.923em;
// 			font-weight: bold;
// 			letter-spacing: 1px;
// 			text-align: center;
// 			text-transform: uppercase;

// 			a {
// 				color: $link-color-alt;
// 			}
// 		}
// 	}
// }

// .single {
// 	// .wrapper {
// 	// 	max-width: 590px;
// 	// }

// 	#main {
// 		.full.post {
// 			.post-header {
// 				.post-title {
// 					font-family: $heading-font-family;
// 					font-size: 3.462em;
// 					font-weight: bold;
// 					line-height: 1;
// 				}
// 			}

// 			.post-content {
// 				.tombstone {
// 					margin-left: -15px;

// 					.icon {
// 						background-color: $text-color;
// 						display: inline-block;
// 						font-style: normal;
// 						height: 6px;
// 						left: 22px;
// 						line-height: 0;
// 						position: relative;
// 						top: -1px;
// 						-ms-transform: rotate(52deg);
// 						transform: rotate(52deg);
// 						vertical-align: middle;
// 						width: 6px;
// 					}
// 				}
// 			}
// 		}
// 		.full.post,
// 		.page {
// 			margin-left: auto;
// 			margin-right: auto;
// 			max-width: 634px;
// 			padding-left: 18px;
// 			padding-right: 18px;

// 			.post-header {
// 				.post-title {
// 				}
// 			}

// 			.post-content,
// 			.page-content {
// 				// padding-left: 15px;
// 				// padding-right: 15px;
// 			}

// 			.post-footer {
// 				font-size: 0.923em;
// 				font-weight: bold;
// 				letter-spacing: 1px;
// 				margin-bottom: $spacing-unit;
// 				text-align: center;
// 				text-transform: uppercase;

// 				.post-date {
// 					em {
// 						text-transform: lowercase;
// 					}
// 				}
// 			}

// 			.page-header {
// 				.page-title {
// 					font-size: 1.231em;
// 				}
// 			}

// 			.page-content {
// 				h3 {
// 					font-size: 1.231em;
// 				}
// 			}

// 			.page-footer {
// 				margin-bottom: $spacing-unit;
// 				text-align: center;
// 			}
// 		}

// 		.page {
// 			&.publications {
// 				.post {
// 					.post-content {
// 						padding-left: 15px;

// 						p:last-child:after {
// 							content: '...';
// 						}
// 					}
// 				}
// 			}

// 			&.observations {
// 				.post {
// 					.post-content {
// 						padding-left: 15px;
// 					}
// 				}
// 			}

// 			.post {
// 				margin-bottom: $spacing-unit;

// 				.post-header {
// 					.post-title {
// 						display: inline-block;
// 						font-family: $base-font-family;
// 						font-size: 1em;
// 						font-weight: bold;

// 						a {
// 							color: $link-color-alt;

// 							&:after {
// 								content: '§';
// 								opacity: 0.3;
// 								padding-left: 2px;

// 								-webkit-transition: all 0.2s ease;
// 								-moz-transition: all 0.2s ease;
// 								-ms-transition: all 0.2s ease;
// 								-o-transition: all 0.2s ease;
// 								transition: all 0.2s ease;
// 							}

// 							&:hover {
// 								&:after {
// 									opacity: 0.6;
// 								}
// 							}
// 						}
// 					}
// 				}
// 			}
// 		}

// 		.autor.page {
// 			margin-bottom: $spacing-unit;

// 			.page-header {
// 				.page-title {
// 					font-family: $heading-font-family;
// 					font-size: 3.462em;
// 					font-weight: bold;
// 					line-height: 1;
// 				}
// 			}
// 		}
// 	}
// }



/* ==========================================================================
	 Footer
	 ========================================================================== */
#footer {
	font-size: 0.923em;
	text-align: center;

	ul {
		border-top: 1px double rgba(0, 0, 0, 0.1);
		margin: 0;
		padding-left: 0;
		padding-bottom: $spacing-unit;
		padding-top: 8px;

		li {
			display: inline-block;
			list-style: none;

			&:not(:last-child):after {
				content: '/';
				opacity: 0.6;
				padding-right: 1px;
			}
		}
	}
}



/* ==========================================================================
	 Helper classes
	 ========================================================================== */
.clearfix {
	&:before,
	&:after {
	content: " ";
	display: table;
	}
	&:after {
	clear: both;
	}
}

.pull-left {
	float: left;
}
.pull-right {
	float: right;
}

img.pull-left {
	margin-right: 10px;
	margin-top: 5px;
}

// .note,
// .featured {
//   // background-color: rgba(0, 0, 0, 0.07);
//   background-color: rgba(0, 0, 0, 0.085);
// 	// border-radius: 4px;
//   display: block;
//   padding: 8px 20px;
// }

// .featured {
//   margin: $spacing-unit 0;
//   padding-bottom: 0;
//   padding-top: 15px;

//   h3 {
// 		font-family: $heading-font-family;
// 		font-size: 2.462em;
// 		font-weight: normal;
// 		line-height: 1;
//   }
// }

.sticky {
	position: relative;

	&:before {
		background: url(../images/sticky@2x.png);
		background-size: 30px 52px;
		content: '';
		height: 52px;
		position: absolute;
		right: 18px;
		top: -5px;
		width: 30px;
	}
}

.text-right {
	text-align: right;
}

.hide {
	display: none;
}



/* ==========================================================================
	 Responsive
	 ========================================================================== */
@include media-query($on-laptop) {	#header {
		background-color: $text-color;

		.wrapper {
			padding-left: 0;
			padding-right: 0;

			.header-box {
				background-color: transparent;
			}
		}
	}

	#main {
		.left-column,
		.right-column {
			float: none;
			width: 100%;

			.column-inner {
				padding: 0;
			}
		}
	}

	.single {
		#main {
			.wrapper {
				.full.post,
				.page {
					padding-left: 0;
					padding-right: 0;
				}
				// .full.post,
				// .autor.page {
				// 	.post-header,
				// 	.page-header {
				// 		.post-title,
				// 		.page-title {
				// 			font-size: 2em;
				// 		}
				// 	}
				// }
			}
		}
	}
}

@include media-query($on-palm) {
	#footer {
		ul {
			li.footer-item-source-code {
				display: none;
			}
		}
	}
}

@media screen and (max-width: 539px) {
}

@media screen and (max-width: 459px) {
}
