body {
    background-color: $color-primary;
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: $container-max-width;
}

.header {
    background-color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    width: $header-width;
}

@media screen and (min-width: $breakpoint-lg-min-width) {
    .header {
        left: 0.3rem;
        width: calc(#{$header-width-lg} - 0.3rem);
    }
}

.main {
    background-color: $color-functional-2;
    position: relative;

    &::before {
        background-color: $color-neutral-dark;
        content: "";
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        z-index: -1;
    }
}

@supports (display: flex) {
    // Keeping the footer at the bottom with CSS Flexbox

    html,
    body {
        height: 100%;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        min-height: 100%;
    }

    .header,
    .main,
    .footer {
        flex-shrink: 0;
    }

    .main {
        flex-grow: 1;
    }

    // End - Keeping the footer at the bottom with CSS Flexbox

    .main,
    .footer {
        margin-left: $header-width;
    }
}

@media screen and (min-width: $breakpoint-lg-min-width) {
    @supports (display: flex) {
        .main,
        .footer {
            margin-left: $header-width-lg;
        }
    }

    .main,
    .footer {
        float: right;
        width: calc(100% - #{$header-width-lg});
    }
}

.content {
    margin: 0 5%;
}

.footer {
    background-color: $color-neutral-dark;
    color: $color-functional-2;

    &__content {
        padding-top: $space-md;
        padding-bottom: $space-xxl;
    }
}
