.body {
    background-color: $site-bg-color;
    margin: 0;
    position: relative;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: $grid-gap;
    grid-row-gap: $space-sm;
    padding: 0 $grid-gap;
    position: relative;

    @media screen and (min-width: $bp-sm-min-width) {
        grid-template-columns: repeat(6, 1fr);
    }

    @media screen and (min-width: $bp-md-min-width) {
        grid-template-columns: 2fr 1fr 1fr 2fr 2fr 1fr 1fr 2fr;
        margin: 0 auto;
        max-width: $container-max-width;
        padding: 0;
        width: $container-width;
    }
}

// .bg {
//     pointer-events: none;
//     position: fixed;
//     top: 0;
//     left: 0;
//     user-select: none;
//     width: 100%;
//     height: 100%;

//     &__down {
//         @extend .bg;
//         // Fix mix-blend-mode issue in Chrome
//         background-color: $site-bg-color;
//     }

//     &__guides {
//         @extend .bg;
//         opacity: 0.075;

//         .container {
//             height: 100%;
//             position: relative;
//         }
//     }

//     &__vguide {
//         border-left: $border-width $border-style $color-primary;
//         border-right: $border-width $border-style $color-primary;
//         width: 100%;

//         &:first-child,
//         &:last-child {
//             position: absolute;
//             top: 0;
//             bottom: 0;
//             width: $grid-gap;
//         }

//         &:first-child {
//             border-right: 0;
//             border-left: $border-width $border-style $color-primary;
//             margin-left: -#{$grid-gap};
//             left: 0;
//         }

//         &:last-child {
//             border-right: $border-width $border-style $color-primary;
//             border-left: 0;
//             margin-right: -#{$grid-gap};
//             right: 0;
//         }
//     }
// }

.header,
.intro-head,
.main,
.sidebar,
.footer,
hr {
    grid-column: 1 / -1;
}

.header {
    border-bottom: $border-width $border-style $border-color;
    margin-bottom: $space-lg;
    padding: $space 0;
}

.intro {
    &-head {
        margin-bottom: $space-lg;
    }
}

.main {
    width: 100%;
}

.post {
    margin-bottom: $space-xl;

    &__date {
        .month {
            text-transform: capitalize;
        }
    }

    &__header &__date {
        font-size: $font-size-xs;
        margin-bottom: $space-sm;
    }

    &__content > {
        .footnotes {
            font-size: $font-size-xs;
        }
    }

    &__footer {
        font-size: $font-size-sm;
    }

    &--full {
        .post__footer {
            margin-top: $space-md;
        }

        @media screen and (min-width: $bp-md-min-width) {
            .post__footer {
                text-align: center;
            }
        }
    }
}

.sidebar {
    &__about {
        font-size: $font-size-sm;
    }

    &__list {
        small {
            display: block;
        }
    }

    hr {
        margin: 0 0 $space 0;
    }
}

.awesome-block {
    p {
        font-size: $font-size-sm;
    }
}

.footer {
    font-size: $font-size-sm;
    margin-bottom: $space-xl;
}

@media screen and (min-width: $bp-md-min-width) {
    .intro-head,
    .main {
        grid-column: 3 / 8;
    }

    .sidebar {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }

    .awesome-block--1 {
        grid-column: 1 / 3;
    }

    .awesome-block--2 {
        grid-column: 4 / 6;
    }

    .awesome-block--3 {
        grid-column: 7 / -1;
    }
}
