body {
    background-color: $body-bg-color;
}

.intro {
    &-head {
        margin-bottom: $space-xl;
    }

    &-body {
        font-size: $font-size-xl;
    }
}

.post {
    margin-bottom: $space-xxl;

    &__date {
        font-size: $font-size-xs;
        margin-bottom: $space-sm;

        .month {
            text-transform: capitalize;
        }
    }

    &__footer {
        font-size: $font-size-sm;
    }
}

.sidebar {
    &__list {
        a {
            display: block;
        }
    }
}

@media screen and (min-width: $bp-sm-min-width) {
    body {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 4vw;
        grid-row-gap: $space-sm;
    }

    .header,
    .footer {
        grid-column: 1 / -1;
    }
}

@media screen and (min-width: $bp-md-min-width) {
    body {
        grid-template-columns: 2fr 1fr 1fr 2fr 2fr 1fr 1fr 2fr;
        margin: 0 auto;
        max-width: $body-max-width;
        padding: 0;
        width: 95%;
    }

    .header {
        border-bottom: $border-width $border-style $border-color;
        margin-bottom: $space-xl;
        padding: $space-md 0;
    }

    .intro-head,
    .intro-body,
    .main {
        grid-column: 3 / 8;
    }

    .sidebar {
        grid-column: 1 / 3;
        grid-row: 3 / 5;

        &__about {
            font-size: $font-size-sm;
        }
    }
}
