body {
    background-color: $body-bg-color;
    margin: 0;
    position: relative;
}

.container {
    padding: 0 $grid-gap;
}

.grid {
    display: grid;
    grid-template-columns: repeat(#{$grid-cols - 4}, 1fr);
    grid-column-gap: $grid-gap;
    // grid-row-gap: $space-sm;
}

.guides {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .container {
        height: 100%;
        position: relative;
    }
}

.guide {
    border-left: $border-width $border-style $guides-color;
    border-right: $border-width $border-style $guides-color;
    width: 100%;

    &:first-child {
        border-right: 0;
        border-left: $border-width $border-style $guides-color;
        margin-left: -#{$grid-gap};
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: $grid-gap;
    }

    &:last-child {
        border-right: $border-width $border-style $guides-color;
        border-left: 0;
        margin-right: -#{$grid-gap};
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: $grid-gap;
    }
}

.header,
.main,
.post *,
.footer,
hr {
    grid-column: 1 / -1;
}

.header {
    margin-bottom: $space-lg;
    padding: $space 0;
}

.post {
    margin-bottom: $space-xl;

    &__header,
    &__footer {
        > * {
            padding: 0 $space;
        }
    }

    &__summary {
        font-family: $font-family-secondary;
        font-size: $font-size-md;
    }

    &__content > {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        ol,
        ul,
        p,
        .highlighter-rouge,
        .footnotes {
            padding: 0 $space;
        }

        blockquote,
        ol,
        ul,
        p,
        .footnotes {
            font-family: $font-family-secondary;
        }

        figure:first-child {
            margin-top: 0;
        }

        .footnotes {
            font-size: $font-size-sm;
        }
    }

    &__footer {
        font-size: $font-size-xs;

        ul {
            margin: 0;
        }
    }

    &--full {
        .post__summary {
            margin-bottom: $space-lg;
        }

        .post__footer {
            text-align: center;
        }
    }
}

.footer {
    font-size: $font-size-xs;
    margin-bottom: $space-xl;
    padding: 0 $space;
}

@media screen and (min-width: $bp-sm-min-width) {
    .grid {
        grid-template-columns: repeat(#{$grid-cols - 2}, 1fr);
    }
}

@media screen and (min-width: $bp-md-min-width) {
    .container {
        margin: 0 auto;
        max-width: $container-max-width;
        padding: 0;
        width: $container-width;
    }

    .grid {
        grid-template-columns: repeat(#{$grid-cols}, 1fr);
    }
}

$bps-map: (
    xs $bp-xs-min-width $grid-cols - 4,
    sm $bp-sm-min-width $grid-cols - 2,
    md $bp-md-min-width $grid-cols,
    lg $bp-lg-min-width $grid-cols
);

@each $prefix, $value, $cols in $bps-map {
    @media screen and (min-width: #{$value}) {
        @for $col from 1 to $cols {
            .#{$prefix}-colstart-#{$col} {
                grid-column-start: #{$col};
            }

            .#{$prefix}-colend-#{$col + 1} {
                grid-column-end: #{$col + 1};
            }

            .#{$prefix}-rowstart-#{$col} {
                grid-row-start: #{$col};
            }

            .#{$prefix}-rowend-#{$col + 1} {
                grid-row-end: #{$col + 1};
            }

            .#{$prefix}-rowspan-#{$col + 1} {
                grid-row: #{$col} / span #{$col + 1};
            }
        }
    }
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}
