/* ==========================================================================
	 Header
	 ========================================================================== */
#header {
	background: #e3eeff;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
	color: $text-color;
	position: fixed;
	width: 100%;
	z-index: 100;

	.header-logo {
		// background-position: center center;
		// background-repeat: no-repeat;
		// background-size: contain;
		cursor: pointer;
		// font-size: 0;
		height: 34px;
		margin: 8px 10%;
		// text-indent: -9999px;
		width: 80%;

		font-family: $heading-font-family;
		font-size: 12px;
		font-weight: 800;
		letter-spacing: 2px;
		line-height: 34px;
		text-align: center;
		text-transform: uppercase;
		word-spacing: 5px;

		a {
			color: $text-color;
		}
	}

	.header-nav {
		background: $color-white;
		height: 44px;
		margin: 0;
		max-width: 100%;
		overflow-x: auto;
		overflow-y: hidden;
		padding: 0 20px;
		text-align: center;
		white-space: nowrap;

		-ms-overflow-style: -ms-autohiding-scrollbar;
		-webkit-overflow-scrolling: touch;

		a {
			border-bottom: 3px solid transparent;
			color: $color-grey;
			display: inline-block;
			font-size: 13px;
			height: 41px;
			// letter-spacing: 1px;
			line-height: 44px;
			margin-right: 20px;
			text-decoration: none;
			// text-transform: uppercase;

			&.current {
				border-color: $text-color;
				color: $text-color;
			}
		}
	}
}



/* ==========================================================================
	 Main
	 ========================================================================== */
#main {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	margin-left: auto;
	margin-right: auto;
	padding-top: 94px;

	.posts {
		.post {
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			box-sizing: border-box;
			cursor: pointer;
			position: relative;

			&:before,
			&:after {
				content: " ";
				display: table;
			}

			&:after {
				clear: both;
			}

			.post-image {
				img {
					display: block;
					float: right;
					margin: 24px 24px 24px 5%;
					width: 30%;
				}
			}

			.post-body {
				padding: 20px;

				.post-title {
					// font-family: $heading-font-family;
					font-size: 5vw;
					line-height: 1.2em;
					margin-bottom: $spacing-unit;
					margin-top: 0;

					a {
						color: $text-color;
					}
				}

				.post-content {
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 3;
					// font-size: 16px;
					// line-height: 1.3em;
					overflow: hidden;

					a {
						border-bottom: 1px solid $color-grey-300;
						font-weight: 500;
						padding: 3px 2px 1px 2px;

						&:visited {
							border-bottom: 1px solid $color-grey-300;
						}

						&:active {
							border-bottom: 1px solid $link-active-color;
						}

						&:hover {
							background: #f3f6fb;
							border-bottom: 1px solid $color-grey-400;
							border-radius: 6px;
						}
					}
				}

				.post-footer {
					.post-date {
						color: $color-grey;
						font-size: 13px;
					}
				}
			}
		}

		.full.post {
			cursor: inherit;

			.post-header {
				padding: 1.5em 10%;

				.post-title {
					// font-family: $heading-font-family;
					font-size: 7vw;
					line-height: 1.15em;
					margin: 0 0 0.5em 0;
				}

				.post-date {
					color: $color-grey;
					// font-size: 16px;
				}
			}

			.post-image {
				&:empty {
					border-bottom: 1px solid rgba(0, 0, 0, 0.1);
					margin: 0 6%;
				}

				img {
					display: block;
					float: none;
					height: auto;
					margin: 0;
					width: 100%;
				}

				figure {
				  margin: 0;

					figcaption {
				    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
				    margin: 1em 5% 0;
				    padding-bottom: 1em;
					}
				}
			}

			figcaption,
			figcaption p {
		    font-size: 13px;
		    line-height: 1.5em;
		    color: $color-grey;
		  }

			.post-share {
				margin: 0 10%;
				padding-top: 2em;
			}

			.post-body {
				margin: 0 10%;
				padding: 0;

				.post-content {
					// font-size: 16px;
					// line-height: 1.5em;
				}
			}
		}
	}
}





/* ==========================================================================
	 Footer
	 ========================================================================== */
#footer {
	color: $color-grey;
	font-size: 13px;
	line-height: 13px;
	padding: 20px 24px;
	text-align: center;

	ul {
		display: inline-block;
		margin: 0;
		padding: 0;

		li {
			border-right: 1px solid $color-grey-400;
			display: inline;
			float: left;
			list-style: none;
			margin-right: 12px;
			padding-right: 10px;

			&:last-child {
				border-right: none;
				margin-right: 0;
				padding-right: 0;
			}
		}
	}
}



/* ==========================================================================
	 Helper classes
	 ========================================================================== */
.clearfix {
	&:before,
	&:after {
	content: " ";
	display: table;
	}
	&:after {
	clear: both;
	}
}

.pull-left {
	float: left;
}
.pull-right {
	float: right;
}

img.pull-left {
	margin-right: 10px;
	margin-top: 5px;
}

// .note,
// .featured {
//   // background-color: rgba(0, 0, 0, 0.07);
//   background-color: rgba(0, 0, 0, 0.085);
// 	// border-radius: 4px;
//   display: block;
//   padding: 8px 20px;
// }

// .featured {
//   margin: $spacing-unit 0;
//   padding-bottom: 0;
//   padding-top: 15px;

//   h3 {
// 		font-family: $heading-font-family;
// 		font-size: 2.462em;
// 		font-weight: normal;
// 		line-height: 1;
//   }
// }

.sticky {
	position: relative;

	&:before {
		background: url(../images/sticky@2x.png);
		background-size: 30px 52px;
		content: '';
		height: 52px;
		position: absolute;
		right: 18px;
		top: -5px;
		width: 30px;
	}
}

.text-right {
	text-align: right;
}

.button {
	background-color: lighten($link-color, 5%);
	border-radius: 4px;
	color: $color-white !important;
	display: inline-block;
	font-size: 0.889em;
	font-weight: normal;
	padding: 8px 24px;

	&:hover {
		background-color: darken($link-color, 5%);
	}
}

.hide {
	display: none;
}



/* ==========================================================================
	 Responsive
	 ========================================================================== */
@include media-query-min($on-tablet-min) {
	#main {
		.posts {
			.post {
				.post-body {
					.post-title {
						font-size: 4vw;
						line-height: 1.15em;
					}
				}
			}

			.full.post {
				.post-header {
					.post-title {
						font-size: 6vw;
					}

					.post-date {
						font-size: 16px;
					}
				}

				.post-body {
					.post-content {
						font-size: 16px;
					}
				}
			}
		}
	}
}

@include media-query-min($content-width) {
	#main {
		.posts {
			.post {
				.post-body {
					.post-title {
						font-size: 3vw;
					}
				}
			}

			.full.post {
				.post-header {
					.post-title {
						font-size: 4vw;
						line-height: 1.1em;
					}
				}

				.post-image {
					// margin-left: 10%;
					// margin-right: 10%;

					figure {
						figcaption {
							margin: 1em 0 0;
						}
					}
				}

				.post-body {
					margin: 0 10%;
				}
			}
		}
	}
}

@include media-query-max($on-tablet-max) {
	#main {
		.posts {
			.post {
				&:nth-child(4n-7) {
					.post-image {
						max-height: 400px;
						overflow: hidden;

						& + .post-body {
							background-color: rgba(255, 255, 255, 0.9);
							border-bottom-right-radius: 4px;
							border-top-right-radius: 4px;
							bottom: 0;
							margin: 0 6px 6px 0;
							padding: 10px 60px 10px 20px;
							position: absolute;

							.post-title {
								margin: 0;
							}

							.post-content {
								display: none;
							}

							.post-footer {
								.post-date {
									bottom: 10px;
									position: absolute;
									right: 10px;
								}
							}
						}

						img {
							display: block;
							float: none;
							margin: 0;
							width: 100%;
						}
					}
				}

				.post-body {
					.post-title {
						margin-bottom: $spacing-unit / 2;
					}

					.post-content {
						font-size: 14px;
					}
				}
			}

			.full.post {
				.post-header {
					.post-date {
						font-size: 14px;
					}
				}
			}
		}
	}

	#footer {
		ul {
			li.footer-item-source-code,
			li.footer-item-subscribe {
				display: none;
			}
		}
	}
}
