@import "colors";
@import "variables";

.color-palette {
    &__group {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        margin-bottom: $space;
    }

    &__swatch {
        width: 100%;
        height: $space-lg;
    }
}

$colors-map: (
    // "neutral-light": (
    //     $color-neutral-light-20,
    //     $color-neutral-light-30,
    //     $color-neutral-light-40,
    //     $color-neutral-light-50,
    //     $color-neutral-light-60,
    //     $color-neutral-light-70,
    //     $color-neutral-light-80,
    // ),
    // "neutral-dark": (
    //     $color-neutral-dark-20,
    //     $color-neutral-dark-30,
    //     $color-neutral-dark-40,
    //     $color-neutral-dark-50,
    //     $color-neutral-dark-60,
    //     $color-neutral-dark-70,
    //     $color-neutral-dark-80,
    // ),
    // "primary": (
    //     $color-primary-20,
    //     $color-primary-30,
    //     $color-primary-40,
    //     $color-primary-50,
    //     $color-primary-60,
    //     $color-primary-70,
    //     $color-primary-80,
    // ),
);

@each $name, $colors in $colors-map {
    @each $color in $colors {
        $i: index($colors, $color);

        .bgc-#{$name}-#{$i + 1}0 {
            background-color: $color;
        }
    }
}
