*,
*::before,
*::after {
    box-sizing: border-box;
}

::selection {
    background-color: $color-secondary-30;
}

body {
    color: $body-color;
    font-family: $body-font-family;
    font-size: $body-font-size;
    font-weight: $body-font-weight;
    line-height: $body-line-height;

    // @include fluid-type(
    //     $breakpoint-sm-min-width,
    //     $breakpoint-lg-min-width,
    //     $font-size,
    //     $font-size-lg
    // );

    font-feature-settings: normal;
    // font-variant-numeric: oldstyle-nums;

    // -moz-osx-font-smoothing: grayscale;
    // -webkit-font-smoothing: antialiased;
}

@supports (font-variant-ligatures: common-ligatures) {
    body {
        font-variant-ligatures: common-ligatures;
    }
}

a {
    color: $body-color;
    transition: all $transition-duration ease-out;

    text-decoration-color: rgba($color-primary, 0.4);
    text-decoration-thickness: 0.125rem;
    text-underline-offset: 0.156em;

    &:hover {
        color: $color-primary;
        text-decoration-color: $color-primary-65;
    }

    &:hover,
    &:active {
        transition-duration: 0s;
    }

    &:focus {
        color: $body-color;
    }
}

$headings-map: (
    $h1-font-size,
    $h2-font-size,
    $h3-font-size,
    $h4-font-size,
    $h5-font-size,
    $h6-font-size
);

@each $heading-size in $headings-map {
    $i: index($headings-map, $heading-size);

    h#{ $i },
    .h#{ $i } {
        font-family: $heading-font-family;
        font-size: $heading-size;
        font-weight: $heading-font-weight;
        line-height: 1.125;
        margin: 0 0 $space-sm;
    }

    // cambiarlo?
    figure,
    p,
    ol,
    ul {
        & + h#{ $i },
        & + .h#{ $i } {
            margin-top: $space-md;
        }
    }
}

ol,
ul {
    list-style-position: outside;
    padding-right: 0;
    padding-left: 0;
}

// numeros en negritas
// ol {
//     counter-reset: item;

//     & > li {
//         list-style-type: none;
//         counter-increment: item;
//         padding-left: #{$space-lg - $space-sm};
//         text-indent: -#{$space-lg};

//         &::before {
//             display: inline-block;
//             padding-right: $space-sm;
//             font-weight: bold;
//             text-align: right;
//             content: counter(item) ".";
//         }

//         & > p {
//             display: inline;
//         }
//     }
// }

li {
    margin-bottom: $space-sm;
}

@media screen and (min-width: $bp-md-min-width) {
    li {
        margin-bottom: $space-xs;
    }
}

hr {
    grid-column: 1 / -1;
    clear: both;
    display: block;
    margin: $space-lg 0;
    padding: 0;
    height: 0.063rem;
    border: 0;
    border-bottom: $border-width $border-style $border-color;

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        border-bottom-width: #{$border-width / 2};
    }

    .sidebar & {
        margin: 0 0 $space 0;
    }
}

sup {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    text-indent: 0;

    a {
        background-color: $color-primary-65;
        border-radius: 50%;
        color: $body-bg-color;
        font-size: $font-size-sm;
        text-align: center;
        text-decoration: none;
        width: $space;
        height: $space;

        &:hover,
        &:active {
            background-color: $color-primary;
            color: $body-bg-color;
        }
    }
}

figure {
    margin: $space-lg 0;

    a {
        display: flex;
    }
}

figcaption {
    font-size: $font-size-xs;
    margin-top: $space-rg;
}

img {
    border-radius: $border-radius;
    border-width: 0;
    max-width: 100%;
    mix-blend-mode: multiply;
}

p {
    margin-top: 0;
}

code {
    background-color: darken($color-functional-1, 6%);
    font-family: $font-family-mono;
    font-size: #{$font-size + 0.031};
    padding: $space-xs;
    word-wrap: break-word;
}

.highlighter-rouge {
    margin: $space-lg 0;
}

pre {
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;

    code {
        padding-right: 0;
        padding-left: 0;
        word-break: normal;
    }
}

table {
    border-collapse: collapse;
    margin: #{$space-lg - $space-rg} 0;
}

th {
    font-weight: 700;
    white-space: nowrap;
}

th,
td {
    font-size: $font-size-sm;
    padding: $space-rg $space $space-rg 0;
    text-align: left;
    vertical-align: top;
}

td:first-of-type {
    padding-left: $space-xs;
}

blockquote {
    background-color: darken($color-functional-1, 6%);
    border-radius: $border-radius;
    font-size: $font-size-lg;
    font-weight: 700;
    margin: $space-lg 0;
    padding: $space-md;

    quotes: $open-quote $close-quote;
    // quotes: '“' '”' '‘' '’';

    p {
        &:first-child::before {
            color: $color-neutral-dark-30;
            content: open-quote;
        }

        &:last-child {
            margin-bottom: 0;

            &::after {
                color: $color-neutral-dark-30;
                content: close-quote;
            }
        }
    }
}

// @media screen and (min-width: $bp-md-min-width) {
//     blockquote {
//         transform: translateX(#{$space-md * -1});
//         width: calc(100% + #{$space-xl});
//     }
// }
