*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    color: $body-color;
    font-family: $body-font-family;
    font-size: $font-size-md;
    line-height: $body-line-height;

    // @include fluid-type(
    //     $breakpoint-sm-min-width,
    //     $breakpoint-lg-min-width,
    //     $font-size,
    //     $font-size-lg
    // );

    font-feature-settings: normal;
    // font-variant-numeric: oldstyle-nums;

    // -moz-osx-font-smoothing: grayscale;
    // -webkit-font-smoothing: antialiased;
}

@supports (font-variant-ligatures: common-ligatures) {
    body {
        font-variant-ligatures: common-ligatures;
    }
}

a {
    color: $body-color;
    transition: color $transition-duration;

    text-decoration-color: $color-primary-65;
    text-decoration-thickness: 0.063rem;

    &:hover {
        color: $color-primary;
        text-decoration-color: $color-primary-65;
    }

    &:hover,
    &:active {
        outline: 0;
        transition-duration: 0;
    }

    &:focus {
        color: $color-neutral-dark;
    }
}

$headings-map: (
    $h1-font-size,
    $h2-font-size,
    $h3-font-size,
    $h4-font-size,
    $h5-font-size,
    $h6-font-size
);

@each $heading-size in $headings-map {
    $i: index($headings-map, $heading-size);

    h#{ $i },
    .h#{ $i } {
        font-family: $heading-font-family;
        font-size: $heading-size;
        font-weight: $heading-font-weight;
        line-height: 1.125;
        margin: 0 0 $space-sm;

        p + & {
            margin-top: $space-lg;
        }
    }
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: $space-sm;
}

@media screen and (min-width: $bp-md-min-width) {
    li {
        margin-bottom: $space-xs;
    }
}

hr {
    grid-column: 1 / -1;
    clear: both;
    display: block;
    margin: $space-xl 0;
    padding: 0;
    height: 0.063rem;
    border: 0;
    border-bottom: $border-width $border-style $border-color;

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        border-bottom-width: #{$border-width / 2};
    }

    .sidebar & {
        margin: 0 0 $space-md 0;
    }
}
