*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    color: $body-color;
    font-family: $body-font-family;
    font-feature-settings: normal;
    font-size: $body-font-size;
    font-weight: $body-font-weight;
    line-height: $body-line-height;
}

@supports (font-variant-ligatures: common-ligatures) {
    body {
        font-variant-ligatures: common-ligatures;
    }
}

a {
    color: $color-primary;
    transition: all $transition-duration ease-out;

    text-decoration-color: $color-primary-30;
    text-decoration-thickness: 0.125rem;
    text-underline-offset: 0.156em;

    &:hover {
        color: darken($color-primary, 10%);
        text-decoration-color: darken($color-primary-65, 10%);
    }

    &:hover,
    &:active {
        transition-duration: 0s;
    }

    &:focus {
        color: $color-primary;
    }
}

blockquote,
ol,
ul,
p,
.footnotes {
    font-family: $font-family-secondary;
}

blockquote {
    font-style: italic;
    margin: $space-lg 0;
    padding: $space-sm #{$space + $space-md};

    quotes: $open-quote $close-quote;
    // quotes: '“' '”' '‘' '’';

    p {
        &:first-child {
            margin-top: 0;

            &::before {
                color: $color-neutral-dark-30;
                content: open-quote;
            }
        }

        &:last-child {
            margin-bottom: 0;

            &::after {
                color: $color-neutral-dark-30;
                content: close-quote;
            }
        }
    }
}

code {
    color: $color-functional-2;
    word-wrap: break-word;
}

pre {
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;

    code {
        word-break: normal;
    }
}

code {
    font-family: $font-family-mono;
    font-size: #{$font-size - 0.188};
}

figure {
    margin: $space-lg 0;

    a {
        display: flex;
    }
}

figcaption {
    font-size: $font-size-sm;
    margin-top: $space-rg;
}

$headings-map: ($h1-font-size, $h2-font-size, $h3-font-size, $h4-font-size);

@each $heading-size in $headings-map {
    $i: index($headings-map, $heading-size);

    h#{ $i },
    .h#{ $i } {
        font-family: $font-family-primary;
        font-size: $heading-size;
        font-weight: $heading-font-weight;
        line-height: 1.125;
        margin: 0 0 $space-sm;

        a {
            color: $body-color;
            text-decoration: none;

            &:hover {
                color: $color-primary;
            }

            &:focus {
                color: $color-primary;
            }
        }
    }

    // cambiarlo?
    figure,
    p,
    ol,
    ul,
    .highlighter-rouge {
        & + h#{ $i },
        & + .h#{ $i } {
            margin-top: $space-lg;
        }
    }
}

img {
    max-width: 100%;
    mix-blend-mode: multiply;
}

hr {
    clear: both;
    display: block;
    margin: $space-lg 0;
    padding: 0;
    height: $border-width;
    border: 0;
    border-bottom: $border-width $border-style $border-color;

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        border-width: #{$border-width / 2};
    }
}

ol,
ul {
    list-style-position: outside;
    padding-right: 0;
    padding-left: 0;
}

li {
    margin-bottom: $space-sm;
}

@media screen and (min-width: $bp-md-min-width) {
    li {
        margin-bottom: $space-xs;
    }
}

pre {
    margin: $space-lg 0;
}

strong {
    font-weight: 600;
}
