*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    color: $body-color;
    font-family: $body-font-family;
    font-feature-settings: normal;
    font-size: $body-font-size;
    font-weight: $body-font-weight;
    line-height: $body-line-height;
}

@supports (font-variant-ligatures: common-ligatures) {
    body {
        font-variant-ligatures: common-ligatures;
    }
}

figure {
    margin-right: 0;
    margin-left: 0;

    a {
        display: flex;
    }
}

figcaption {
    font-size: $font-size-xs;
    margin-top: $space-rg;
    text-align: center;
}

$headings-map: ($h1-font-size, $h2-font-size, $h3-font-size, $h4-font-size);

@each $heading-size in $headings-map {
    $i: index($headings-map, $heading-size);

    h#{ $i },
    .h#{ $i } {
        font-family: $heading-font-family;
        font-size: $heading-size;
        font-weight: $heading-font-weight;
        line-height: 1.125;
        margin: 0 0 $space-sm;

        a {
            text-decoration: none;
        }
    }

    // cambiarlo?
    figure,
    p,
    ol,
    ul {
        & + h#{ $i },
        & + .h#{ $i } {
            margin-top: $space-lg;
        }
    }
}

img {
    max-width: 100%;
    mix-blend-mode: multiply;
}

ol,
ul {
    list-style-position: outside;
    padding-right: 0;
    padding-left: 0;
}
