*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    color: $body-color;
    font-family: $body-font-family;
    font-feature-settings: normal;
    font-size: $body-font-size;
    font-weight: $body-font-weight;
    line-height: $body-line-height;
}

@supports (font-variant-ligatures: common-ligatures) {
    body {
        font-variant-ligatures: common-ligatures;
    }
}

a {
    color: $color-link;
    // transition: all $transition-duration ease-out;

    box-shadow: inset 0 -0.063rem 0 rgba($color-link, 0.3),
        0 0 0 rgba($color-link, 0.3);
    text-decoration: none;
    transition: all 0.2s;

    // text-decoration-color: rgba($color-link, 0.5);
    // text-decoration-thickness: 0.063rem;
    // text-underline-offset: 0.156em;

    &:hover {
        border-radius: $border-radius;
        color: $color-link;

        box-shadow: inset 0 -5rem 0 rgba($color-link, 0.1),
            0 0.063rem 0 rgba($color-link, 0.1);

        // text-decoration-color: rgba($color-link, 0.5);
    }

    // &:hover,
    // &:active {
    //     transition-duration: 0s;
    // }

    &:focus {
        color: $color-link;
    }
}

abbr {
    font-weight: $heading-font-weight;
    text-decoration-thickness: 0.063rem;
    text-underline-offset: 0.156em;
}

// blockquote,
// ol,
// ul,
// p,
// .footnotes {
//     font-family: $font-family-secondary;
// }

blockquote {
    border-left: $space-xs $border-style $border-color;
    border-radius: $border-radius;
    font-size: $font-size-md;
    font-style: italic;
    margin: $space-lg 0;
    padding: $space-sm $space;

    quotes: $open-quote $close-quote;
    // quotes: '“' '”' '‘' '’';

    p {
        &:first-child {
            margin-top: 0;

            &::before {
                color: $color-neutral-dark-50;
                content: open-quote;
                @extend strong;
            }
        }

        &:last-child {
            margin-bottom: 0;

            &::after {
                color: $color-neutral-dark-50;
                content: close-quote;
                @extend strong;
            }
        }
    }
}

code {
    display: inline-block;
    font-family: $font-family-mono;
    font-size: #{$font-size - 0.188};
    padding: #{$space-xs / 2} #{$space-sm - 0.125};
    position: relative;
    word-wrap: break-word;

    &::after {
        background-color: $code-bg-color;
        border-radius: $border-radius;
        content: "";
        inset: -0.063rem;
        opacity: 0.15;
        position: absolute;
    }
}

pre {
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;

    code {
        padding: 0;
        word-break: normal;

        &::after {
            content: none;
        }
    }
}

em {
    color: $color-link;
    font-style: italic;
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
}

figure {
    margin: $space-lg 0;

    a {
        box-shadow: none;
        display: flex;

        &:hover {
            box-shadow: none;
        }
    }
}

figcaption {
    font-size: $font-size-sm;
    margin-top: $space-rg;
}

$headings-map: ($h1-font-size, $h2-font-size, $h3-font-size, $h4-font-size);

@each $heading-size in $headings-map {
    $i: index($headings-map, $heading-size);

    h#{ $i },
    .h#{ $i } {
        font-family: $heading-font-family;
        font-size: $heading-size;
        font-weight: $heading-font-weight;
        line-height: #{$body-line-height - 0.375};
        margin: 0 0 $space-sm;

        a {
            color: $body-color;
            text-decoration: none;

            &:visited {
                color: $body-color;
            }

            &:hover {
                color: $color-link;
            }

            &:focus {
                color: $color-link;
            }
        }
    }

    // cambiarlo?
    figure,
    p,
    ol,
    ul,
    .highlighter-rouge {
        & + h#{ $i },
        & + .h#{ $i } {
            margin-top: $space-lg;
        }
    }
}

img {
    border-radius: $border-radius;
    max-width: 100%;
    mix-blend-mode: multiply;
}

hr {
    clear: both;
    display: block;
    margin: $space-lg 0;
    padding: 0;
    height: $border-width;
    border: 0;
    border-bottom: $border-width $border-style $border-color;

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        border-width: #{$border-width / 2};
    }
}

ol,
ul {
    list-style-position: outside;
    padding-right: 0;
    padding-left: 0;
}

li {
    margin-bottom: $space-sm;
}

@media screen and (min-width: $bp-md-min-width) {
    li {
        margin-bottom: $space-xs;
    }
}

p {
    margin-top: 0;
}

pre {
    margin: $space-lg 0;
}

small {
    font-size: $font-size-sm;
}

strong,
b {
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    font-size: $font-size-sm;
    margin: $space-lg 0;
    table-layout: auto;
    width: 100%;
    word-break: normal;

    th {
        border-bottom: $border-width $border-style $border-color;
        font-family: $heading-font-family;
        font-weight: $heading-font-weight;
        text-align: left;
        word-break: normal;
    }

    td {
        border-bottom: $border-width dotted $border-color;
    }

    th,
    td {
        padding: $space-sm $space;
        vertical-align: top;

        // @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        //     border-width: #{$border-width / 2};
        // }
    }

    @media screen and (max-width: $bp-md-min-width) {
        display: block;
        overflow-x: auto;
        overflow-y: hidden;
    }
}
