*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    color: $body-color;
    font-family: $body-font-family;
    font-size: $body-font-size;
    font-weight: $body-font-weight;
    line-height: $body-line-height;

    // @include fluid-type(
    //     $breakpoint-sm-min-width,
    //     $breakpoint-lg-min-width,
    //     $font-size,
    //     $font-size-lg
    // );

    font-feature-settings: normal;
    // font-variant-numeric: oldstyle-nums;

    // -moz-osx-font-smoothing: grayscale;
    // -webkit-font-smoothing: antialiased;
}

@supports (font-variant-ligatures: common-ligatures) {
    body {
        font-variant-ligatures: common-ligatures;
    }
}

a {
    color: $body-color;
    transition: all $transition-duration ease-out;

    text-decoration-color: rgba($color-primary, 0.4);
    text-decoration-thickness: 0.125rem;
    text-underline-offset: 0.156em;

    &:hover {
        color: $color-primary;
        text-decoration-color: $color-primary-65;
    }

    &:hover,
    &:active {
        transition-duration: 0s;
    }

    &:focus {
        color: $body-color;
    }
}

$headings-map: (
    $h1-font-size,
    $h2-font-size,
    $h3-font-size,
    $h4-font-size,
    $h5-font-size,
    $h6-font-size
);

@each $heading-size in $headings-map {
    $i: index($headings-map, $heading-size);

    h#{ $i },
    .h#{ $i } {
        font-family: $heading-font-family;
        font-size: $heading-size;
        font-weight: $heading-font-weight;
        line-height: 1.125;
        margin: 0 0 $space-sm;
    }

    // cambiarlo?
    figure,
    p,
    ol,
    ul {
        & + h#{ $i },
        & + .h#{ $i } {
            margin-top: $space-md;
        }
    }
}

ol,
ul {
    list-style-position: outside;
    padding-right: 0;
    padding-left: 0;
}

li {
    margin-bottom: $space-sm;
}

@media screen and (min-width: $bp-md-min-width) {
    li {
        margin-bottom: $space-xs;
    }
}

hr {
    grid-column: 1 / -1;
    clear: both;
    display: block;
    margin: $space-lg 0;
    padding: 0;
    height: 0.063rem;
    border: 0;
    border-bottom: $border-width $border-style $border-color;

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        border-bottom-width: #{$border-width / 2};
    }

    .sidebar & {
        margin: 0 0 $space 0;
    }
}

sup {
    background-color: $color-primary-65;
    border-radius: 50%;
    color: $site-bg-color;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: $space;
    height: $space;

    a {
        color: $site-bg-color;
        font-size: $font-size-sm;
        text-decoration: none;
    }
}

figure {
    margin: $space-lg 0;

    img {
        margin-bottom: $space-rg;
    }
}

figcaption {
    font-size: $font-size-xs;
}

img {
    border-radius: $border-radius;
    border-width: 0;
    max-width: 100%;
    mix-blend-mode: multiply;
}

p {
    margin-top: 0;
}

pre {
    background-color: $color-neutral-dark-075;
    border-radius: $border-radius;
    overflow: auto;
    padding: $space-md;

    code {
        word-break: normal;
    }
}

code {
    word-wrap: break-word;
    font-size: $font-size-md;
}
