*,
*::before,
*::after {
    box-sizing: border-box;
}

::selection {
    background-color: $selection-bgcolor;
}

html {
    scroll-behavior: smooth;
}

body {
    color: $text-color;
    font-family: $body-font-family;
    font-size: $body-font-size;
    font-weight: $body-font-weight;
    line-height: $body-line-height;
    text-rendering: optimizeLegibility;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@supports (font-variant-ligatures: common-ligatures) {
    body {
        font-feature-settings: normal;
        font-variant-ligatures: common-ligatures;
    }
}

// @supports (font-variant-numeric: oldstyle-nums) {
//     body {
//         font-feature-settings: normal;
//         font-variant-numeric: oldstyle-nums
//     }
// }

a {
    color: $link-color;
    text-decoration: none;
    transition: all $transition-duration ease-out;

    &:hover {
        color: $link-color;
        text-decoration-color: rgba($link-color, 0.65);
        text-decoration-line: underline;
        text-decoration-thickness: 0.063rem;
        text-underline-offset: 0.156em;
        // text-underline-position: under;
    }

    &:hover,
    &:active {
        transition-duration: 0s;
    }

    &:focus {
        color: $link-color;
    }

    svg * {
        stroke: $link-color !important;
    }
}

// Text

abbr {
    font-weight: $heading-font-weight;
    text-decoration-thickness: 0.063em;
    text-underline-offset: 0.156em;
}

b,
strong {
    font-weight: $bold-font-weight;
}

em {
    font-style: italic;
    font-family: $heading-font-family;
    font-weight: #{$heading-font-weight - 100};
}

blockquote {
    border-left: $space-xs $border-style $border-color;
    border-radius: $border-radius;
    font-size: $font-size-md;
    font-style: italic;
    margin: $space-lg 0;
    padding: $space-sm $space;

    quotes: $open-quote $close-quote;
    // quotes: '“' '”' '‘' '’';

    p {
        &:first-child {
            margin-top: 0;

            &::before {
                color: $color-neutral-dark-50;
                content: open-quote;
                @extend strong;
            }
        }

        &:last-child {
            margin-bottom: 0;

            &::after {
                color: $color-neutral-dark-50;
                content: close-quote;
                @extend strong;
            }
        }
    }
}

code {
    display: inline-block;
    font-family: $font-family-mono;
    font-size: $font-size;
    padding: #{$space-xs / 2} #{$space-sm - 0.125};
    position: relative;
    word-wrap: break-word;

    &::after {
        background-color: $code-bgcolor;
        border-radius: #{$border-radius / 3};
        content: "";
        inset: -0.063rem;
        opacity: 0.15;
        position: absolute;
    }
}

pre {
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;

    code {
        padding: 0;
        word-break: normal;

        &::after {
            content: none;
        }
    }
}

figure {
    margin: $space-lg 0;

    a {
        background-color: transparent;
        box-shadow: none;
        display: flex;

        &:hover {
            box-shadow: none;
        }
    }
}

figcaption {
    font-size: $font-size-sm;
    margin-top: $space-rg;
}

$headings-map: ($h1-font-size, $h2-font-size, $h3-font-size, $h4-font-size);

@each $heading-size in $headings-map {
    $i: index($headings-map, $heading-size);

    h#{ $i },
    .h#{ $i } {
        color: $heading-color;
        font-family: $heading-font-family;
        font-size: $heading-size;
        font-weight: $heading-font-weight;
        line-height: #{$body-line-height - 0.375};
        margin: 0 0 #{$space-md - 0.25};

        a {
            background-color: transparent;
            color: $heading-color;
            padding: 0;

            &:visited {
                color: $heading-color;
            }

            &:hover {
                color: $link-color;
                text-decoration: none;
            }

            &:focus {
                color: $link-color;
            }
        }
    }

    // cambiarlo?
    figure,
    p,
    ol,
    ul,
    .highlighter-rouge {
        & + h#{ $i },
        & + .h#{ $i } {
            margin-top: $space-lg;
        }
    }
}

h1,
.h1 {
    margin-bottom: $space-lg;
}

hr {
    clear: both;
    display: block;
    margin: $space-lg 0;
    padding: 0;
    height: $border-width;
    border: 0;
    border-bottom: $border-width $border-style $border-color;

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        border-width: #{$border-width / 2};
    }
}

img {
    border-radius: $border-radius;
    width: 100%;
    mix-blend-mode: multiply;

    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

ol,
ul {
    list-style-position: outside;
}

ul {
    padding-left: $space;
}

li {
    margin: 0;
}

p {
    margin-top: 0;
}

pre {
    margin: $space-lg 0;
}

small {
    font-size: $font-size-sm;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    font-size: $font-size-sm;
    margin: $space-lg 0;
    table-layout: auto;
    width: 100%;
    word-break: normal;

    th {
        border-bottom: $border-width $border-style $border-color;
        font-family: $heading-font-family;
        font-weight: $heading-font-weight;
        text-align: left;
        word-break: normal;
    }

    td {
        border-bottom: $border-width dotted $border-color;
    }

    th,
    td {
        padding: $space-sm $space;
        vertical-align: top;

        // @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        //     border-width: #{$border-width / 2};
        // }
    }

    @media screen and (max-width: $bp-md-min-width) {
        display: block;
        overflow-x: auto;
        overflow-y: hidden;
    }
}
