
body {
	background-color: $day__body-bg-color;
	color: $day__body-color;
}

@media ( min-width: 768px ) {

	body {
		font-size: $base-font-size-sm;
	}

}

@media ( min-width: 1024px ) {

	body {
		font-size: $base-font-size-md;
	}

}

@media ( min-width: 1280px ) {

	body {
		font-size: $base-font-size-lg;
	}

}

h1, h1 a, h2, h2 a {
	font-weight: 300;
}

h3, h3 a {
	font-weight: 500;
}

h5,
.post__meta {
	font-weight: 500;
}

a {
	font-weight: $a-font-weight;

	&:link {
		color: $day__a-color;
	}

	&:visited {
		color: $day__a-visited-color;
	}

	&:hover {
		color: $day__a-hover-color;
	}
}

.a-bd-bottom p > a:not( .btn ) {
	border-bottom: $a-border-bottom-width $a-border-bottom-style $day__a-border-bottom-color;

	&:hover {
		border-bottom-color: $day__a-hover-border-bottom-color;
	}
}

.ac-c a:not( .btn ) {
	&:link,
	&:visited {
		color: $day__body-color;
	}

	&:hover {
		color: $day__a-color;
	}
}

p.ac-c a:not( .btn ) {
	border-bottom-color: rgba( $day__body-color, 0.2 );

	&:hover {
		border-bottom-color: $day__a-color;
	}
}

.fs-sm {
	font-size: 0.813em;
}

.navbar .input {
	background-color: $day__navbar__input-bg-color;
	border-color: $day__navbar__input-border-color;

	&::placeholder {
		color: $day__navbar__input-placeholder-color;
	}

	&:hover {
		background-color: $day__navbar__input-hover-bg-color;
	}

	&:focus,
	&:focus:hover {
		background-color: $day__navbar__input-focus-bg-color;
		border-color: $day__navbar__input-focus-border-color;
		box-shadow: $day__navbar__input-focus-box-shadow;

		&::placeholder {
			color: $day__navbar__input-focus-placeholder-color;
		}
	}

	&:active {
		border-color: $day__navbar__input-active-border-color;
	}
}

/* Change text in autofill textbox. */

input:-webkit-autofill {
	&, &:hover, &:active, &:focus {
		transition-delay: 3600s;
	}
}

.cntr {
	max-width: $container-max-width;
}

.header {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	transition: box-shadow 0.24s ease-in-out;
	z-index: 10000;

	// &--shadow {
	// 	box-shadow: 0 2px  4px -1px rgba( 0, 0, 0, 0.06 ),
	// 				0 4px  5px  0px rgba( 0, 0, 0, 0.06 ),
	// 				0 1px 10px  0px rgba( 0, 0, 0, 0.08 );
	// }
}

@media ( max-width: 1023px ) {

	.header {
		transform: translateY( 0 );
		transition: transform 0.16s ease-in-out;
	}

	.header__wrap,
	.navbar__no-collapse {
		background-color: $day__navbar-bg-color;
		height: $navbar-min-height;

		transform-origin: left top;
		transition: background-color 0.24s linear,
					transform 0.24s ease-in-out;

		backface-visibility: hidden;
	}

	.header__wrap {
		background-color: darken( $day__navbar-bg-color, 15% );
		display: flex;
		flex-grow: 1;

		transform: rotateX( 90deg );
	}

	.navbar__no-collapse {
		transform: translateY( -#{ $navbar-min-height } ) rotateX( 0 );
	}

	.header--collapsed {
		.header__wrap {
			background-color: $day__navbar-bg-color;
			transform: rotateX( 0 );
		}

		.navbar__no-collapse {
			background-color: darken( $day__navbar-bg-color, 15% );
			transform: rotateX( -90deg );
		}
	}

}

.header,
.navbar {
	background-color: transparent;
}

.navbar {
	height: $navbar-min-height;
	perspective: 600px;
}

@media ( min-width: 1024px ) {

	.navbar {
		background-color: $day__navbar-bg-color;
		min-height: $md-navbar-min-height;
	}

}

// .header__avatar-wrap {
// 	display: flex;
// 	align-items: center;

// 	padding: 0.5rem 1rem;
// }

@media ( max-width: 1023px ) {

	.navbar__toggler,
	// .header__avatar-wrap,
	.navbar__brand,
	.navbar__form {
		height: 56px;
	}

}

// .header__avatar {
// 	border-radius: 50%;

// 	width: 2rem;
// 	height: 2rem;
// }

@media ( max-width: 1023px ) {

	.navbar__brand {
		opacity: 1;
		transition: opacity 0.2s cubic-bezier( 0.645, 0.045, 0.355, 1 );
	}

}

.header__title {
	font-weight: 500;
}

// @media ( max-width: 1023px ) {

// 	.navbar__no-collapse {
// 		height: $navbar-min-height;
// 		margin-top: -1rem;
// 	}

// }

.navbar__menu .navbar__a {
	padding-right: 0.625rem;
	padding-left: 0.625rem;
}

.navbar__a {
	font-weight: $navbar-a-font-weight;
}

.header__title {
	display: inline-flex;
}

@media ( max-width: 1023px ) {

	.header__search-wrap {
		opacity: 0;
		position: absolute;
		top: 1.125rem;
		right: 3.5rem;
		left: 4rem;

		z-index: -1;
	}

	.active-search {
		.navbar__brand {
			opacity: 0;
		}

		.header__search-wrap {
			opacity: 1;
		}
	}

	.anim-slide-in-out,
	.anim-slide-out-in {
		animation-duration: 200ms;
		animation-fill-mode: forwards;
		animation-timing-function: ease-in-out;
	}

	.active-search .anim-slide-in-out,
	.inactive-search .anim-slide-out-in {
		animation-name: slide-in;
	}

	.inactive-search .anim-slide-in-out,
	.active-search .anim-slide-out-in {
		animation-name: slide-out;
	}

}

@keyframes slide-in {

	0% {
		opacity: 0;
		transform: translateY( 20% );
		z-index: -1;
	}

	100% {
		opacity: 1;
		transform: translateY( 0 );
		z-index: auto;
	}

}

@keyframes slide-out {

	0% {
		opacity: 1;
		transform: translateY( 0 );
		z-index: auto;
	}

	100% {
		opacity: 0;
		transform: translateY( -20% );
		z-index: -1;
	}

}

.header__search-btn,
.navbar__toggler {
	color: #fff;
	opacity: 0.9;

	padding-right: 1rem;
	padding-left: 1rem;

	position: relative;

	transition: all 0.16s ease-in-out;

	width: 4rem;
	height: auto;

	&:hover {
		opacity: 0.9;
	}

	&:hover,
	&:active {
		color: #fff;
	}

	&:active {
		opacity: 1;
	}
}

.header__search-icn {
	margin-left: -1rem;
	margin-top: -1rem;

	position: absolute;
	top: 50%;
	left: 50%;

	transition: transform 0.24s cubic-bezier( 0.4, 0, 0.2, 1 );

	width: 2rem;
	height: 2rem;
}

.header__search-icn--close {
	transform: rotate( -90deg ) scale( 0.5 );
	transform-origin: center;
	visibility: hidden;
}

@media ( max-width: 1023px ) {

	.active-search {
		.header__search-icn--search {
			transform: scale( 0.5 );
			visibility: hidden;
		}

		.header__search-icn--close {
			transform: rotate( 0 ) scale( 1 );
			visibility: visible;
		}
	}

}

.sidebar,
.third-col,
.post__meta {
	font-size: 0.875em;
}

.sidebar,
.third-col {
	overflow-x: hidden;
}

@media ( min-width: 1024px ) {

	.sidebar {
		height: calc( 100vh - #{ $md-navbar-min-height } );
		overflow-y: auto;
		position: -webkit-sticky;
		position: sticky;
		top: $md-navbar-min-height;
	}

}

.sidebar__body {
	margin: 0 -1rem;
	padding: 1.5rem 1rem;

	> ul > li {
		a {
			display: block;
			padding-bottom: 1rem;
		}
	}
}

@media ( max-width: 1023px ) {

	.third-col {
		text-align: center;
	}

}

@media ( min-width: 1024px ) {

	.sidebar__body {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
	}

	.third-col {
		height: calc( 100vh - #{ $md-navbar-min-height } );
		overflow-y: auto;
		position: -webkit-sticky;
		position: sticky;
		top: $md-navbar-min-height;
	}

}

.third-col__body {
	padding-bottom: 1.5rem;

	// margin: 0 -1rem;
	// padding: 1.5rem 1rem;

	& > ul > li > ul {
		padding-left: 1.5rem;
	}

	li {
		a {
			display: block;
			padding-top: 0.125rem;
			padding-bottom: 0.125rem;
		}
	}

	h5:not( :first-child ) {
		border-top: 0.063rem solid rgba( #000, 0.1 );
		padding-top: 1.5rem;
	}
}

@media ( min-width: 1024px ) {

	.third-col__body {
		padding-top: 1.5rem;
	}

}

.content {
	padding-top: 1.5rem;
}

.post {
	margin-bottom: 3rem;
}

.posts:not( .search-results__posts ) .post__header,
.search-results__title {
	&:after {
		content: '';
		display: block;
		margin: 1.5rem 0;
		height: 0.25rem;
		width: 5rem;
		background-color: rgba( $day__navbar-bg-color, 0.5 );
	}
}

@media ( max-width: 1023px ) {

	.posts:not( .search-results__posts ) .post__header,
	.search-results__title {
		&:after {
			margin-right: auto;
			margin-left: auto;
		}
	}

	.post__header,
	.search-results__title {
		text-align: center;
	}
}

.post__date {
	font-size: 1.25em;
	line-height: 1.2;
}

.search-results__posts .post {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;

	padding-bottom: 1.5rem;
}
