body {
	background-color: $background-color;
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
	padding-bottom: 10px;
	padding-top: 10px;
}

h1,
h2,
h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}

a {
	color: $link-color;
	font-weight: bold;
	outline: none;
	text-decoration: underline;
	-webkit-transition: all 0.75s ease-out;
	-moz-transition: all 0.75s ease-out;
	-ms-transition: all 0.75s ease-out;
	-o-transition: all 0.75s ease-out;
	transition: all 0.75s ease-out;

	&:visited {
		color: $link-visited-color;
		outline: none;
	}

	&:active {
		color: $link-active-color;
		outline: none;
	}

	&:hover {
		color: $link-hover-color;
	}

	&:hover,
	&:active {
		-webkit-transition-duration: 0s;
		-moz-transition-duration: 0s;
		-ms-transition-duration: 0s;
		-o-transition-duration: 0s;
		transition-duration: 0s;
	}
}

hr {
	border-color: #d7d7d7;
	margin-left: 0;
	margin-right: 0;
}

#header {
	h1 {
		font-size: 28px;
		font-weight: bold;

		a {
			font-weight: bold;
			text-decoration: none;

			.logo {
				margin-top: -10px;
				max-width: 60px;
			}
		}
	}

	.intro {
		color: #666;

		a {
			text-decoration: none;
		}
	}

	h2 {
		font-size: 15px;
		line-height: 22px;
	}

	&:hover {
		.icons {
			opacity: 1;
			-webkit-transition-duration: 0s;
			-moz-transition-duration: 0s;
			-ms-transition-duration: 0s;
			-o-transition-duration: 0s;
			transition-duration: 0s;
		}
	}

	.icons {
		margin-top: 25px;
		opacity: 0.3;
		-webkit-transition: all 0.75s ease-out;
		-moz-transition: all 0.75s ease-out;
		-ms-transition: all 0.75s ease-out;
		-o-transition: all 0.75s ease-out;
		transition: all 0.75s ease-out;

		a {
			text-decoration: none;
		}

		@media (max-width: 575px) {
			li {
				margin-bottom: 10px;
			}
		}

		@media (min-width: 576px) {
			li {
				display: inline;

				&:first-child {
					margin-right: 15px;
				}
			}
		}
	}
}

.search {
	div.icon.input {
		position: relative;

		.search-field {
			-webkit-appearance: none;
			-moz-appearance: none;
			background: $background-color;
			border: none;
			// border-radius: 2px;
			// box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 
			// 						inset 0 0 0 1px rgba(0, 0, 0, 0.04);
			box-shadow: none;
			color: $text-color;
			font-size: 15px;
			height: 28px;
			outline: 0;
			padding: 0 10px 0 28px;
			width: 100%;

			&::-moz-placeholder {
				color: $color-grey-800;
			}

			&::-ms-input-placeholder {
				color: $color-grey-800;
			}

			&::placeholder {
				color: $color-grey-800;
			}

			&:focus {
				// background: $content-bg-color;
				// border-color: $color-grey-600;
				// box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2), 
				// 						inset 0 0 0 1px rgba(0, 0, 0, 0.04);
				box-shadow: none;
				outline: 0;
			}
		}

		> i.icon {
			color: $color-grey-500;
			cursor: default;
			font-size: 20px;
			height: 100%;
			left: 0;
			line-height: 1;
			margin: 0;
			position: absolute;
			text-align: center;
			top: 0;
			-webkit-transition: all 0.75s ease-out;
			-moz-transition: all 0.75s ease-out;
			-ms-transition: all 0.75s ease-out;
			-o-transition: all 0.75s ease-out;
			transition: all 0.75s ease-out;
			width: 30px;

			&:before {
				left: 0;
				margin-top: -0.55em;
				position: absolute;
				text-align: left;
				top: 50%;
				width: 100%;
			}

			&:not(.link) {
				pointer-events: none;
			}
		}

		&.focus {
			> i.icon {
				color: $text-color;
				-webkit-transition-duration: 0s;
				-moz-transition-duration: 0s;
				-ms-transition-duration: 0s;
				-o-transition-duration: 0s;
				transition-duration: 0s;
			}
		}
	}
}

.page-navigation {
	margin-top: 50px;
}

// Justified button groups.
.btn-group-justified {
	@media (max-width: 640px) {
		display: flex;
		width: 100%;

		.btn,
		.btn-group {
			flex: 1;

			.btn {
				width: 100%;
			}

			.dropdown-menu {
				left: auto;
			}
		}
	}
}

.posts {
	.post {
		// margin-bottom: 30px;
		// position: relative;

		// &:not(:last-child):after {
		// 	border-bottom: 1px solid #d7d7d7;
		// 	bottom: -16px;
		// 	content: '\00a0';
		// 	height: 1px;
		// 	left: 0;
		// 	line-height: 1px;
		// 	position: absolute;
		// 	width: 20px;
		// 	z-index: 1;
		// }

		.post-excerpt {
			font-family: $serif-font-family;

			h3,
			h4,
			img {
				display: none;
			}
		}
	}

	#search-results-title {
		padding-bottom: 20px;
	}
}

.post {
	margin-bottom: 40px;

	.post-link {
		text-decoration: none;
	}

	.post-title {
		border-bottom: 1px solid #eee;
		font-family: $serif-font-family;
		font-size: 20px;
		font-weight: bold;
		line-height: 1.3;
		margin-bottom: 15px;
		overflow: hidden;
		padding-bottom: 20px;

		.post-date {
			display: inline-block;
			float: left;
			font-family: $base-font-family;
			font-size: 12px;
			font-weight: normal;
			line-height: 1.4;
			margin-right: 15px;
			text-transform: capitalize;

			.date {
				display: block;
				font-weight: bold;
			}

			.time {
			}
		}

		@media (max-width: 768px) {
			.post-date {
				margin-bottom: 5px;
			}
		}
	}

	.post-content {
		p,
		ol,
		ul {
			font-family: $serif-font-family;
		}

		img {
			&.float-xs-left.img-fluid {
				margin-right: 20px;
				max-width: 30%;
			}

			&.float-xs-right.img-fluid {
				margin-left: 20px;
				max-width: 30%;
			}

			&.float-xs-left.img-fluid,
			&.float-xs-right.img-fluid {
				margin-top: 8px;
			}

			@media (max-width: 360px) {
				&.float-xs-left.img-fluid,
				&.float-xs-right.img-fluid {
					margin-bottom: 15px;
					margin-left: 0;
					margin-right: 0;
					margin-top: 0;
					max-width: 100%;
				}
			}
		}
		
		// pre {
		// 	background-color: #f7f7f9;
		// 	border-radius: 0.25rem;
		// 	padding: 1rem;
		// }

		.ansi-text {
			font-family: $ansi-font-family;
			font-size: 8px;
			line-height: 16px;
		}
	}
}

#footer {
	color: #666;
	font-size: 12px;
	margin: 20px 0;

	#footer-info {
		a {
			text-decoration: none;
		}
	}
}
