body {
	background-color: $day__body-bg-color;
	color: $day__body-color;
	font-family: $font-family-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-family-sans-serif;
}

h1 {
	font-weight: 700;
}

h1, h1 a, h2, h2 a {
	font-family: $font-family-serif-lg;
	font-weight: 700;
}

h3, h3 a {
	font-family: $font-family-serif;
	font-weight: 700;
}

h5,
.post__meta {
	font-family: $font-family-sans-serif;
	font-weight: 400;
}

a {
	font-weight: $a-font-weight;

	&:link {
		color: $day__a-color;
	}

	&:visited {
		color: $day__a-visited-color;
	}

	&:hover {
		color: $day__a-hover-color;
	}
}

.a-bd-bottom p > a:not(.btn) {
	border-bottom: $a-border-bottom-width $a-border-bottom-style $day__a-border-bottom-color;

	&:hover {
		border-bottom-color: $day__a-hover-border-bottom-color;
	}
}

.ac-c a:not(.btn) {
	&:link,
	&:visited {
		color: $day__body-color;
	}

	&:hover {
		color: $day__a-color;
	}
}

p.ac-c a:not(.btn) {
	border-bottom-color: rgba($day__body-color, 0.2);

	&:hover {
		border-bottom-color: $day__a-color;
	}
}

// .input {
// 	&::placeholder {
// 		color: $day__input-placeholder-color;
// 	}

// 	&:focus,
// 	&:focus:hover {
// 		border-color: $day__input-focus-border-color;
// 		box-shadow: $day__input-focus-box-shadow;

// 		&::placeholder {
// 			color: $day__input-focus-placeholder-color;
// 		}
// 	}

// 	&:active {
// 		border-color: $day__input-active-border-color;
// 	}
// }

.navbar .input {
	&::placeholder {
		color: $day__navbar__input-placeholder-color;
	}

	&:focus,
	&:focus:hover {
		border-color: $day__navbar__input-focus-border-color;
		box-shadow: $day__navbar__input-focus-box-shadow;

		&::placeholder {
			color: $day__navbar__input-focus-placeholder-color;
		}
	}

	&:active {
		border-color: $day__navbar__input-active-border-color;
	}
}

.fs-sm {
	font-size: 12px;
}

.container {
	max-width: $container-max-width;
}

@media (min-width: 768px) {
	.header {
		position: sticky;
		top: 0;
		z-index: 10000;
	}
}

.header,
.navbar {
	background-color: $day__navbar-bg-color;
}

.navbar {
	font-family: $font-family-sans-serif;
	min-height: $navbar-height;
}

.navbar__menu .navbar__a {
	padding-right: 0.625rem;
	padding-left: 0.625rem;
}

.navbar__a {
	font-weight: $navbar-link-font-weight;
}

@media ( max-width: 767px ) {
	.navbar__brand {
		opacity: 1;
		transition: opacity 0.2s cubic-bezier( 0.645, 0.045, 0.355, 1 );
		// width: 100%;
	}
}

.header__title {
	display: inline-flex;
}

.header__search-btn {
	color: #fff;
	opacity: 0.6;
	overflow: hidden;
	padding: 0;
	
	position: absolute;
	top: 1.125rem;
	right: 1rem;

	transition: all 0.1s ease-in-out;

	width: 2em;
	height: 2em;

	&::before {
		content: '';

		background-image: url( '../images/ionicons_svg_ios-search.svg' );
		background-position: right center;
		background-repeat: no-repeat;
		background-size: 1.75em 1.75em;
		display: block;
		opacity: 1;
		position: relative;
		transition: opacity 0.2s cubic-bezier( 0.645, 0.045, 0.355, 1 );

		width: 2em;
		height: 2em;
	}

	&:hover {
		opacity: 0.9;
	}

	&:hover,
	&:active {
		color: #fff;
	}

	&:active {
		opacity: 1;
	}
}

@media ( max-width: 767px ) {
	.header__search-wrap {
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
	}

	.header__search-form {
		margin-top: 1rem;
		margin-right: 3rem;
		margin-left: 1rem;
	}

	.active-search {
		.navbar__brand {
			opacity: 0;
		}

		.header__search-wrap {
			opacity: 1;
		}

		.header__search-input {
			padding-right: 4em;
		}

		.header__search-btn {
			width: 2em;
			height: auto;

			&::before {
				background-image: none;

				opacity: 0;

				width: 0;
				height: 0;
			}
		}
	}

	.anim-slide-in-out,
	.anim-slide-out-in {
		animation-duration: 200ms;
		animation-fill-mode: forwards;
		animation-timing-function: ease-in-out;
	}

	.active-search .anim-slide-in-out,
	.inactive-search .anim-slide-out-in {
		animation-name: slide-in;
	}

	.inactive-search .anim-slide-in-out,
	.active-search .anim-slide-out-in {
		animation-name: slide-out;
	}
}

@keyframes slide-in {

	0% {
		opacity: 0;
		transform: translateY( 100% );
	}

	100% {
		opacity: 1;
		transform: translateY( 0 );
	}

}

@keyframes slide-out {

	0% {
		opacity: 1;
		transform: translateY( 0 );
	}

	100% {
		opacity: 0;
		transform: translateY( -100% );
	}

}

.sidebar,
.third-col,
.post__meta {
	font-size: 13px;
}

@media ( min-width: 768px ) {

	.sidebar {
		height: calc( 100vh - #{ $navbar-height } );
		overflow-y: auto;
		position: sticky;
		top: $navbar-height;
	}

}

.sidebar__body {
	// margin: 0 -1rem;
	// padding: 1.5rem 1rem;

	> ul > li {
		a {
			display: block;
			padding-bottom: 1rem;
		}
	}
}

@media ( min-width: 768px ) {

	.sidebar__body {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
	}

}

@media ( min-width: 1024px ) {

	.third-col {
		height: calc( 100vh - #{ $navbar-height } );
		overflow-y: auto;
		position: sticky;
		top: $navbar-height;
	}

}

.third-col__body {
	padding-bottom: 1.5rem;

	// margin: 0 -1rem;
	// padding: 1.5rem 1rem;

	& > ul > li > ul {
		padding-left: 1.5rem;
	}

	li {
		a {
			display: block;
			padding-top: 0.125rem;
			padding-bottom: 0.125rem;
		}
	}

	h5:not(:first-child) {
		border-top: 0.063rem solid rgba(#000, 0.1);
		padding-top: 1rem;
		// position: relative;

		// &:before {
		// 	border-top: 0.063rem solid rgba(#000, 0.2);
		// 	content: '';
		// 	height: 1px;
			
		// 	position: absolute;

		// 	top: -0.125rem;
		// 	left: 0;

		// 	width: 25px;
		// }
	}
}

@media ( min-width: 1024px ) {

	.third-col__body {
		padding-top: 1.5rem;
	}

}

.content {
	padding-top: 1.5rem;
}

// @media (min-width: 1024px) {
// 	.content {
// 		padding-left: 3rem;
// 	}
// }

.post {
	margin-bottom: 3rem;
}

.posts:not(.search-results__posts) .post__header,
.search-results__title {
	&:after {
		content: '';
		display: block;
		margin: 1.5rem 0;
		height: 0.125rem;
		width: 5rem;
		background-color: $day__body-color;
	}
}

@media (max-width: 767px) {
	.posts:not(.search-results__posts) .post__header,
	.search-results__title {
		&:after {
			margin-right: auto;
			margin-left: auto;
		}
	}
}

.post__date {
	font-size: 1.25em;
	line-height: 1.2;
}

.search-results__posts .post {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;

	padding-bottom: 1.5rem;
}
