body {
	background-color: $background-color;
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
	padding-bottom: 10px;
	padding-top: 10px;
}

h1,
h2,
h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}

a {
	color: $link-color;
	font-weight: 500;
	outline: none;
	text-decoration: underline;
	-webkit-transition: all 0.75s ease-out;
	-moz-transition: all 0.75s ease-out;
	-ms-transition: all 0.75s ease-out;
	-o-transition: all 0.75s ease-out;
	transition: all 0.75s ease-out;

	&:visited {
		color: $link-visited-color;
		outline: none;
	}

	&:active {
		color: $link-active-color;
		outline: none;
	}

	&:hover {
		color: $link-hover-color;
	}

	&:hover,
	&:active {
		-webkit-transition-duration: 0s;
		-moz-transition-duration: 0s;
		-ms-transition-duration: 0s;
		-o-transition-duration: 0s;
		transition-duration: 0s;
	}
}

hr {
	border-color: #d7d7d7;
	margin-left: 0;
	margin-right: 0;
}

#header {
	h1 {
		// font-family: $heading-font-family;
		// @media (max-width: 767px) {
		// 	font-size: 35px;
		// }

		// @media (min-width: 768px) {
		// 	font-size: 50px;
		// }

		font-size: 35px;
		font-weight: bold;

		a {
			font-weight: bold;
			text-decoration: none;

			.logo {
				margin-top: -10px;
				max-width: 60px;
			}
		}
	}

	.intro {
		color: #666;

		a {
			text-decoration: none;
		}
	}

	h2 {
		font-size: 15px;
		line-height: 22px;
	}
}

.search {
	div.icon.input {
		position: relative;

		.search-field {
			-webkit-appearance: none;
			-moz-appearance: none;
			background: $background-color;
			border: none;
			// border-radius: 2px;
			// box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 
			// 						inset 0 0 0 1px rgba(0, 0, 0, 0.04);
			box-shadow: none;
			color: $text-color;
			font-size: 15px;
			height: 28px;
			outline: 0;
			padding: 0 10px 0 28px;
			width: 100%;

			&::-moz-placeholder {
				color: $color-grey-800;
			}

			&::-ms-input-placeholder {
				color: $color-grey-800;
			}

			&::placeholder {
				color: $color-grey-800;
			}

			&:focus {
				// background: $content-bg-color;
				// border-color: $color-grey-600;
				// box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2), 
				// 						inset 0 0 0 1px rgba(0, 0, 0, 0.04);
				box-shadow: none;
				outline: 0;
			}
		}

		> i.icon {
			color: $color-grey-500;
			cursor: default;
			font-size: 20px;
			height: 100%;
			left: 0;
			line-height: 1;
			margin: 0;
			position: absolute;
			text-align: center;
			top: 0;
			-webkit-transition: all 0.75s ease-out;
			-moz-transition: all 0.75s ease-out;
			-ms-transition: all 0.75s ease-out;
			-o-transition: all 0.75s ease-out;
			transition: all 0.75s ease-out;
			width: 30px;

			&:before {
				left: 0;
				margin-top: -0.55em;
				position: absolute;
				text-align: left;
				top: 50%;
				width: 100%;
			}

			&:not(.link) {
				pointer-events: none;
			}
		}

		&.focus {
			> i.icon {
				color: $text-color;
				-webkit-transition-duration: 0s;
				-moz-transition-duration: 0s;
				-ms-transition-duration: 0s;
				-o-transition-duration: 0s;
				transition-duration: 0s;
			}
		}
	}
}

.page-navigation {
	margin-top: 50px;
}

// Justified button groups.
.btn-group-justified {
	@media (max-width: 640px) {
		display: flex;
		width: 100%;

		.btn,
		.btn-group {
			flex: 1;

			.btn {
				width: 100%;
			}

			.dropdown-menu {
				left: auto;
			}
		}
	}
}

// #navigation {
// 	ul {
// 		list-style: none;
// 		margin: 20px 0;
// 		padding-left: 0;

// 		li {
// 			display: inline-block;
// 			padding: 5px;

// 			&:first-child {
// 				padding-left: 0;
// 			}

// 			a {
// 				background-color: #fff;
// 				border-radius: 15px;
// 				border: 1px solid #ddd;
// 				color: #666;
// 				display: inline-block;
// 				font-weight: normal;
// 				padding: 5px 14px;
// 				text-decoration: none;

// 				&:hover {
// 					background-color: #eee;
// 				}
// 			}
// 		}
// 	}
// }

.posts {
	.post {
		margin-bottom: 30px;
		position: relative;

		&:not(:last-child):after {
			border-bottom: 1px solid #d7d7d7;
			bottom: -16px;
			content: '\00a0';
			height: 1px;
			left: 0;
			line-height: 1px;
			position: absolute;
			width: 20px;
			z-index: 1;
		}

		.post-title {
			small {
				color: inherit;
			}
		}
	}
}

.post {
	.post-link {
		text-decoration: none;
	}

	.post-title {
		font-size: 35px;
		font-weight: normal;
		margin-bottom: 20px;

		.post-date {
			display: inline-block;
			font-weight: lighter;
			text-transform: capitalize;
		}

		small {
			color: #666;
			// font-size: 65%;
		}

		@media (max-width: 768px) {
			.post-date {
				margin-bottom: 5px;
			}

			small {
				display: block;
			}
		}
	}

	.post-content {
		img {
			&.float-xs-left.img-fluid {
				margin-right: 20px;
				max-width: 30%;
			}

			&.float-xs-right.img-fluid {
				margin-left: 20px;
				max-width: 30%;
			}

			&.float-xs-left.img-fluid,
			&.float-xs-right.img-fluid {
				margin-top: 8px;
			}

			@media (max-width: 360px) {
				&.float-xs-left.img-fluid,
				&.float-xs-right.img-fluid {
					margin-bottom: 15px;
					margin-left: 0;
					margin-right: 0;
					margin-top: 0;
					max-width: 100%;
				}
			}
		}
		
		// pre {
		// 	background-color: #f7f7f9;
		// 	border-radius: 0.25rem;
		// 	padding: 1rem;
		// }

		.ansi-text {
			font-family: $ansi-font-family;
			font-size: 8px;
			line-height: 16px;
		}
	}
}

#footer {
	color: #666;
	margin: 20px 0;

	#footer-info {
		// .copyright {
		// 	padding-right: 4px;
		// }

		a {
			// padding: 0 4px;
			text-decoration: none;
		}
	}
}
