body {
	background-color: $day__body-bg-color;
	color: $day__body-color;
	font-family: $font-family-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-family-sans-serif;
	font-weight: 400;
}

h5,
.post__meta {
	font-family: $font-family-sans-serif;
}

a {
	font-weight: $a-font-weight;

	&:link {
		color: $day__a-color;
	}

	&:visited {
		color: $day__a-visited-color;
	}

	&:hover {
		color: $day__a-hover-color;
	}
}

.a-bd-bottom p > a:not(.btn) {
	border-bottom: $a-border-bottom-width $a-border-bottom-style $day__a-border-bottom-color;

	&:hover {
		border-bottom-color: $day__a-hover-border-bottom-color;
	}
}

.ac-c a:not(.btn) {
	&:link,
	&:visited {
		color: $day__body-color;
	}

	&:hover {
		color: $day__a-color;
	}
}

p.ac-c a:not(.btn) {
	border-bottom-color: rgba($day__body-color, 0.2);

	&:hover {
		border-bottom-color: $day__a-color;
	}
}

.input {
	&::placeholder {
		color: $day__input-placeholder-color;
	}

	&:focus,
	&:focus:hover {
		border-color: $day__input-focus-border-color;
		box-shadow: $day__input-focus-box-shadow;

		&::placeholder {
			color: $day__input-focus-placeholder-color;
		}
	}

	&:active {
		border-color: $day__input-active-border-color;
	}
}

.navbar .input {
	&::placeholder {
		color: $day__navbar__input-placeholder-color;
	}

	&:focus,
	&:focus:hover {
		border-color: $day__navbar__input-focus-border-color;
		box-shadow: $day__navbar__input-focus-box-shadow;

		&::placeholder {
			color: $day__navbar__input-focus-placeholder-color;
		}
	}

	&:active {
		border-color: $day__navbar__input-active-border-color;
	}
}

.fs-sm {
	font-size: 12px;
}

@media (min-width: 768px) {
	.header {
		position: sticky;
		top: 0;
		z-index: 10000;
	}
}

.container {
	max-width: $container-max-width;
}

.header,
.navbar {
	background-color: $day__navbar-bg-color;
}

@media ( max-width: 767px ) {
	.header {
		padding-top: 0.5rem;
	}
}

.navbar {
	font-family: $font-family-sans-serif;
}

.navbar__menu .navbar__a {
	padding-right: 0.625rem;
	padding-left: 0.625rem;
}

// @media ( max-width: 767px ) {
// 	.navbar__menu .navbar__a {
// 		padding: 0 0.625rem 0.5rem;
// 	}
// }

.navbar__a {
	font-weight: $navbar-link-font-weight;
}

@media ( max-width: 767px ) {
	.navbar__brand {
		opacity: 1;
		transition: opacity 0.1s ease-in-out;
		// width: 100%;
	}
}

@media ( min-width: 768px ) {
	.navbar {
		height: $navbar-height;
	}
}

@media ( min-width: 768px ) {
	.sidebar {
		height: calc(100vh - #{$navbar-height});
		overflow-y: auto;
		position: sticky;
		top: $navbar-height;
	}
}

.header__search-btn {
	color: #fff;
	opacity: 0.6;
	overflow: hidden;
	padding: 0;
	
	position: absolute;
	top: 0.85rem;
	right: 1rem;

	transition: all 0.1s ease-in-out;

	width: 2em;
	height: 2em;

	&::before {
		content: '';

		background-image: url( '../images/ionicons_svg_ios-search.svg' );
		background-position: right center;
		background-repeat: no-repeat;
		background-size: 1.5em 1.5em;
		display: block;
		opacity: 1;
		position: relative;
		transition: opacity 0.1s ease-in-out;

		width: 2em;
		height: 2em;
	}

	&:hover {
		opacity: 0.9;
	}

	&:hover,
	&:active {
		color: #fff;
	}

	&:active {
		opacity: 1;
	}
}

@media ( max-width: 767px ) {
	.header__search-wrap {
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
	}

	.header__search-form {
		margin-top: 0.85rem;
		margin-right: 1rem;
		margin-left: 1rem;
	}

	.active-search {
		.navbar__brand {
			opacity: 0;
		}

		.header__search-wrap {
			opacity: 1;
		}

		.header__search-input {
			padding-right: 4em;
		}

		.header__search-btn {
			width: 4em;
			height: auto;

			&::before {
				content: '';
				background-image: none;
				opacity: 0;

				width: 0;
				height: 0;
			}

			small {
				display: block;
				padding: 0.6em;
			}
		}
	}

	.anim-slide-in-out {
		animation-duration: 200ms;
		animation-fill-mode: forwards;
		animation-timing-function: ease-in-out;
	}

	.active-search .anim-slide-in-out {
		animation-name: slide-in;
	}

	.inactive-search .anim-slide-in-out {
		animation-name: slide-out;
	}
}

@keyframes slide-in {
	0% {
	    opacity: 0;
	    transform: translateY( 100% );
	}

	100% {
	    opacity: 1;
	    transform: translateY( 0 );
	}
}

@keyframes slide-out {
	0% {
	    opacity: 1;
	    transform: translateY( 0 );
	}

	100% {
	    opacity: 0;
	    transform: translateY( -100% );
	}
}

.sidebar__body {
	font-size: 13px;

	padding-top: 1.5rem;
	padding-bottom: 1.5rem;

	// margin: 0 -1rem;
	// padding: 1.5rem 1rem;

	> ul > li {
		a {
			display: block;
			padding-bottom: 1rem;
		}
	}
}

.col-3th {
	font-size: 13px;

	height: calc(100vh - #{$navbar-height});
	overflow-y: auto;
	position: sticky;
	top: $navbar-height;
}

.col-3th__body {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;

	// margin: 0 -1rem;
	// padding: 1.5rem 1rem;

	& > ul > li > ul {
		padding-left: 1.5rem;
	}

	li {
		a {
			display: block;
			padding-top: 0.125rem;
			padding-bottom: 0.125rem;
		}
	}

	h5:not(:first-child) {
		border-top: 0.063rem solid rgba(#000, 0.1);
		padding-top: 1rem;
		// position: relative;

		// &:before {
		// 	border-top: 0.063rem solid rgba(#000, 0.2);
		// 	content: '';
		// 	height: 1px;
			
		// 	position: absolute;

		// 	top: -0.125rem;
		// 	left: 0;

		// 	width: 25px;
		// }
	}
}

.content {
	padding-top: 22px;
	padding-bottom: 22px;

	h1, h2,
	h1 a, h2 a {
		font-family: $font-family-serif-lg;
		font-weight: 700;
	}

	h3 {
		font-family: $font-family-serif;
		font-weight: 700;
	}
}

@media (min-width: 1024px) {
	.content {
		padding-left: 3rem;
	}
}

.post {
	margin-bottom: 3rem;
}

.post__header {
	&:after {
		content: '';
		display: block;
		margin: 1.5em 0;
		height: 0.125rem;
		width: 5rem;
		background-color: $day__body-color;
	}
}

@media (max-width: 767px) {
	.post__header {
		&:after {
			margin-right: auto;
			margin-left: auto;
		}
	}
}
