body {
	background-color: $site-background-color;
	font-family: $base-font-family;
	font-size: $base-font-size-sm;
}

@media (min-width: 768px) {
	body {
		font-size: $base-font-size-md;
	}
}

@media (min-width: 1280px) {
	body {
		font-size: $base-font-size-lg;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

// a {
// 	-webkit-transition: all 0.3s ease-out;
// 	-moz-transition: all 0.3s ease-out;
// 	-ms-transition: all 0.3s ease-out;
// 	-o-transition: all 0.3s ease-out;
// 	transition: all 0.3s ease-out;

// 	&:active,
// 	&:hover {
// 		-webkit-transition-duration: 0s;
// 		-moz-transition-duration: 0s;
// 		-ms-transition-duration: 0s;
// 		-o-transition-duration: 0s;
// 		transition-duration: 0s;
// 	}
// }

code {
	font-family: $code-font-family;
}

.custom-title,
.post__content h1, 
.post__content h2, 
.post__content h4 {
	border-bottom: 1px solid $border-color;
	padding-bottom: 1rem;
}

.header {
	padding: 1.5rem 0 2.5rem;
}

.header__title {
	font-family: $secondary-font-family;
	font-size: 1em;
	font-weight: normal;
}

.header {
	font-family: $secondary-font-family;
	font-size: 0.938rem;
}

.sidebar {
	padding-bottom: 2.5rem;
}

@media (max-width: 767px) {
	.body:not(.body--author) {
		.main {
			order: 2;
		}

		.sidebar {
			padding-bottom: 0;
			order: 1;
		}

		.sidebar__content {
			*:not(.mobile-header) {
				display: none;
			}
		}
	}

	.mobile-header {
		border-bottom-width: 3px;
	}

	.mobile-header,
	h1, h2, h4, h5, h6 {
		text-align: center;
	}
}

// .body--search {
// 	.main {
// 		order: 2;
// 	}

// 	.sidebar {
// 		order: 1;
// 	}
// }

.sidebar,
.post__content {
	p, blockquote, pre, dl, li, span {
		> a:not(.post__link) {
			background-image: -webkit-linear-gradient(top, transparent 50%, #6b9ed1 50%);
			background-image: linear-gradient(to bottom, transparent 50%, #6b9ed1 50%);
			background-repeat: repeat-x;
			background-size: 2px 2px;
			background-position: 0 90%;
			text-shadow: 1px 0 #fff, 2px 0 #fff, -1px 0 #fff, -2px 0 #fff;

			&:hover {
				background-image: -webkit-linear-gradient(top, transparent 50%, #151515 50%);
				background-image: linear-gradient(to bottom, transparent 50%, #151515 50%);
			}
		}
	}
}

@media (min-width: 641px) {
	.sidebar__content {
		padding-top: 1.2rem;
	}
}

@media (min-width: 1280px) {
	.sidebar__content {
		padding-top: 1.35rem;
	}

	.body--author {
		.sidebar__content {
			padding-top: 0;
		}
	}

	// .sidebar__content {
	// 	padding-bottom: 100px;
	// }
}

.sidebar__title {
	font-family: $secondary-font-family;
}

.sidebar {
	li {
		margin-bottom: 0.5rem;
		
		h1, h2, h3, h4, h5, h6 {
			font-family: $secondary-font-family;
			font-size: inherit;
			font-weight: normal;
			margin-bottom: 0.5rem;
		}

		.active {
			font-weight: 500;
			transition: all 0.16s ease-in-out;
		}
	}
}

.post {
	margin-bottom: 2.5rem;
}

.post__cover {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	margin-bottom: 0.75rem;

	width: 100%;
	height: 150px;
}

.post__title {
	font-family: $secondary-font-family;
}

.post__meta {
	color: #737373;
	margin-bottom: 16px;
}

.post__date {
	text-transform: capitalize;
}

.category-link {
	display: inline-block;
	text-transform: capitalize;
}

.post__content {
	h1, h2, h3 {
		font-family: $secondary-font-family;
	}

	ul {
		border-left: 0.250rem double $border-color;
		padding: 0 0 0 (2rem - 0.5) - 0.250;

		list-style: none;
	}

	li {
		margin-bottom: 1rem;

		h4 {
			border-bottom: 0;
			font-family: $secondary-font-family;
			font-size: inherit;
			margin-bottom: 0.5rem;
			padding-bottom: 0;
		}
	}
}

.archive,
.search-results {
	.post__title {
		border-bottom: none;
		font-family: $secondary-font-family;
		font-size: inherit;
		line-height: inherit;
		margin-bottom: 0;
		padding-bottom: 0;
	}
}

.archive__categories {
	margin-bottom: 2.5rem;
}

.archive__month-year {
	font-family: $secondary-font-family;
}

.search {
	padding-bottom: 1.5rem;
}

.search-results__title {
	font-family: $secondary-font-family;
}

.search-results__message {
	margin-bottom: 2.5rem;
}

// .search-results__posts {
// 	font-size: 1.5em;
// 	padding-left: 0;

// 	.post__title {
// 		font-size: 0.833em;
// 	}

// 	.post__excerpt {
// 		font-size: 0.542em;
// 	}
// }

.block-awesome {
	border-top: 3px solid $border-color;
	padding-top: 1rem;
}

.footer {
	padding-bottom: 1.5rem;
}
