// global

$breakpoint-xs-min-width: 0;
$breakpoint-sm-min-width: 48em; // 768px
$breakpoint-md-min-width: 64em; // 1024px
$breakpoint-lg-min-width: 80em; // 1280px
$breakpoint-xl-min-width: 105em; // 1680px

$font-family-primary: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$font-family-secondary: $font-family-primary;
$font-family-mono: "Courier New", Courier, monospace;

$font-size-xs: 0.75em; // 12px
$font-size-sm: 0.875em; // 14px
$font-size: 0.938em; // 15px
$font-size-md: 1em; // 16px
$font-size-lg: 1.125em; // 18px
$font-size-xl: 1.313em; // 21px

$space-xxs: 0.125rem;
$space-xs: 0.25rem;
$space-sm: 0.5rem;
$space: 0.75rem;
$space-md: 1rem;
$space-lg: 1.5rem;
$space-xl: 2rem;
$space-xxl: 3rem;

$transition-duration: 0.16s;

// layout

$container-max-width: $breakpoint-lg-min-width;

$header-width: 16%;
$header-width-lg: #{$breakpoint-lg-min-width * (strip-unit($header-width) / 100)};

$navbar-padding-md: 29%;

// reset

$body-color: $color-neutral-dark;
$body-font-family: $font-family-secondary;
$body-line-height: 1.5;

$border-width: 0.125rem;
$border-style: solid;
$border-color: $color-functional-1;

$heading-font-family: $font-family-primary;
$heading-font-weight: 600;

$h1-font-size: 3em; // 48px
$h2-font-size: 2em; // 32px
$h3-font-size: 1.5em; // 24px
$h4-font-size: 1.25em; // 20px
$h5-font-size: 1em; // 16px
$h6-font-size: 0.875em; // 14px
