// global

// breakpoints
$bp-xs-min-width: 0;
$bp-sm-min-width: 48em; // 768px
$bp-md-min-width: 64em; // 1024px
$bp-lg-min-width: 80em; // 1280px

$font-family-primary: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$font-family-heading: $font-family-primary;
// $font-family-primary: "Futura PT Book", Futura, -apple-system,
//     BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
//     "Open Sans", "Helvetica Neue", sans-serif;
// $font-family-heading: "Futura PT Demi", $font-family-primary;
$font-family-mono: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    Courier, monospace;

$font-size: 1.063rem;
$font-size-xs: $font-size - 0.25; // -4
$font-size-sm: $font-size - 0.125; // -2
$font-size-md: $font-size + 0.125; // +2
$font-size-lg: $font-size + 0.25; // +4

$space: 1rem;
$space-xs: $space - 0.75; // 0.25rem
$space-sm: $space - 0.5; // 0.5rem
$space-rg: $space - 0.25; // 0.75rem
$space-md: $space + 0.5; // 1.5rem
$space-lg: $space + 1; // 2rem
$space-xl: $space + 2; // 3rem

$transition-duration: 0.32s;

$border-width: 0.063rem;
$border-style: solid;
$border-color: $color-neutral-dark-30;

$border-radius: 0;

// layout

$grid-gap: 4vw;

$site-bg-color: $color-bg;

$container-max-width: 92rem;
$container-width: 95%;

// reset

$body-color: $color-txt;
$body-font-family: $font-family-primary;
$body-font-size: $font-size;
$body-font-weight: 360;
$body-line-height: 1.5;

$code-bg-color: $color-neutral-dark-60;

$heading-font-family: $font-family-heading;
$heading-font-weight: 600;

$h1-font-size: 2.75em;
$h2-font-size: 1.5em;
$h3-font-size: 1.25em;
$h4-font-size: 1.125em;

$open-quote: "«";
$close-quote: "»";
