.list {
    &--inline {
        list-style: none;

        li {
            display: inline-block;
            margin-bottom: 0;

            &:not(:last-child) {
                margin-right: $space-sm;
            }
        }
    }

    &--unstyled {
        list-style: none;
    }
}
