.list {
    padding-left: 0;

    &--inline {
        list-style: none;

        li {
            display: inline-block;
            margin-bottom: 0;

            &:not(:last-child) {
                margin-right: $space;
            }
        }
    }

    &--unstyled {
        list-style: none;
    }

    &-group {
        border-top: $border-width $border-style $border-color;

        &__head {
            font-size: $font-size-xs;
            font-weight: $bold-font-weight;
            letter-spacing: 0.05em;
            line-height: inherit;
            margin: 0;
            padding: $space-sm 0;
            text-transform: uppercase;
        }

        &__body {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        li {
            > * {
                border-top: $border-width $border-style $border-color;
                display: block;
                padding: $space-sm 0;
                position: relative;

                @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                    border-width: #{$border-width / 2};

                    &:first-child {
                        border-width: #{$border-width / 2};
                    }
                }
            }
        }
    }
}
