.media-object {
    display: flex;
    align-items: flex-start;
    height: 100%;

    &__left,
    &__right {
        flex-basis: auto;
        flex-grow: 0;
        flex-shrink: 0;
        height: 100%;
    }

    &__left {
        margin-right: $space-md;
    }

    &__right {
        margin-left: $space-md;
    }

    &__content {
        flex-basis: auto;
        flex-grow: 1;
        flex-shrink: 1;
    }
}
