.nav {
    background-color: $color-neutral-dark;
    border-radius: $border-radius;
    position: absolute;
    right: $space-sm;
    bottom: $space-sm;

    &__item {
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: $space-sm;

        &:first-child {
            border-top-right-radius: $border-radius;
            border-top-left-radius: $border-radius;
        }

        &:last-child {
            border-bottom-right-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
        }

        &--sep {
            background-color: rgba($color-neutral-light, 0.3);
            display: block;
            width: calc(100% - #{$space-sm * 2});
            height: $border-width;
            margin: 0 auto;
            padding: 0;
        }

        path {
            fill: $color-neutral-light;
        }
    }
}
