.navbar {
    &__item {
        margin: 0;
    }

    a {
        text-decoration: none;
    }

    .is-active a {
        color: $color-primary;
    }
}

@media screen and (min-width: $bp-md-min-width) {
    .navbar {
        display: grid;
        font-weight: 700;
        grid-template-columns: 1fr 1fr;
        align-items: center;

        &__logo {
            font-size: 1.625em;
            grid-column: 1 / 3;
            margin: 0;
            text-transform: uppercase;
        }

        &__menu {
            grid-column: 4 / -1;
            display: block;
            column-count: 1;
            margin: 0;
            text-align: right;
        }

        &__item {
            display: inline-block;

            &:not(:last-child) {
                margin-right: $space-md;
            }

            a {
                display: inline-block;
                text-align: left;
            }
        }
    }
}
