.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: $border-width $border-style $border-color;
    margin-bottom: $space-xl;
    padding-top: $space;
    padding-bottom: $space;

    a {
        color: $text-color;

        &:hover {
            color: $link-color;
            text-decoration: none;
        }
    }

    &__brand {
        font-family: $font-family-brand;
        font-size: 2.375em;
        font-weight: 600;
    }

    // &__icon {
    //     width: 24px;
    //     height: 24px;
    // }

    &__menu {
        font-weight: 500;
        letter-spacing: $letter-spacing;
        text-transform: uppercase;
    }
}
