.navbar {
    &__item {
        border-left: $border-width $border-style $border-color;
        font-family: $font-family-primary;

        &--logo {
            order: 6;

            @media screen and (min-width: $bp-md-min-width) {
                font-size: $font-size-md;
            }

            @media screen and (min-width: $bp-lg-min-width) {
                font-size: $font-size-lg;
            }
        }
    }

    a {
        color: $body-color;
        display: block;
        padding: $space-xs 0 $space-xs $space;
        text-decoration: none;

        &:hover {
            color: $color-primary;
        }

        &:focus {
            color: $color-primary;
        }
    }

    .is-active {
        background-color: $color-primary-075;
    }
}
