.navbar {
    font-family: $heading-font-family;
    font-weight: #{$heading-font-weight + 100};

    &__logo {
        font-size: $h2-font-size;
    }

    &__item {
        margin: 0;
    }

    a {
        box-shadow: none;
        color: $body-color;
        text-decoration: none;

        &:hover {
            color: $color-link;
        }

        &:focus {
            color: $color-link;
        }
    }

    .is-active a {
        color: $color-link;
    }
}

@media screen and (min-width: $bp-md-min-width) {
    .navbar {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

        &__logo {
            grid-column: 1 / 3;
            margin: 0;
        }

        &__menu {
            grid-column: 4 / -1;
            display: block;
            column-count: 1;
            margin: 0;
            text-align: right;
        }

        &__item {
            display: inline-block;

            &:not(:last-child) {
                margin-right: $space;
            }

            a {
                display: inline-block;
                text-align: left;
            }
        }
    }
}
