.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    // border-bottom: $border-width $border-style $border-color;
    margin-bottom: $space-xl;
    padding-top: $space;
    padding-bottom: $space;

    a {
        color: $text-color;
        text-decoration: none;

        &:hover {
            color: $link-color;
            text-decoration: none;
        }
    }

    &__brand {
        font-family: $font-family-brand;
        font-size: 1.75em;
        font-weight: $bold-font-weight;
    }

    // &__icon {
    //     width: 24px;
    //     height: 24px;
    // }

    &__menu {
        font-weight: $bold-font-weight;
        // letter-spacing: $letter-spacing;
        // text-transform: uppercase;
    }

    .is-active a {
        color: $link-color;
    }
}
