---
layout: default
---
<div class="row">
	<div id="archive" class="col-xs-12 col-lg-7 offset-lg-1">
		<div class="post">
			<div class="post-content">
				{% capture categories %}
					{% for category in site.categories %}
						{{ category[0] }}
					{% endfor %}
				{% endcapture %}
				{% assign sorted_categories = categories | split:' ' | sort %}
				{% for category in sorted_categories %}
					<h3 id="{{ category }}" class="text-capitalize">
						{% if category == 'articulos' %}
							artículos
						{% elsif category == 'inspiracion' %}
							inspiración
						{% else %}
							{{ category | replace: '-',' ' }}
						{% endif %}
					</h3>

					<ul class="list-inline">
						{% for post in site.categories[category] %}<li class="list-inline-item"><a href="{{ post.url }}">{{ post.title }}<!--  <small>{% include date.html %}</small> --></a></li>{% endfor %}
					</ul>
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="col-lg-3">
		{% include sidebar.html %}
	</div>
</div>





{% comment %}
<article id="categories" class="page">
	<header class="page-header">
		<h3 class="page-title">
			Archivo de publicaciones
		</h3>
	</header>

	{% capture categories %}
		{% for category in site.categories %}
			{{ category[0] }}
		{% endfor %}
	{% endcapture %}
	{% assign sorted_categories = categories | split:' ' | sort %}
	{% for category in sorted_categories %}
		<div class="posts-under">
			<h4 id="{{ category }}" class="page-subtitle">
				{{ category | replace: '-',' ' }}
			</h4>

			<ul>
				{% for post in site.categories[category] %}
					<li>
						<a href="{{ post.url }}">
							{{ post.title }}
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endfor %}
</article>
{% endcomment %}
