---
layout: default
---

{% for post in site.posts %}
    <article class="post post--{{ forloop.index }}">
        <header class="post__header">
            <div class="post__date small">
                {% include date.html %}
            </div>

            <h2 class="post__title h4">
                <a href="{{ post.url }}">
                    {{ post.title }}
                </a>
            </h2>
        </header>

        <div class="post__content post__content--excerpt">
            {{ post.excerpt }}
        </div>
    </article>
{% endfor %}