---
layout: default
---

<div class="layout-content">
	<section class="archive">
		<h2 class="archive-title">
			<a href="{{ site.baseurl }}/articulos">
				Artículos
			</a>
		</h2>

		<div class="archive-columns" data-columns>
			{% for post in site.categories['artículos'] limit: 10 %}
				<article class="teaser">
					<a class="teaser-link" href="{{ post.url }}">
						<h3 class="teaser-title">
							{{ post.title }}
						</h3>
						
						{% if post.image %}
							<img class="teaser-image" src="{{ post.image }}" alt="{{ post.title }}">
						{% endif %}
					</a>

					<div class="teaser-content">
						<p class="teaser-meta">
							Publicado en 
							{% assign sorted_categories = post.categories | sort %}
				      {% for category in sorted_categories %}
								<!-- <a class="teaser-category" href="{{ site.baseurl }}/">{{ category | replace: '-', ' ' }}</a> -->
								{% if category == 'artículos' %}
									<a class="teaser-category" href="{{ site.baseurl }}/articulos">artículos</a>
								{% elsif category == 'relatos' %}
									<a class="teaser-category" href="{{ site.baseurl }}/relatos">relatos</a>
								{% else %}
									<a class="teaser-category" href="{{ site.baseurl }}/momentos">momentos</a>
								{% endif %}
				      {% endfor %}
							{% include date.html %}
							<!-- por 
							{% assign author = site.authors[post.author] %}
							<a class="teaser-author" href="{{ site.baseurl }}/autor">
								{{ author.name }}
							</a> -->
						</p>

						<div class="teaser-intro">
							{{ post.excerpt }}
						</div>
					</div>
				</article>
			{% endfor %}
		</div>
	</section>
</div>

{% include sidebar.html %}