---
layout: default
---

<section class="introduction">
    <div class="container">
        <h1>Blog</h1>

        <p class="text-lg">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus
            quia optio commodi ipsum beatae dignissimos quod tempora dolorem eum
            nulla! Aliquam molestias nemo facilis ratione fugiat optio nobis
            natus quibusdam!
        </p>

        <hr>
    </div>
</section>

<section class="featured">
    <div class="container">
        <div class="grid grid--featured">
            <div class="grid__block grid__block--1">
                {% for post in site.tags.featured limit: 1 %}
                <article class="post post--featured-1">
                    <header class="post__header">
                        <div class="post__date">
                            {% include date.html %}
                        </div>

                        <h2 class="post__title">
                            <a href="{{ post.url }}">
                                {{ post.title }}
                            </a>
                        </h2>
                    </header>

                    {% if post.summary %}
                    <div class="post__content post__content--summary">
                        <p>
                            {{ post.summary | strip_html | strip_newlines |
                            truncatewords: 15 }}
                        </p>
                    </div>
                    {% else %}
                    <div class="post__content post__content--excerpt">
                        <p>
                            {{ post.excerpt | strip_html | strip_newlines |
                            truncatewords: 15 }}
                        </p>
                    </div>
                    {% endif %}

                    <footer class="post__footer"></footer>

                    {% if post.cover %}
                    <a class="preview-cover">
                        <div
                            class="preview-cover__bg"
                            style="background-image: url('{{ post.cover }}');"
                            href=""
                        ></div>
                    </a>
                    {% endif %}
                </article>
                {% endfor %}
            </div>
            <div class="grid__block grid__block--2">
                {% for post in site.tags.featured limit: 1 offset: 1 %}
                <article class="post post--featured-2">
                    {% if post.cover %}
                    <a class="preview-cover preview-cover--minh150">
                        <div
                            class="preview-cover__bg"
                            style="background-image: url('{{ post.cover }}');"
                            href=""
                        ></div>
                    </a>
                    {% endif %}

                    <header class="post__header">
                        <div class="post__date">
                            {% include date.html %}
                        </div>

                        <h2 class="post__title">
                            <a href="{{ post.url }}">
                                {{ post.title }}
                            </a>
                        </h2>
                    </header>

                    <footer class="post__footer"></footer>
                </article>
                {% endfor %}
            </div>
            <div class="grid__block grid__block--3">
                {% for post in site.tags.featured limit: 1 offset: 2 %}
                <article class="post post--featured-3">
                    <header class="post__header">
                        <div class="post__date">
                            {% include date.html %}
                        </div>

                        <h2 class="post__title">
                            <a href="{{ post.url }}">
                                {{ post.title }}
                            </a>
                        </h2>
                    </header>

                    {% if post.summary %}
                    <div class="post__content post__content--summary">
                        <p>
                            {{ post.summary | strip_html | strip_newlines |
                            truncatewords: 15 }}
                        </p>
                    </div>
                    {% else %}
                    <div class="post__content post__content--excerpt">
                        <p>
                            {{ post.excerpt | strip_html | strip_newlines |
                            truncatewords: 15 }}
                        </p>
                    </div>
                    {% endif %}

                    <footer class="post__footer"></footer>
                </article>
                {% endfor %}
            </div>
            <div class="grid__block grid__block--4">
                {% for post in site.tags.featured limit: 3 offset: 3 %}
                <article
                    class="post post--featured-{{ forloop.index | plus: 3 }}"
                >
                    <header class="post__header">
                        <div class="post__date">
                            {% include date.html %}
                        </div>

                        <h2 class="post__title h3">
                            <a href="{{ post.url }}">
                                {{ post.title }}
                            </a>
                        </h2>
                    </header>

                    <footer class="post__footer"></footer>
                </article>
                {% endfor %}
            </div>
            <div class="grid__block grid__block--5">
                {% for post in site.tags.featured limit: 1 offset: 6 %}
                <article class="post post--featured-5">
                    {% if post.cover %}
                    <a class="preview-cover preview-cover--wide">
                        <div
                            class="preview-cover__bg"
                            style="background-image: url('{{ post.cover }}');"
                            href=""
                        ></div>
                    </a>
                    {% endif %}

                    <header class="post__header">
                        <div class="post__date">
                            {% include date.html %}
                        </div>

                        <h2 class="post__title">
                            <a href="{{ post.url }}">
                                {{ post.title }}
                            </a>
                        </h2>
                    </header>

                    <footer class="post__footer"></footer>
                </article>
                {% endfor %}
            </div>
            <div class="grid__block grid__block--6">
                {% for post in site.tags.featured limit: 1 offset: 7 %}
                <article class="post post--featured-6">
                    {% if post.cover %}
                    <a class="preview-cover preview-cover--wide">
                        <div
                            class="preview-cover__bg"
                            style="background-image: url('{{ post.cover }}');"
                            href=""
                        ></div>
                    </a>
                    {% endif %}

                    <header class="post__header">
                        <div class="post__date">
                            {% include date.html %}
                        </div>

                        <h2 class="post__title">
                            <a href="{{ post.url }}">
                                {{ post.title }}
                            </a>
                        </h2>
                    </header>

                    <footer class="post__footer"></footer>
                </article>
                {% endfor %}
            </div>
        </div>

        <div class="view-more">
            <a href="">Ver todos los artículos destacados</a>
        </div>
    </div>
</section>

<section class="browse">
    <div class="container">
        <div class="grid grid--browse">
            <div class="grid__block grid__block--1">
                <div class="list-group list-group--latest-posts">
                    <h2 class="list-group__head">Últimas publicaciones</h2>
                    <ul class="list-group__body">
                        {% for post in site.posts limit: 10 %} {% unless post.tags contains
                        'featured' %}
                        <li>
                            <article class="post post--latest post--latest-{{ forloop.index }} ">
                                <div class="media-object">
                                    <div class="media-object__content">
                                        <header class="post__header">
                                            <div class="post__date">
                                                {% include date.html %}
                                            </div>

                                            <h3 class="post__title">
                                                <a href="{{ post.url }}">
                                                    {{ post.title }}
                                                </a>
                                            </h3>
                                        </header>

                                        {% if post.summary %}
                                        <div class="post__content post__content--summary">
                                            <p>{{ post.summary }}</p>
                                        </div>
                                        {% else %}
                                        <div class="post__content post__content--excerpt">
                                            {{ post.excerpt }}
                                        </div>
                                        {% endif %}

                                        <footer class="post__footer"></footer>
                                    </div>

                                    {% if post.cover %}
                                    <div class="media-object__right">
                                        <a class="preview-cover preview-cover--w100">
                                            <div
                                                class="preview-cover__bg"
                                                style="background-image: url('{{ post.cover }}');"
                                                href=""
                                            ></div>
                                        </a>
                                    </div>
                                    {% endif %}
                                </div>
                            </article>
                        </li>
                        {% endunless %} {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="grid__block grid__block--2">
                <div class="list-group list-group--by-category">
                    <h2 class="list-group__head">Por categoría</h2>
                    <ul class="list-group__body">
                        {% assign categories_list = site.categories | sort %} {% if
                        categories_list.first[0] == null %} {% for category in
                        categories_list %}
                        <li>
                            <a
                                href="#{{ category | downcase | downcase | url_escape | strip | replace: ' ', '-' }}"
                            >
                                {{ category | camelcase }}
                                <span class="amount">{{ site.categories[category].size }}</span>
                            </a>
                        </li>
                        {% endfor %} {% else %} {% for category in categories_list %}
                        <li>
                            <a
                                href="#{{ category[0] | downcase | url_escape | strip | replace: ' ', '-' }}"
                            >
                                {{ category[0] | camelcase }}
                                <span class="amount">{{ category[1].size }}</span>
                            </a>
                        </li>
                        {% endfor %} {% endif %} {% assign categories_list = nil %}
                    </ul>
                </div>
            </div>
            <div class="grid__block grid__block--3">
                <div class="list-group list-group--by-tag">
                    <h2 class="list-group__head">Por etiqueta</h2>
                    <ul class="list-group__body">
                        {% assign tags_list = site.tags | sort %} {% if
                            tags_list.first[0] == null %} {% for tag in
                        tags_list %}
                        <li>
                            <a
                                href="#{{ tag | downcase | downcase | url_escape | strip | replace: ' ', '-' }}"
                            >
                                {{ category | camelcase }}
                                <span class="amount">{{ site.tags[tag].size }}</span>
                            </a>
                        </li>
                        {% endfor %} {% else %} {% for tag in tags_list %}
                        <li>
                            <a
                                href="#{{ tag[0] | downcase | url_escape | strip | replace: ' ', '-' }}"
                            >
                                {{ tag[0] | camelcase }}
                                <span class="amount">{{ tag[1].size }}</span>
                            </a>
                        </li>
                        {% endfor %} {% endif %} {% assign tags_list = nil %}
                    </ul>
                </div>
            </div>
            <div class="grid__block grid__block--4">
                <div class="list-group list-group--by-year">
                    <h2 class="list-group__head">Por año</h2>
                    <ul class="list-group__body">
                        {% assign counter = 0 %} {% for post in site.posts %} {% assign
                        this_year = post.date | date: '%Y' %} {% assign prev_year =
                        post.previous.date | date: '%Y' %} {% assign counter = counter |
                        plus: 1 %} {% if this_year != prev_year %}
                        <li>
                            <a href="/journal/#{{ post.date | date: '%Y' }}"
                                >{{ this_year }}
                                <span class="amount">{{ counter }}</span></a
                            >
                        </li>
                        {% assign counter = 0 %} {% endif %} {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{% comment %} {% for post in paginator.posts %}
<article class="post post--{{ forloop.index }}">
    <img class="post__cover" src="{{ post.cover }}" alt="" />
</article>
{% endfor %} {% include paginator.html %} {% endcomment %}

<!-- -- -->

{% comment %} {% for post in paginator.posts %}
<article class="post post--{{ forloop.index }}">
    <header class="post__header">
        <h2 class="post__title h1">
            <a href="{{ post.url }}">
                {{ post.title }}
            </a>
        </h2>
    </header>

    {% if post.summary %}
    <div class="post__summary">
        <p>{{ post.summary }}</p>
    </div>
    {% endif %}

    <div class="post__content">
        {{ post.content }}
    </div>

    <footer class="post__footer">
        <ul class="list list--inline">
            <li>
                <a href="{{ post.url }}">{% include date.html %}</a>
            </li>
            <li>
                {% assign sorted_categories = post.categories | sort %} {% for
                category in sorted_categories %}
                <a
                    href="/blog{{ site.baseurl }}/category/{{
                        category | slugify
                    }}"
                    >{{ category | replace: '-', ' ' }}</a
                >{% if forloop.last == false %}, {% endif %} {% endfor %}
            </li>
        </ul>
    </footer>
</article>
{% endfor %} {% include paginator.html %} {% endcomment %}
