---
layout: default
---

<h1>Publicaciones recientes</h1>

<ul class="posts">
    {% for post in paginator.posts %}
    <li class="post post--{{ forloop.index }}">
        <div class="post__date">
            {% include date.html %}
        </div>

        <div class="post__title">
            <a href="{{ post.url }}">
                {{ post.title }}
            </a>
        </div>

        <!-- <div class="post__categories">
            <ul class="list list--inline">
                <li>
                    {% assign sorted_categories = post.categories | sort %} {%
                    for category in sorted_categories %}
                    <a
                        href="/blog{{ site.baseurl }}/category/{{
                            category | slugify
                        }}"
                        >{{ category | replace: '-', ' ' }}</a
                    >{% if forloop.last == false %}, {% endif %} {% endfor %}
                </li>
            </ul>
        </div>

        <div class="post__tags">
            <ul class="list list--inline">
                <li>
                    {% assign sorted_tags = post.tags | sort %} {% for tag in
                    sorted_tags %}
                    <a
                        href="/blog{{ site.baseurl }}/tag/{{
                            tag | slugify
                        }}"
                        >{{ tag | replace: '-', ' ' }}</a
                    >{% if forloop.last == false %}, {% endif %} {% endfor %}
                </li>
            </ul>
        </div> -->
    </li>
    {% endfor %}
</ul>

{% include paginator.html %}
