---
layout: default
---
<article class="post categories">
  <header class="post-header">
		<h1>Categories</h1>
	</header>

	{% capture categories %}
		{% for category in site.categories %}
			{{ category[0] }}
		{% endfor %}
	{% endcapture %}
	{% assign sorted_categories = categories | split:' ' | sort %}
	{% for category in sorted_categories %}
		<h3 id="{{ category }}">{{ category | replace: '-',' ' }}</h3>

		<ul>
		{% for post in site.categories[category] %}
			<li>
				{% if post.link %}
					<a class="post-title" href="{{ post.link }}">{{ post.title }}</a>
				{% else %}
					<a class="post-title" href="{{ post.url }}">{{ post.title }}</a>
				{% endif %}
			</li>
		{% endfor %}
		</ul>
	{% endfor %}
</article>
