---
layout: default
---

<div class="category-posts">
	<h2 class="category-posts__title">
		Estas leyendo todos los artículos publicados en la categoría «{{ page.category }}»
	</h2>

	{% for post in site.categories[page.category] %}
		<article class="post">
			<header class="post__header">
				<h2 class="post__title">
					<a class="post__link" href="{{ post.url }}">
						{{ post.title }}
					</a>
				</h2>

				<div class="post__meta">
					<!-- <span class="post__author">
						por
						{% assign author = site.authors['jonathan'] %}
						<a class="author-link" href="{{ site.baseurl }}/autor">
							{{ author.name }}
						</a>
					</span> -->
					<span class="post__date">
						{% include date.html %}
					</span>
					<span class="post__category">
						en
						{% assign sorted_categories = post.categories | sort %}
						{% for category in sorted_categories %}
							{% if category == 'codigo' %}<a class="category-link" href="{{ site.baseurl }}/categoria/{{ category }}">código
							{% elsif category == 'diseno' %}<a class="category-link" href="{{ site.baseurl }}/categoria/{{ category }}">diseño
							{% else %}<a class="category-link" href="{{ site.baseurl }}/categoria/{{ category }}">{{ category | replace: '-', ' ' }}
							{% endif %}</a>{% if forloop.last == false %}, {% endif %}
						{% endfor %}
					</span>
				</div>
			</header>

			<section class="post__content">
				{{ post.content }}
			</section>
		</article>
	{% endfor %}
</div>
