<!--

    Code to speak about life or death, love or hate.
    Code meant to be read, not run.

-->
<!DOCTYPE html>
<html lang="es">
    {% include head.html %} {% assign current = page.url | downcase | split: '/'
    %}
    <body
        class="body
        {% if page.url == '/' %}
            body--home
        {% elsif current[1] == 'articles' %}
            body--articles
        {% elsif current[1] == 'about' %}
            body--about
        {% elsif page.url == '/search' %}
            body--search
        {% endif %}"
    >
        <!-- Header -->

        {% include header.html %}

        <main class="main">
            <div class="container">
                <!-- Intro -->

                {% if page.url == '/' %} {% include intro.html %} {% endif %}

                <!-- Content -->

                {% unless page.url == '/' %}
                <div class="content">
                    {{ content }}
                </div>
                {% endunless %}

                <!-- Awesome block -->

                {% include awesome_block.html %}
            </div>
        </main>

        <!-- Footer -->

        {% include footer.html %}

        <!-- {% comment %}
        <h1 class="intro-title">
            {% if page.url == '/' %} Lorem ipsum dolor sit amet. {% elsif
            page.layout == 'category' %} «{{ page.category }}» {% elsif
            page.layout == 'articles' or page.url == '/search' %} {% else %}
            {{ page.title }}
            {% endif %}
        </h1>

        <div class="intro-content">
            {% if page.url == '/' %}
            <p class="h5">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde
                laudantium sed quod dolores quibusdam molestias praesentium
                doloribus magni est repellendus. Tempora in enim dolorum,
                suscipit itaque ab ipsam culpa voluptates.
            </p>
            {% elsif page.layout == 'category' %}
            <p class="h5">
                {% if page.description %}
                {{ page.description }}
                {% else %} Estas leyendo todos los artículos publicados en la
                categoría «{{ page.category }}». {% endif %}
            </p>
            {% elsif page.layout == 'articles' or page.url == '/search' %} {%
            include search_form.html %} {% endif %}
        </div>

        <div class="content">
            {% if page.url == '/' or page.layout == 'category' %}
            <hr />
            {% endif %}

            {{ content }}
        </div>

        {% include sidebar.html %}

        <hr />
        {% endcomment %} -->

        <script src="{{ '/js/lunr.min.js' | prepend: site.baseurl }}"></script>
        <script src="{{ '/js/search.js' | prepend: site.baseurl }}"></script>
        <script
            src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
            crossorigin="anonymous"
        ></script>
        <script src="{{ '/js/footprint.js' | prepend: site.baseurl }}"></script>
        <script src="{{ '/js/scripts.js' | prepend: site.baseurl }}"></script>
    </body>
</html>
