<!--

	Code to speak about life or death, love or hate.
	Code meant to be read, not run.

-->
<!DOCTYPE html>
<html>
	{% include head.html %}

	<body>
		{% include header.html %}

		<!-- <div class="container"> -->
			<div class="row cols-center">
				<div class="col-xs-12 col-md-11 col-xl-10">

					{{ content }}

					{% include footer.html %}
				</div>
			</div>
		<!-- </div> -->

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bricklayer/0.4.2/bricklayer.min.js"></script>
		<script src="{{ '/js/lunr.min.js' | prepend: site.baseurl }}"></script>
		<script src="{{ '/js/search.js' | prepend: site.baseurl }}"></script>
		<script src="{{ '/js/scripts.js' | prepend: site.baseurl }}"></script>
		<script>
			$(function() {
				var bricklayer = new Bricklayer(document.querySelector('.bricklayer'))

				var posts = [];
				{% for post in site.posts %}
					posts.push('{{ post.url }}');
				{% endfor %}

				var random_post_url = posts[Math.floor(Math.random() * posts.length)];
				$('.page-nav__link-random').attr('href', random_post_url);
			});
		</script>
	</body>
</html>
