<!--
  Code to speak about life or death, love or hate.
  Code meant to be read, not run.
-->
<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <main class="page-content" id="page-content">
      <div class="wrapper">
        <section>
          <h3 class="site-title">
            <a href="{{ site.baseurl }}/">Jonathan Zúñiga</a>
            /
            <a href="{{ site.baseurl }}/about">Autor</a>
          </h3>

          {% comment %}
          {% unless page.layout == 'page' or page.layout == 'post' %}
          <h1 class="site-description">
            {{ site.description }}
          </h1>
          {% endunless %}
          {% endcomment %}

          {{ content }}
        </section>
      </div>
    </main>

    {% include footer.html %}

    <script
      src="https://code.jquery.com/jquery-1.12.3.min.js"
      integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="
      crossorigin="anonymous"></script>
    <script src="{{ '/js/scripts.js' | prepend: site.baseurl }}" type="text/javascript"></script>
  </body>
</html>
