---
layout: default
---
<article class="post">
	<header class="post-header">
		<p>
			/
			<a class="permalink" href="{{ page.url }}">
				<strong>{{ page.url | remove_first:'/' }}</strong>
			</a>

			<time datetime="{{ post.date | date: "%Y-%m-%d" }}">
				{% assign months = 
					"Enero|Febrero|Marzo|Abril|Mayo|Junio|Julio|Agosto|Septiembre|Octubre|Noviembre|Diciembre" | 
					split: "|"
				%}
				{% assign m = page.date | date: "%-m" | minus: 1 %}
				{% assign day = page.date | date: "%d" %}
				{% assign month = months[m] %}
				{% assign year = page.date | date: "%Y" %}
				{{ month }} {{ day }}, {{ year }}
			</time>
		</p>

		<h2 class="post-title">{{ page.title }}</h2>
	</header>

	<div class="post-content">
		{{ content }}
	</div>
</article>
