---
layout: default
---

<section>
	<article class="page publications">
		<div class="page-inner">
			<header class="page-header">
				<h3 class="page-title">Publicaciones</h3>
			</header>

			{% for post in site.posts %}
				{% unless post.categories contains 'observations' %}
					<dl class="post">
						<dt class="post-header">
							<h3 class="post-title">
								<a href="{{ post.url }}">
									{{ post.title }}
								</a>
							</h3>
						</dt>

						<dd class="post-content">
							{{ post.excerpt }}
						</dd>
					</dl>
				{% endunless %}
			{% endfor %}

			<footer class="page-footer">
				<p>
					• • •
				</p>
			</footer>
		</div>
	</article>
</section>