---
layout: default
---

<div class="layout-content">
	<section class="archive">
		<h2 class="archive-title">
			<a href="{{ site.baseurl }}/historias">
				Historias
			</a>
		</h2>

		<div class="archive-columns" data-columns>
			{% for post in site.categories['historias'] limit: 10 %}
				<article class="teaser">
					<a class="teaser-link" href="{{ post.url }}">
						<h3 class="teaser-title">
							{{ post.title }}
						</h3>
						
						{% if post.cover %}
							<img class="teaser-image" src="{{ post.cover }}" alt="{{ post.title }}">
						{% endif %}
					</a>

					<div class="teaser-content">
						<p class="teaser-meta">
							{% include date.html %}
							por 
							{% assign sorted_authors = post.authors | sort %}
							{% for author in sorted_authors %}<!--
								-->{% unless forloop.index == 1 %}<span>,</span>{% endunless %} 
								{% assign author_items = site.authors[author] %}
								{% if author == 'jonathan' %}
									<a class="teaser-author" href="{{ site.baseurl }}/autor">
								{% else %}
									<a class="teaser-author" href="https://twitter.com/{{ author_items.twitter_username }}" target="_blank">
								{% endif %}
									{{ author_items.name }}<!--
								--></a><!--
							-->{% endfor %}
							en 
							{% assign sorted_categories = post.categories | sort %}
							{% for category in sorted_categories %}
								<!-- <a class="teaser-category" href="{{ site.baseurl }}/">{{ category | replace: '-', ' ' }}</a> -->
								{% if category == 'articulos' %}
									<a class="teaser-category" href="{{ site.baseurl }}/articulos">artículos</a>
								{% elsif category == 'historias' %}
									<a class="teaser-category" href="{{ site.baseurl }}/historias">historias</a>
								{% endif %}
							{% endfor %}
						</p>

						<div class="teaser-intro">
							{{ post.excerpt }}
						</div>
					</div>
				</article>
			{% endfor %}
		</div>
	</section>
</div>

{% include sidebar.html %}