---
layout: default
title: Tags
---
<div id="tags">
	{% capture tags %}
		{% for tag in site.tags %}
			{{ tag[0] }}
		{% endfor %}
	{% endcapture %}
	{% assign sorted_tags = tags | split:' ' | sort %}
	{% for tag in sorted_tags %}
		<h3 id="{{ tag }}">{{ tag | replace: '-',' ' }}</h3>

		<ul>
			<li>
				{% for post in site.tags[tag] %}
					<span>
						<a class="post-title" href="{{ post.url }}">{{ post.title }}</a>
						<!-- {% if post.link %}
							<a class="button post-link" href="{{ post.link }}" target="_blank" title="Go to this link">
								<small><i class="fa fa-external-link"></i></small>
							</a>
						{% endif %} -->
					</span>
				{% endfor %}
			</li>
		</ul>

		<!-- <ul>
		{% for post in site.tags[tag] %}
			<li>
				<time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%D" }}</time>
				<a class="post-title" href="{{ post.url }}">{{ post.title }}</a>
				{% if post.link %}
					<a class="button post-link" href="{{ post.link }}" target="_blank" title="Go to this link">
						<small><i class="fa fa-external-link"></i></small>
					</a>
				{% endif %}
			</li>
		{% endfor %}
		</ul> -->

		<hr>
	{% endfor %}
</div>
