---
layout: default
---
<article class="post tags">
  <header class="post-header">
		<h1>Tags</h1>
	</header>

	{% capture tags %}
	  {% for tag in site.tags %}
	    {{ tag[0] }}
	  {% endfor %}
	{% endcapture %}
	{% assign sorted_tags = tags | split:' ' | sort %}
	{% for tag in sorted_tags %}
	  <h3 id="{{ tag }}">{{ tag }}</h3>

	  <ul>
	  {% for post in site.tags[tag] %}
	    <li>
				{% if post.link %}
					<a class="post-title" href="{{ post.link }}">{{ post.title }}</a>
				{% else %}
	    		<a class="post-title" href="{{ post.url }}">{{ post.title }}</a>
				{% endif %}
	    </li>
	  {% endfor %}
	  </ul>
	{% endfor %}
</article>
